@charset "utf-8";
/* CSS Document */

/*************************/

.container{ 
	margin:0 auto;
	width:740px;
	height:auto;

}


.wrap01{ 
	margin:31px auto 51px;
	width:728px;
	padding-left:12px;

}


.wrap01 p{ 
	font-size:13px;
	color:#333;
	line-height:180%;
	margin-top:15px;
	letter-spacing:0.1em;
}

.wrap02{ 
	width:740px;
}


.wrap02left{ 
	width:288px;
	float:left;
}

.wrap02right{ 
	width:422px;
	float:left;
}

.wrap02right p{ 
	font-size:13px;
	color:#333;
	line-height:180%;
	margin-top:22px;
	letter-spacing:0.1em;
}

.imgmarg{ 
	margin-top:20px;
}

.wrap02right .ttl02{ 
	margin-top:16px;
	margin-bottom:21px;
}

.pointrinen{ 
	width:400px;
	height:87px;
	background:url(../img/bg.gif);
	padding-left:23px;
	padding-top:17px;
}



.wrap03{ 
	width:740px;
	text-align:center;
	padding-top:50px;
	margin-bottom:30px;
	clear:both;
}

.wrap03 .inner03{ 
	width:650px;
	padding-top:14px;
	padding-bottom:14px;
	background-color:#8B1A20;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	margin:auto;
}




@media (max-width: 640px) {
	
.container{ 
	margin:0 auto;
	width:100%;
	height:auto;

}

.imgsp100{ 
	width:100%;
	height:auto;

}

.wrap01{ 
	margin:20px auto;
	width:96%;
	padding-left:0;

}


.wrap01 p{ 
	font-size:13px;
	color:#333;
	line-height:180%;
	margin-top:15px;
	letter-spacing:0.1em;
}

.wrap02{ 
	width:96%;
	margin:auto;
}


.wrap02left{ 
	width:96%;
	float:none;
	text-align:center;
	margin:auto;
}

.wrap02right{ 
	width:96%;
	float:none;
	margin:auto;
}

.wrap02right p{ 
	font-size:13px;
	color:#333;
	line-height:180%;
	margin-top:22px;
	letter-spacing:0.1em;
}

.imgmarg{ 
	margin-top:20px;
}

.wrap02right .ttl02{ 
	margin-top:16px;
	margin-bottom:21px;
}

.pointrinen{ 
	width:96%;
	height:auto;
	background:url(../img/bg.gif);
	padding-left:23px;
	padding-top:17px;
	padding-bottom:17px;
}



.wrap03{ 
	width:100%;
	text-align:center;
	padding-top:30px;
	margin:0 auto 30px;
	clear:both;
}

.wrap03 .inner03{ 
	width:80%;
	padding-top:14px;
	padding-bottom:14px;
	background-color:#8B1A20;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	margin:auto;
}



}




@media (max-width: 370px) { 


.container img{ 
	max-width:100%;

}

.pointrinen{ 
	width:100%;
	height:auto;
	background:none;
	padding-left:0;
	padding-top:0;
	padding-bottom:0;
}

.wrap03 .inner03 img{ 
	width:96%;
}

}
