@charset "UTF-8";

.mt10{
margin-top:10px;
}

.mt15{
margin-top:15px;
}

.mt20{
margin-top:20px;
}

.mt30{
margin-top:30px;
}

.mt40{
margin-top:30px;
}

.mt130{
margin-top: 130px;
}

.mr7{
margin-right:7px;
}

.mr10{
margin-right:10px;
}

.mr15{
margin-right:15px;
}

.mr20{
margin-right:20px;
}

.mr30{
margin-right:30px;
}

.mr40{
margin-right:40px;
}

.mb0{
margin-bottom:0px;
}
.mb5{
margin-bottom:5px;
}
.mb10{
margin-bottom:10px;
}
.mb17{
margin-bottom:17px;
}
.mb20{
margin-bottom:20px;
}

.mb25{
margin-bottom:25px;
}

.mb30{
margin-bottom:30px;
}
.mb36{
margin-bottom:36px;
}

.mb40{
margin-bottom:40px;
}

.ml10{
margin-left:10px;
}

.ml15{
margin-left:15px;
}

.ml20{
margin-left:20px;
}

.ml30{
margin-left:30px;
}

.ml40{
margin-left:40px;
}

.ml45{
margin-left:45px;
}

.ml50{
margin-left:50px;
}


.pt10{
padding-top:10px;
}

.pt20{
padding-top:20px;
}

.pt30{
padding-top:30px;
}

.pt40{
padding-top:40px;
}

.pr10{
padding-right:10px;
}

.pr20{
padding-right:20px;
}

.pr30{
padding-right:30px;
}

.pr40{
padding-right:40px;
}

.pb10{
padding-botttom:10px;
}

.pb20{
padding-bottom:20px;
}

.pb30{
padding-bottom:30px;
}

.pb40{
padding-bottom:40px;
}

.pl10{
padding-left:10px;
}

.pl20{
padding-left:20px;
}

.pl30{
padding-left:30px;
}

.pl40{
padding-left:40px;
}





.fll{
float:left;
}

.flr{
float:right;
}

.tac{
text-align:center;
}

.tar{
text-align:right;
}
.tal{
text-align:left;
}






.fs10{
font-size:10px;
}

.fs11{
font-size:11px;
}

.fs12{
font-size:12px;
}

.fs13{
font-size:13px;
}

.fs14{
font-size:14px;
}

.fs16{
font-size:16px;
}

.fs18{
font-size:18px;
}

.fs20{
font-size:20px;
}
.fs32{
font-size:32px;
}

.fwb{
font-weight:bold;
}

/*width*/
.w100{
	width: 100px;
}

.w105{
	width: 105px;
}

.w110{
	width: 110px;
}

.w120{
	width: 120px;
}


/*color*/
.fcglay{
	color: #999;
}
.fcglay2{
	color: #666;
}
.fcred{
	color: #C3735C;
}


.bgblue{
background-color:#e7edf4;
}

/*Opacity*/
.op80{
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}
.op60{
  filter: alpha(opacity=60);
  -moz-opacity:0.6;
  opacity:0.6;
}
.op40{
  filter: alpha(opacity=40);
  -moz-opacity:0.4;
  opacity:0.4;
}
.op20{
  filter: alpha(opacity=20);
  -moz-opacity:0.2;
  opacity:0.2;
}​

.ofh{
	overflow: hidden;
	margin: 40px;
}
.h70{
	height: 70px;
}