@charset "Shift_JIS";

/*----------------------------------------------------
	layout[company.html]
----------------------------------------------------*/

.tinyTip { 
	width: 314px; 
	padding:0px; 
	display: block; 
	xbackground: url(../image/static/tinyTip-top.png) 0px 0px no-repeat; 
}
.tinyTip .content { 
	padding:8px; 
	font-size: 14px; 
	xfont-family: "Lucida Sans Unicode"; 
	color: #010101;  
	xbackground: url(../image/static/tinyTip-content.png) 0px 0px repeat-y;
	background:#20593f;
}
.tinyTip .bottom { 
	height: 14px; 
	background: url(../image/static/tinyTip-bottom.gif) center bottom no-repeat; 
	xfont: 0px/0px sans-serif; 
}

#static_company table {
	width:488px;
	float:right;
	margin-bottom:15px;
	border-collapse:collapse;
}

#static_company table th,
#static_company table td {
	border-bottom:dotted 1px #aaa;
	padding:5px 10px;
}

#static_company table th {
	background:#fafafa;
}

/*----------------------------------------------------
	layout[specific.html]
----------------------------------------------------*/
.arrowList li {
	padding:5px 0 5px 30px;
	background:url(../image/commons/arrow.gif) 10px 10px no-repeat;
}


/*----------------------------------------------------
	layout[history.html]
----------------------------------------------------*/
.dotlineList dl {
	width:660px;
	overflow:hidden;
	clear:both;
	background:url(../image/commons/dot_blue.gif) left bottom repeat-x;
	padding:12px 0;
}

.dotlineList dt {
	width:90px;
	float:left;
	padding-left:12px;
}

.dotlineList dd {
	width:550px;
	float:right;
}


/*----------------------------------------------------
	layout[privacy.html]
----------------------------------------------------*/

.static h3 {
	background:url(../image/commons/bg_title2.gif) 0 0 no-repeat;
	font-size:14px;
	font-weight:bold;
	padding:12px 0 12px 20px;
	margin-bottom:10px;
	line-height:1;
}

#privacy dl {
	width:650px;
	overflow:hidden;
	clear:both;
	padding-bottom:10px;
}

#privacy dl.last {
	padding-bottom:0;
}

#privacy dt {
	width:30px;
	float:left;
}

#privacy dd {
	width:620px;
	float:right;
}

img.top5 {
	position:relative;
	top:5px;
}

ul.dotList {
	padding-left:18px;
}

ul.dotList li {
	padding-left:3px;
	list-style-type:disc;
}


/*----------------------------------------------------
	layout[sitemap.html]
----------------------------------------------------*/

#sitemap ul li {
	background:url(../image/commons/arrow.gif) 0 4px no-repeat;
	padding-left:20px;
}

#sitemap ul.child {
	padding-bottom:10px;
}

#sitemap .child li {
	padding-left:10px;
	background:url(../image/static/dot_sitemap.gif) 2px 9px no-repeat;
}

#sitemap ul.child a:link,
#sitemap ul.child a:hover,
#sitemap ul.child a:visited {
	color:#6397c6;
}

#sitemap .sitemap_in {
	width:280px;
	padding:0 20px;
}