#shopping-cart__buy .contents_main {
	margin: 43px 0 86px;
}
#shopping-cart__buy .cart-buy {
	margin-top: 50px;
	overflow: hidden;
	width: 920px;
	margin-bottom: 100px;
}
#shopping-cart__buy .cart-buy__box {
	width: 450px;
	padding: 20px 34px 38px;
	background-color: #fff;
	border: 1px solid #c8c8c8;
	box-sizing: border-box;
}
#shopping-cart__buy .cart-buy__tit {
	font-size: 20px;
	font-weight: 700;
}
#shopping-cart__buy .cart-buy__note {
	color: #adadad;
	font-size: 14px;
}
#shopping-cart__buy .cart-buy__btn {
	margin: 0;
	border: none;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 380px;
	padding: 12px 0;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border-radius: 5px;
}
#shopping-cart__buy .cart-buy__login {
	float: left;
}
#shopping-cart__buy .cart-buy__login-titArea {
	overflow: hidden;
	margin-bottom: 25px;
	padding-bottom: 22px;
	border-bottom: 1px solid #c8c8c8;
}
#shopping-cart__buy .cart-buy__login-tit {
	float: left;
}
#shopping-cart__buy .cart-buy__login-note {
	float: right;
	margin-top: 5px;
	color: #adadad;
	font-size: 14px;
}
#shopping-cart__buy .cart-buy__login-txt {
	font-size: 14px;
	line-height: 1.42;
}
#shopping-cart__buy .cart-buy__login-form input[type=text],
#shopping-cart__buy .cart-buy__login-form input[type=password] {
	margin: 0;
	border: none;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	padding: 7px;
	border: 1px solid #c8c8c8;
}
#shopping-cart__buy .cart-buy__login-formTit {
	margin-top: 25px;
	font-size: 18px;
}
#shopping-cart__buy .cart-buy__login-formTit span {
	font-size: 14px;
}
#shopping-cart__buy .cart-buy__login-formForget {
	display: block;
	margin: 18px 0;
	font-size: 14px;
	text-align: center;
	text-decoration: underline;
}
#shopping-cart__buy .cart-buy__login-formForget:hover {
	text-decoration: none;
}
#shopping-cart__buy .cart-buy__login .login-btn {
	background-color: #f38400;
}
#shopping-cart__buy .cart-buy__notMember {
	float: right;
}
#shopping-cart__buy .cart-buy__guest {
	margin-bottom: 20px;
}
#shopping-cart__buy .cart-buy__guest-tit {
	margin-bottom: 38px;
	padding-bottom: 22px;
	border-bottom: 1px solid #c8c8c8;
}
#shopping-cart__buy .cart-buy__guest .guest-btn {
	background-color: #464646;
}
#shopping-cart__buy .cart-buy__add-titArea {
	overflow: hidden;
	margin-bottom: 28px;
	padding-bottom: 22px;
	border-bottom: 1px solid #c8c8c8;
}
#shopping-cart__buy .cart-buy__add-tit {
	float: left;
}
#shopping-cart__buy .cart-buy__add-note {
	float: right;
	margin-top: 5px;
	color: #adadad;
	font-size: 14px;
}
#shopping-cart__buy .cart-buy__add-txt {
	margin-bottom: 27px;
	font-size: 14px;
	line-height: 1.54;
}
#shopping-cart__buy .cart-buy__add .register-btn {
	background-color: #009d88;
}
@media screen and (max-width:767px) {
	#shopping-cart__buy .contents_main {
		margin: 16px 0 32px;
	}
	#shopping-cart__buy .cart-buy {
		width: auto;
		margin-bottom: 33px;
	}
	#shopping-cart__buy .cart-buy__box {
		width: auto;
		padding: 19px;
	}
	#shopping-cart__buy .cart-buy__tit {
		font-size: 16px;
	}
	#shopping-cart__buy .cart-buy__btn {
		width: 100%;
		padding: 7px 0;
		border-radius: 3px;
	}
	#shopping-cart__buy .cart-buy__login {
		float: none;
		margin-bottom: 20px;
	}
	#shopping-cart__buy .cart-buy__login-note {
		font-size: 10px;
	}
	#shopping-cart__buy .cart-buy__login-txt {
		font-size: 11px;
		line-height: 1.42;
		text-align: left;
	}
	#shopping-cart__buy .cart-buy__login-form input[type=text] {
		width: 100%;
		padding: 7px;
		border: 1px solid #c8c8c8;
	}
	#shopping-cart__buy .cart-buy__login-formTit {
		margin-top: 15px;
		margin-bottom: 3px;
		font-size: 15px;
		text-align: left;
	}
	#shopping-cart__buy .cart-buy__login-formTit span {
		font-size: 11px;
	}
	#shopping-cart__buy .cart-buy__login-formForget {
		margin: 13px 0;
		font-size: 11px;
	}
	#shopping-cart__buy .cart-buy__login .login-btn {
		background-color: #f38400;
	}
	#shopping-cart__buy .cart-buy__notMember {
		float: none;
	}
	#shopping-cart__buy .cart-buy__guest {
		margin-bottom: 20px;
	}
	#shopping-cart__buy .cart-buy__guest-tit {
		margin-bottom: 20px;
		text-align: left;
	}
	#shopping-cart__buy .cart-buy__guest .guest-btn {
		background-color: #464646;
	}
	#shopping-cart__buy .cart-buy__add-titArea {
		margin-bottom: 20px;
	}
	#shopping-cart__buy .cart-buy__add-note {
		font-size: 10px;
	}
	#shopping-cart__buy .cart-buy__add-txt {
		margin-bottom: 15px;
		text-align: left;
		font-size: 11px;
		line-height: 1.54;
	}
	#shopping-cart__buy .cart-buy__add .register-btn {
		background-color: #009d88;
	}
	#shopping-cart__buy .contents_foot {
		margin-bottom: 60px;
	}
}
#shopping-cart__buy .contents_wrap {
	width: 920px;
	margin: 0 auto 50px;
}
#shopping-cart__buy .confirm_main {
	position: relative;
	margin: 0 0 40px;
}
#shopping-cart__buy .confirm_side {
	right: 0;
	top: 0;
}
#shopping-cart__buy .confirm_side {
	padding-top: 127px;
}
#shopping-cart__buy .confirm_side_btn01 a {
	display: block;
	margin-bottom: 15px;
	padding: 23px 0;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background-color: #b22222;
	border-radius: 5px;
}
#shopping-cart__buy .confirm_side_table {
	padding: 5px 18px;
	background-color: #fff;
	border: 1px solid #c8c8c8;
}
#shopping-cart__buy .confirm_side_table .shopping_total {
	border-bottom: 1px solid #c8c8c8;
}
#shopping-cart__buy .confirm_side_table .shopping_total:last-child {
	border-bottom: none;
}
#shopping-cart__buy .confirm_side_table th {
	width: 120px;
	padding: 8px 0;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
}
#shopping-cart__buy .confirm_side_table td {
	padding: 8px 0;
	font-size: 14px;
	text-align: right;
}
#shopping-cart__buy .confirm_side_table .shopping_total2 {
	padding: 8px;
	border-bottom: 1px solid #c8c8c8;
}
#shopping-cart__buy .confirm_side_table .shopping_total2:last-child {
	border-bottom: none;
}
#shopping-cart__buy .confirm_side_table01 {
	background-color: #fcf2bb;
	border-bottom: none;
}
#shopping-cart__buy .confirm_side_txt01 {
	padding: 15px 18px;
	font-size: 14px;
	line-height: 1.42;
	background-color: #f5f3f1;
}
#shopping-cart__buy .confirm_foot {
	clear: both;
	width: 920px;
	padding-right: 260px;
	margin: 0 auto 50px;
}
@media screen and (max-width:767px) {
	#shopping-cart__buy .contents_wrap {
		width: auto;
	}
	#shopping-cart__buy .confirm_main,
	#shopping-cart__buy .confirm_side {
		float: none;
		width: auto;
	}
	#shopping-cart__buy .confirm_main {
		margin: 16px 0 5px;
	}
	#shopping-cart__buy .confirm_side {
		margin-bottom: 30px;
		padding-top: 0;
	}
	#shopping-cart__buy .confirm_side_table {
		padding: 5px 18px;
	}
	#shopping-cart__buy .confirm_side_table td,
	#shopping-cart__buy .confirm_side_table th {
		padding: 10px 0;
		font-size: 15px;
	}
	#shopping-cart__buy .confirm_side_table .shopping_total2 {
		padding: 8px;
	}
	#shopping-cart__buy .confirm_side_txt01 {
		padding: 15px 18px;
		font-size: 11px;
		line-height: 1.42;
		text-align: left;
	}
	#shopping-cart__buy .contents_foot {
		width: auto;
		margin-bottom: 30px;
		padding-right: 0;
	}


	#shopping-cart__buy .confirm_table_wrap th {
		font-size: 11px;
		line-height: 1.4;
		font-weight: bold;
		padding: 10px 5px;
		border-bottom: 1px solid #cdcdcd;
		text-align: left;
	}
	#shopping-cart__buy .confirm_table_wrap table {
		border-bottom: none!important;
		margin-bottom: 10px;
	}
	#shopping-cart__buy .confirm_table_wrap td {
		padding: 8px 0 12px;
	}

	#shopping-cart__buy .product_tit {
		font-size: 11px;
		line-height: 1.4;
		font-weight: bold;
		padding: 10px 5px;
		border-bottom: 1px solid #cdcdcd;
		text-align: left;
	}
	#shopping-cart__buy .product_box {
		padding: 12px 0;	
		font-size: 14px;
		line-height: 1.4;
		overflow: hidden;
	}
	#shopping-cart__buy .product_img {
		float: left;
		width: 75px;
		height: 75px;
		margin-right: -90px;
	}
	#shopping-cart__buy .product_box_txt {
		float: left;
		padding-left: 90px;
		width: 100%;
		font-size: 11px;
	}
	#shopping-cart__buy .product_box_tit {
		text-align: left;
	}
	#shopping-cart__buy .product_box_spec {
		text-align: right;
	}
	#shopping-cart__buy .product_box .yen {
		font-weight: bold;
	}
	#shopping-cart__buy .product_box .num {
		display: block;
	}

	#shopping-cart__buy .delivery {
		margin-bottom: 15px;
	}
	#shopping-cart__buy .delivery_tit {
		font-size: 11px;
		line-height: 1.4;
		font-weight: bold;
		padding: 10px 5px;
		border-bottom: 1px solid #cdcdcd;
		text-align: left;
	}
	#shopping-cart__buy .delivery_box {
		text-align: left;
		font-size: 11px;
		line-height: 1.5;
		padding: 12px 0 0;
	}
	#shopping-cart__buy .delivery_box_in {
		padding: 8px 12px 6px;
		background: #fafafa;
		border: 1px solid #eee;
	}
	#shopping-cart__buy .delivery_box_in p + p {
		margin-top: 0.2em;
	}
	#shopping-cart__buy .delivery_box span {
		font-weight: bold;
	}

	#shopping-cart__buy .point .memadd_table_02 {
		border-bottom: none!important;
		margin-bottom: 0;
	}
	#shopping-cart__buy .point td {
		padding: 3% 0;
	}
	#shopping-cart__buy #point_info table {
		margin-bottom: 20px;
	}
	#shopping-cart__buy #point_info td {
		display: block;
		padding: 6px 13px;
	}
	#shopping-cart__buy #point_info > div {
		border-bottom: 1px solid #eee;
	}
	#shopping-cart__buy #point_info td:first-child {
		font-weight: bold;
	}
	#shopping-cart__buy #point_info tr:last-child td:first-child {
	    border-bottom: 1px solid #ececec;
	}
	#submit_point {
		margin: 0;
	}
	#submit_point a {
		margin: 0;
		padding: 0;
	}

	#shopping-cart__buy .btn_nex_01 a {
		margin-bottom: 15px;
		font-weight: bold;
		width: 100%;
		line-height: 40px;
		height: 40px;
		padding: 0;
	}
	#shopping-cart__buy .bt_ret_01 a {
		font-weight: bold;
		width: 100%;
		line-height: 40px;
		height: 40px;
		padding: 0;
	}

	#shopping-cart__buy .inq_input_bt_03 {
		margin: 0;
		width: 100%;
	}
}
@media screen and (min-width:768px) {

	#shopping-cart__buy .confirm_main {
		padding-right: 260px;
	}
	#shopping-cart__buy .confirm_side {
		width: 235px;
		margin-bottom: 40px;
		position: absolute;
	}
	#shopping-cart__buy .product {
		margin-bottom: 20px;
	}
	#shopping-cart__buy .product_tit {
		font-size: 14px;
		line-height: 1.4;
		font-weight: bold;
		padding: 13px 10px 13px 20px;
		border-bottom: 1px solid #cdcdcd;
	}
	#shopping-cart__buy .product_box {
		padding: 15px 12px;	
		font-size: 14px;
		line-height: 1.4;
		overflow: hidden;
	}
	#shopping-cart__buy .product_img {
		float: left;
		width: 100px;
		height: 100px;
		margin-right: -130px;
	}
	#shopping-cart__buy .product_box_txt {
		float: left;
		padding-left: 130px;
	}
	#shopping-cart__buy .product_box .yen {
		font-weight: bold;
	}
	#shopping-cart__buy .product_box .num {
		margin-left: 14px;
	}

	#shopping-cart__buy .confirm_table_wrap td {
		padding: 10px 20px;
		font-size: 14px;
		line-height: 1.4;
	}

	#shopping-cart__buy .delivery {
		margin-bottom: 0;
	}
	#shopping-cart__buy .delivery_tit {
		font-size: 14px;
		line-height: 1.4;
		font-weight: bold;
		padding: 13px 10px 13px 20px;
		border-bottom: 1px solid #cdcdcd;
	}
	#shopping-cart__buy .delivery_box {
		padding: 20px;	
		font-size: 14px;
		line-height: 1.4;
	}
	#shopping-cart__buy .delivery_box_in {
		padding: 20px;	
		background: #fafafa;
		border: 1px solid #eee;
	}
	#shopping-cart__buy .delivery_box_in p {
		display: inline-block;
	}
	#shopping-cart__buy .delivery_box_in p + p {
		margin-left: 1em;
	}
	#shopping-cart__buy .delivery_box span {
		font-weight: bold;
	}
	#shopping-cart__buy .point {
		border-bottom: 1px solid #eee;
	}
	#shopping-cart__buy .confirm_point_txt {
		font-size: 14px;
		padding-top: 8px;
		padding-left: 10px;
	}
	#shopping-cart__buy .memadd_table_01 {
		margin-bottom: 20px;
	}
	#shopping-cart__buy .memadd_table_02 {
		border-bottom: none!important;
		margin-bottom: 5px;
	}
}
table.pt_conf {
	border-top: 1px solid #d7d7d7;
}
table.pt_conf thead {
	background-color: #f5f3f1;
}
table.pt_conf thead th {
	text-align: center;
	font-weight: 400;
}
table.pt_conf thead th[rowspan='2'] {
	padding: 36px 0 35px;
	width: 227px;
}
table.pt_conf thead td {
	text-align: center;
	font-size: 15px;
}
table.pt_conf tbody td {
	padding: 23px 25px;
	text-align: center;
	box-sizing: content-box;
}
table.pt_conf td,
table.pt_conf th {
	border-bottom: 1px solid #d7d7d7;
	font-size: 15px;
}
table.pt_conf td + td,
table.pt_conf th + th {
	border-left: 1px solid #d7d7d7;
}
@media screen and (max-width:767px) {
	table.pt_conf {
		border-bottom: 1px solid #e0e0e0;
	}
	table.pt_conf thead {
		display: none;
	}
	table.pt_conf tbody td {
		display: block;
		border: none;
		text-align: left!important;
		padding: 0;
		font-weight: 700;
	}
	table.pt_conf tbody td:before {
		display: inline-block;
		font: inherit!important;
		font-weight: 400!important;
	}
	table.pt_conf tbody td[data-order_date]:before {
		content: attr(data-order_date) ' : ';
	}
	table.pt_conf tbody td[data-order_date] .time {
		display: none;
	}
	table.pt_conf tbody td[data-order_number]:before {
		content: attr(data-order_number) ' : ';
	}
	table.pt_conf tbody td[data-pt]:before {
		content: attr(data-pt) ' : ';
	}
	table.pt_conf tbody td[data-plus]:before {
		content: attr(data-plus) ' : ';
	}
	table.pt_conf tbody td[data-minus]:before {
		content: attr(data-minus) ' : ';
	}
	table.pt_conf tr {
		display: block;
		padding: 27px 15px;
	}
	table.pt_conf tr:nth-child(2n-1) {
		background-color: #f5f3f1;
	}
}
table.history {
	border-top: 1px solid #d7d7d7;
}
table.history thead {
	background-color: #f5f3f1;
}
table.history thead th {
	text-align: center;
	font-weight: 400;
	padding: 21px 0;
}
table.history thead th.delivery,
table.history thead th.order_date,
table.history thead th.order_number,
table.history thead th.price {
	width: 222px;
}
table.history tbody td {
	padding: 13px 15px 14px;
	text-align: left;
	box-sizing: content-box;
}
table.history tbody td:nth-child(2) {
	text-align: center;
}
table.history tbody td[data-delivery] {
	text-align: center;
}
table.history tbody td[data-price] {
	text-align: right;
}
table.history td,
table.history th {
	border-bottom: 1px solid #d7d7d7;
	font-size: 15px;
}
table.history td + td,
table.history th + th {
	border-left: 1px solid #d7d7d7;
}
table.history .history__btn a {
	background: #f38400;
	color: #fff;
	line-height: 45px;
	display: inline-block;
	width: 104px;
	text-align: center;
	border-radius: 4px;
	font-size: 15px;
	
}
@media screen and (max-width:767px) {
	table.history {
		border-bottom: 1px solid #e0e0e0;
	}
	table.history thead {
		display: none;
	}
	table.history tbody td {
		display: block;
		border: none;
		text-align: left!important;
		padding: 0;
		font-weight: 700;
	}
	table.history tbody td:before {
		display: inline-block;
		font: inherit!important;
		font-weight: 400!important;
	}
	table.history tbody td[data-order_date]:before {
		content: attr(data-order_date) ' : ';
	}
	table.history tbody td[data-order_date] .time {
		display: none;
	}
	table.history tbody td[data-order_number]:before {
		content: attr(data-order_number) ' : ';
	}
	table.history tbody td[data-delivery]:before {
		content: attr(data-delivery) ' : ';
	}
	table.history tbody td[data-price]:before {
		content: attr(data-price) ' : ';
	}
	table.history tr {
		display: block;
		padding: 27px 15px;
		cursor: pointer;
	}
	table.history tr:nth-child(2n-1) {
		background-color: #f5f3f1;
	}
	table.history .history__btn {
		display: none;
	}

}
.history-detail-box {
	border: 3px solid #f9e577;
	padding: 2px;
	margin-bottom: 35px;
}
.history-detail-box .in {
	border: 1px solid #f9e577;
	padding: 23px;
}
.history-detail-box .detail {
	float: left;
	width: 680px;
}
.history-detail-box .detail a {
	text-decoration: underline;
}
.history-detail-box .detail .sub {
	margin: 0 0 8px;
	padding: 0;
}
.history-detail-box .detail .info {
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
}
.history-detail-box .detail .price {
	display: inline-block;
	margin-left: 15px;
	font-weight: 700;
	font-size: 18px;
}
.history-detail-box .detail .price .suffix {
	font-size: 14px;
}
.history-detail-box .detail .label-list__item {
	background-color: #f0f0f0;
	padding: 5px 10px;
	font-size: 14px;
	display: inline-block;
}
.history-detail-box .controle {
	text-align: right;
	float: right;
	width: 285px;
}
.history-detail-box .controle .label {
	width: 100%;
	margin-bottom: 30px;
}
@media screen and (max-width:767px) {
	.history-detail-box {
		border-width: 2px;
		padding: 1px;
		text-align: right;
	}
	.history-detail-box .in {
		padding: 15px 16px 12px;
	}
	.history-detail-box .detail {
		width: auto;
		float: none;
		margin-bottom: 20px;
	}
	.history-detail-box .detail .sub {
		text-align: left;
		font-size: 15px;
	}
	.history-detail-box .detail .info {
		font-size: 14px;
	}
	.history-detail-box .detail .price {
		display: block;
		font-size: 17px;
	}
	.history-detail-box .detail .price .suffix {
		font-size: 13px;
	}
	.history-detail-box .detail .label-list {
		width: 100%;
	}
	.history-detail-box .detail .label-list__item {
		display: block;
		text-align: left;
		font-size: 13px;
	}
	.history-detail-box .detail .label-list__item + .label-list__item {
		margin-top: 4px;
	}
	.history-detail-box .controle {
		width: auto;
		float: none;
	}
	.history-detail-box .controle .label {
		width: auto;
		font-size: 16px;
		margin-bottom: 15px;
	}
	.history-detail-box .controle a {
		/* ELTEX追記　*/
		/*display: block;
		text-align: center;*/
		font-size: 11px;
	}
}
.inp-table.detail th {
	width: 222px;
}
.inp-table.detail td {
	text-align: right;
	padding-right: 28px;
}
.inp-table.detail td,
.inp-table.detail th {
	padding-top: 8px;
	padding-bottom: 8px;
}
.inp-table textarea {width: 100%;height: 160px;resize: vertical;}
@media screen and (max-width:767px) {
	.inp-table.detail th {
		width: 100%;
	}
	.inp-table.detail td,
	.inp-table.detail th {
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
	.inp-table.detail td {
		padding-top: 1px!important;
		padding-bottom: 5px!important;
	}
}
/*! 
=========================================== */
.memadd_mb_02 {
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.memadd_mb_02 + .memadd_mb_02 + .memadd_mb_02 {
	margin-bottom: 10px;
}
@media screen and (max-width:767px) {
	.memadd_table_02_w_01,
	.memadd_table_02_w_02,
	.memadd_table_02_w_03,
	.memadd_table_02_w_04 {
		width: 25%;
	}
	.inq_input_bt_03 a {
		box-sizing: content-box;
		text-decoration: none;
		cursor: pointer;
		padding: 0 10px;
		line-height: 50px;
	}
	#submit_point a {
		background-color: #f38400;
		width: 100%;
		display: inline-block;
		line-height: 40px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		border-radius: 5px;
		margin-bottom: 20px;
	}
}
@media screen and (min-width:768px) {
	.ad_navi_in2 {
		box-sizing: content-box;
	}
	.cart_table_02_w_01 {
		width: 276px;
	}
	.cart_table_02_w_02 {
		width: 160px;
	}
	.cart_table_02_w_03 {
		width: 80px;
	}
	.cart_table_02_w_04 {
		width: 129px;
	}
	.ad_navi .ad_navi_in2 {
		width: 134px;
	}
	.inq_input_bt_03 a {
		box-sizing: content-box;
		text-decoration: none;
		cursor: pointer;
	}
	#submit_point a {
		background-color: #f38400;
		width: 490px;
		display: inline-block;
		line-height: 40px;
		margin: 0 auto;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		border-radius: 5px;
		margin-bottom: 20px;
	}
	.memadd_table_02_w_01 {
		width: 406px;
	}
	.memadd_table_02_w_02 {
		width: 100px;
	}
	.memadd_table_02_w_03 {
		width: 80px;
	}
	.memadd_table_02_w_04 {
		width: 80px;
	}
	.memadd_table_02 td {
		padding: 13px 10px;
	}
	.memadd_table_02 td:first-child {
		text-align: left;
	}
	.memadd_table_02 td:nth-child(2) {
		padding: 0 20px 0 0;
	}
	.memadd_table_02 td:nth-child(3) {
		text-align: center;
	}
	.new_tbl {
		width: 320px;
	}
	.new_tbl td {
		padding-right: 10px;
	}
	.new_tbl td:first-child {
		padding-right: 20px;
	}
}
.total_annotation {
	margin-bottom: 5px;
	font-weight: bold;
}
.goods-box__name.review {
	font-size: 14px;
	color: #777;
	margin-bottom: 12px;
}

.goods-box__name.review + .btn_review {padding: 0 5px;} 

.btn_review a {
	font-size: 15px;
	color: #fff;
	background-color: #f29b76;
	text-align: center;
	display: block;
	padding: 9px 0;
	border-radius: 5px;
}
.mod_btn01.btn_review {
	padding-top: 0 !important;
	background: none !important;
	border: none !important;
}
.mod_btn01.btn_review a {
	height: 47px !important;
	padding-top: 10px;
}
@media screen and (max-width:767px) {
	.goods-box-col5.review .goods-box__list {
		margin: -15px 0 0 -15px;
	}
	.goods-box-col5.review .goods-box__item {
		padding: 15px 0 0 15px;
		margin: 0;
		width: 50%;
	}
	.total_annotation {}
	.goods-box__name.review {
		font-size: 11px;
		margin-bottom: 7px;
		text-align: left;
	}
	.goods-box__name.review + .btn_review {}
	.btn_review a {
		font-size: 11px;
		padding: 8px 0;
	}
	.mod_btn01.btn_review a {
		height: 40px;
		font-size: 16px;
		font-weight: 500;
		padding-top: 12px;
		border-radius: 3px;
		/* ELTEX追記　*/
		display: block;
		text-align: center;
	}
}
.form-note-box-wrap {
	margin-top: 60px;
	margin-bottom: 100px;
	border: 3px solid  #c8c8c8;
	padding: 2px;
	background-color: #fff;
}
.form-note-box {
	border: 1px solid  #c8c8cc;
	padding: 15px 25px 20px;
}
.form-note-box__in {}
.form-note-box__in + .form-note-box__in {
	margin-top: 28px;
	padding-top: 38px;
	border-top: 1px solid  #c8c8c8;
}
.form-note-box__in:last-child {
	margin-top: 32px;
	padding-top: 29px;
}
.form-note-box__tit {
	font-size: 18px;margin-bottom: 11px;
	font-weight: bold;
}
.form-note-box__sub {
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	line-height: 1.3;
	background-image: -webkit-linear-gradient(left,#c8c8c8 4px,#fff 4px);
	background-image: linear-gradient(to right,#c8c8c8 4px,#fff 4px);
}
.form-note-box__txt {
	font-size: 14px;
	line-height: 1.9;
}
.form-note-box__txt + .form-note-box__sub {
	margin-top: 30px;
	letter-spacing: 0.03em;
}
.conf-table tr:first-child:last-child {
	background-color: #f5f3f1;
}
@media screen and (max-width:767px) {
	.form-note-box-wrap {
		margin: 30px 0 80px;
		border-width: 2px;
		padding: 1px;
	}
	.form-note-box {
		text-align: left;
		border-width: 1px;
		padding: 15px;
	}
	.form-note-box__in {}
	.form-note-box__in + .form-note-box__in {
		margin-top: 20px;
		padding-top: 25px;
	}
	.form-note-box__tit {
		font-size: 15px;
		margin-bottom: 8px;
	}
	.form-note-box__sub {
		font-size: 11px;
		margin-bottom: 15px;
	}
	.form-note-box__txt {
		font-size: 11px;
		line-height: 1.6;
	}
	.form-note-box__txt + .form-note-box__sub {
		margin-top: 20px;
	}
	.conf-table tr:first-child:last-child {
	}
}
#form_input .confirm_Area {margin-bottom: 100px;}
#form_input .confirm_Area a,
#form_input .confirm_Area input {
	width: 500px;
}

#form_confirm .confirm_Area {
	margin-bottom: 100px;
}
@media screen and (max-width:767px) {
	#form_input th,
	#form_confirm th {
		font-weight: 500;
		padding: 12px 15px;
	}
	#form_input td,
	#form_confirm td {padding-bottom: 7px;}
	#form_input .inp-table__td-note {display: block;}
	#form_input .btn-unsubscribe {
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
	#form_input .confirm_Area a,
	#form_input .confirm_Area input,
	#form_confirm .confirm_Area a,
	#form_confirm .confirm_Area input {font-size: 16px;}
	#form_donfirm .conf-table {margin-bottom: 30px;}
	#form_donfirm .mod_btn-backTop {margin-bottom: 30px;}
}

/*! --------------------------- */
#B4-2 .btn-unsubscribe,
#E1-1 .btn-unsubscribe,
#E1-2 .btn-unsubscribe,
#B4-4 .btn-unsubscribe {width: 100%;max-width: 495px;}
#B4-2 .confirm_Area,
#B4-4 .confirm_Area {margin-bottom: 100px;}
@media screen and (max-width:767px) {
	#B4-2 .confirm_Area,
	#B4-4 .confirm_Area {margin-bottom: 80px;}
}
#B4-3 p.left,
#B4-5 p.left {margin-top: -10px;}
#B4-3 p.left+p.left.txt-intro,
#B4-5 p.left+p.left.txt-intro {margin-top: 8px;}
@media screen and (max-width:767px) {
	#B4-3 p.left+p.left.txt-intro,
	#B4-5 p.left+p.left.txt-intro {margin-top: 10px;}
}
#B4-4 .txt-intro {margin-bottom: 25px;}
@media screen and (max-width:767px) {
	#B4-4 .txt-intro {margin-bottom: 10px;}
}

#B4-5 .confirm_Area{margin-top: 50px;margin-bottom: 100px;}
@media screen and (max-width:767px) {
	#B4-5 .confirm_Area{margin: 25px 0 80px;}
}
#E1-1 .inp-table__td-in input {width: 400px;}
@media screen and (max-width:767px) {
	#E1-1 .inp-table__td-in input {width: 100%;}
}
#E1-3 .thanks-txt {font-size: 14px;text-align: center;margin-top: -20px;}
/*! fixx --------------------------- */
#E1-1 .inp-table select {height: 50px;}
@media screen and (max-width:767px) {
	#B4-4 th,
	#B4-2 th {padding: 13px 25px;}
	#B4-4 td .inp-table__td-note02,
	#B4-2 td .inp-table__td-note02{display: none;}
	#B4-4 .inp-table__th-sub,
	#B4-2 .inp-table__th-sub {font-size: 12px;}
	#B4-2 .btn-unsubscribe,
	#E1-1 .btn-unsubscribe,
	#E1-2 .btn-unsubscribe,
	#B4-4 .btn-unsubscribe {font-size: 16px;}
	#B4-4 th br {display: none;}
	#B4-5 .confirm_Area a {font-size: 16px;}
	#E1-1 .inp-table th .inp-table__th-sub {font-size: 12px;}
	#E1-1 .inp-table th {font-size: 12px;padding: 14px 15px;}
	#E1-1 .inp-table td {padding-bottom: 10px;}
	#E1-3 .thanks-txt {font-size: 11px;margin-top: -5px;}
	#E1-3 .thanks-txt + .mod_btn-backTop {margin-bottom: 27px;}
	#E1-1 .inp-table select {height: 40px;}
}

/* ELTEX追加 */
#header #header_wrap #header_r #header_search input {
  border: 1px solid #c8c8c8;
  display: block;
  float: left;
  width: 300px;
  height: 34px;
  border-radius: 0;
	padding:0 30px 0 13px;
}
#shopping-cart__buy .confirm_side_btn01 a {
    display: block;
    margin-bottom: 15px;
    padding: 23px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: #b22222;
    border-radius: 5px;
    height: auto;
    width: auto;
}
#C3-2 .history-detail-box .controle a.link-text {
	display: inline-block;
}
#C3-2 .history-detail-box .controle a.link-text:last-child:before {
	display: none;
}
