/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


.wrap_con {
    width:946px;
	text-align:center;
	margin:20px auto 20px;
	padding-top:20px;
	padding-bottom:10px;
	background:#FFF;
	-webkit-box-shadow: 0 0 5px 0 #333; /* Safari, Chrome用 */
	-moz-box-shadow: 0 0 5px 0 #333; /* Firefox用 */
	box-shadow: 0 0 5px 0 #333; /* CSS3 */

}

.mt30mb50 {
	margin:30px auto 50px;
}

.wrap_price {
    width:710px;
	text-align:left;
	margin:20px auto 50px auto;
	border:#ccc solid 1px;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:25px;
}


.box_priceleft{
	float:left;
	display:inline-block;
}


.box_priceright{
	float:right;
	display:inline-block;
}

.wrap_price p.txt01{
	color:#392C19;
	line-height:150%;
	font-size:13px;
	margin:15px auto 5px;
	padding-top:15px;
	padding-bottom:15px;
	border-top:#CCC solid 1px;
	
}

.wrap_price p.txt02{
	font-size:20px;
	margin-bottom:15px;
}

.wrap_price p.txt03{
	margin-bottom:15px;
}



.wrap_pti{
	margin:60px auto;
}



.box_pti{
	background-image:url(/contents/shop/00000003/image/static/img/bag/pti_pic01.jpg);
	background-repeat:no-repeat;
	width:882px;
	float:right;
	text-align:left;
	padding-top:73px;
	margin-top:30px;
	margin-right:23px;
}


.pti_txt{
	width:540px;
	margin-bottom:15px;
	line-height:160%;
}

.pti_txt02{
	margin-bottom:15px;
	line-height:160%;
}


.box_pti02{
	width:882px;
	float:right;
	text-align:left;
	margin-top:20px;
	margin-right:23px;
}

.box_pti02 p{
	line-height:160%;
}


.pti_pic03{
	float:right;
	margin-left:10px;
	margin-bottom:10px;
}

.pti_pic04{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.wrap_point{
	width:912px;
	text-align:center;
	margin:50px auto 50px 10px;
}

.wrap_point p{
	margin:20px 20px;
	text-align:left;
}


.mb50{
	margin-bottom:50px;
}


@media screen and (max-width: 640px) {

.wrap_con {
    width:100%;
}

.image96{
	width:96%;
}

.wrap_price {
    width:85%;
    padding:15px;
    padding-top:20px;
	
}



.box_priceleft{
	width:100%;
	float:none;
	text-align:center;
	border-bottom:#ddd solid 1px;
	padding-bottom:15px;
	margin-bottom:15px;
}



.box_priceright{
	width:100%;float:none;
}


.wrap_pti{
	margin:30px auto;
}

.box_pti{
	background-image:url(/contents/shop/00000003/image/static/img/bag/pti_pic01.jpg);
	background-repeat:no-repeat;
	width:94%;
	float:none;
	text-align:left;
	padding-top:73px;
	margin-top:15px;
	margin-left:3%;
	display:block;
}

.pti_txt{
	width:100%;
	margin-bottom:15px;
	line-height:160%;
	display:block;
	float:none;
}

.box01{
	width:94%;
	float:none;
	text-align:left;
	margin-top:20px;
	margin-left:3%;
	display:block;
}



.box_pti02{
	width:100%;
	float:none;
	text-align:left;
	margin-top:20px;
	margin-left:3%;
	display:block;
}

.box_pti02{
	width:94%;
	margin-bottom:15px;
	line-height:160%;
	display:block;
	float:none;
}

.pti_pic03{
	float:none;
	margin-left:0px;
	margin-bottom:10px;
	display:block;
}


.wrap_point{
	width:96%;
	text-align:center;
	margin:50px auto 50px 10px;
}

.wrap_price p.txt01{
	font-size:11px;
}

.temp_tit_05{

	margin-bottom:10px;
}

.pti_pic04{
	width:100%;
}


}


