@charset "utf-8";
/* CSS Document */

/*************************/


.sp_wp {
	width:956px;
	box-shadow:0px 0px 7px #999999;
	margin:20px auto 30px;
	background-color:#FFFFFF;
	overflow:hidden;
	padding-top:18px;
	padding-bottom:8px;
	text-align:center;
}


.wrap_btn01{ 
	margin:0 auto;
	width:900px;
	background:url(/contents/shop/00000003/image/static/img/manganihon/main_bottom.jpg) no-repeat left top;
}

.wrap_shuroku{ 
	margin:0 auto;
	width:894px;
	background:url(/contents/shop/00000003/image/static/img/manganihon/shuroku_bg.gif) ;
	padding-left:6px;
}


.mt68{ 
	margin-top:38px;
}

.mb30{ 
	margin-bottom:30px;
}

.wrap_btn02{ 
	margin-bottom:16px;
}

.wrap_shuroku ul{ 
	margin:0 auto;
	width:900px;
	background:url(/contents/shop/00000003/image/static/img/manganihon/shuroku_bg.jpg);
	text-align:left;
	list-style-type: none;
}


.wrap_shuroku ul:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

/*\*/
* html .wrap_shuroku ul {
    height: 1em;
}

.wrap_shuroku ul {
    display: block;
}
/**/


.wrap_shuroku ul li{ 
	margin:0 auto 18px 28px;
	width:402px;
	float:left;
	
}



#contents_l{
	display:none !important;
}


#contents_r {
	width:960px;
	display:inline;
	float:none;
}




@media (max-width: 640px) {

.sp_wp {
	width:94%;
	box-shadow:0px 0px 7px #999999;
	margin:0px auto 30px;
	background-color:#FFFFFF;
	overflow:hidden;
	padding-top:18px;
	padding-bottom:0;
	text-align:center;
}

.sp_wp img{
	width:94%;
}

.wrap_btn01{ 
	margin:0 auto 10px;
	width:94%;
	background:url(/contents/shop/00000003/image/static/img/manganihon/main_bottom02.jpg) no-repeat left top;
}

.wrap_btn01 img{ 
	width:92%;
}

.wrap_shuroku{ 
	margin:0 auto;
	width:94%;
	background:url(/contents/shop/00000003/image/static/img/manganihon/shuroku_bg.gif) ;
	padding-left:0;
}



.wrap_shuroku ul{ 
	margin:0 auto;
	width:94%;
	text-align:center;
}
.wrap_shuroku ul li{ 
	margin:0 auto 8px auto;
	width:94%;
	float:none;
}

.mt68{ 
	margin-top:0;
}

}



