

/* ===========グローバルサーチ============== */

.ad_navi .ad_navi_in3 {
	border:#dff3ee 2px solid;
	text-align:center;
	background:#c7e5de;
	color:#698e86;
	height:30px;
	font-size:16px;
	line-height:30px;
	width:133px;
}


/* ===========/グローバルサーチ============== */


