@charset "UTF-8";
	#contents #contents_r {
		display: block\9;
		width: 740px\9;
		margin-right: 20px\9;
		font-size: 14px\9;
		float:left\9;
	}
@media screen and (min-width: 640px) {
	#contents #contents_r {
		display: block;
		width: 740px;
		margin-right: 20px;
		font-size: 14px;
		float:left;
	}
}