@charset "Shift_JIS";

/* --------------------------------------------------------------------------------------
 基本設定
--------------------------------------------------------------------------------------- */

/* 基本フォント ------------------------------ */

body,td,th,h1,h2,h3,h4,h5,h6 {
	color: #666666;
	font-family: Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 1.5;
}


/* 基本タグ ------------------------------ */

body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
p,blockquote,pre,cite,code,caption,
form,fieldset,legend,input,textarea,select,option,label {
	margin: 0;
	padding: 0;
}

body {
	background: url(common/bg_body.jpg) repeat-x;
	text-align: center;
}

img,table {
	border: none;
}

table {
	border-collapse: collapse;
}

ul {
	list-style: none;
}

li img,
dl img {
	vertical-align: bottom;
}

address,em,cite {
	font-style: normal;
}


/* 基本テキストリンク ------------------------------ */

a:link,
a:visited {
	color: #990066;
	text-decoration: underline;
}
a:hover,
a:active {
	color: #990066;
	text-decoration: none;
}


/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
.clearfix { display:inline-block; }
/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/


/* --------------------------------------------------------------------------------------
 レイアウト枠
--------------------------------------------------------------------------------------- */

div#wrap {
	width: 810px;
	margin: 0 auto;
	background: url(common/bg_contents_rp.gif) repeat-y;
	text-align: left;
}

div#wrapInner {
	padding: 0 5px;
	background: url(common/bg_contents_tp.jpg) no-repeat;
}

div#contentsArea {
	width: 740px;
	margin: 0 auto;
}


/* --------------------------------------------------------------------------------------
 ヘッダー
--------------------------------------------------------------------------------------- */

div#header {
	position: relative;
	width: 800px;
	padding: 13px 0 0;
}


/* logo ------------------------------ */

div#header h1,
div#header strong {
	display: block;
	margin: 0 0 9px 20px;
}


/* headerBtn ------------------------------ */

dl.headerBtn {
	position: absolute;
	top: 16px;
	left: 559px;
	width: 232px;
	font-size: 0;
	line-height: 0;
}
dl.headerBtn:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
dl.headerBtn { display:inline-block; }
/*\*/
* html dl.headerBtn { height:1%; }
dl.headerBtn { display:block; }
/**/

dl.headerBtn dt,
dl.headerBtn dd {
	float: left;
}

dl.headerBtn dt {
	width: 108px;
	padding-top: 7px;
	/*\*/clear: both;/**/
}


/* navigation ------------------------------ */

ul#nav {
	position: relative;
	width: 800px;
}
ul#nav:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
ul#nav { display:inline-block; }
/*\*/
* html ul#nav { height:1%; }
ul#nav { display:block; }
/**/

ul#nav li {
	float: left;
}

ul#nav ul {
	position: absolute;
	top: 54px;
	left: 101px;
	display: none;
}

ul#nav ul li {
	float: none;
}


/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

div#footer {
	width: 798px;
	margin: 0 1px;
	padding: 20px 0 45px;
	background: url(common/footer_bg.gif) repeat-x;
}
div#footer:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
div#footer { display:inline-block; }
/*\*/
* html div#footer { height:1%; }
div#footer { display:block; }
/**/

div#footer ul {
	float: left;
	width: 560px;
	color: #999999;
}

div#footer ul li {
	display: inline;
}

div#footer ul li a:link,
div#footer ul li a:visited {
	color: #999999;
	text-decoration: none;
}
div#footer ul li a:hover,
div#footer ul li a:active {
	color: #999999;
	text-decoration: underline;
}

div#footer address {
	float: right;
	width: 229px;
}


/* --------------------------------------------------------------------------------------
 共通コンテンツ
--------------------------------------------------------------------------------------- */

.px10 {
	font-size: 10px;
}


/* topicPath ------------------------------ */

ul#topicPath {
	padding: 20px 0 5px;
	text-align: right;
	font-size: 10px;
}

ul#topicPath li {
	display: inline;
}

ul#topicPath li a:link,
ul#topicPath li a:visited {
	color: #666666;
	text-decoration: none;
}
ul#topicPath li a:hover,
ul#topicPath li a:active {
	color: #666666;
	text-decoration: underline;
}


/* lead ------------------------------ */

p.lead {
	margin-top: 20px;
	font-size: 14px;
}


/* box ------------------------------ */

div.section {
	margin: 20px 0 0;
	padding: 14px;
	border: 1px solid #cccccc;
	background: #faf0f5;
}
#course div.section {
	padding-top: 0;
}

div.lineBlock {
	padding: 2px;
	border: 1px solid #cccccc;
	background: #ffffff;
}
#course div.lineBlock {
	margin-top: 10px;
}
#profile div.lineBlock {
	margin: 10px 0 40px;
}
#qa div.lineBlock {
	margin-bottom: 20px;
}


/* present01 ------------------------------ */

div.presentBox01 {
	margin: 20px 0 0;
	padding: 20px 0;
	border: 1px solid #e699cc;
	background: url(common/present01_bg.jpg) repeat-x;
}
#course div.presentBox01 {
	margin-top: 10px;
}
div.presentBox01:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
div.presentBox01 { display:inline-block; }
/*\*/
* html div.presentBox01 { height:1%; }
div.presentBox01 { display:block; }
/**/

div.presentBox01 h3,
div.presentBox01 h4 {
	padding-bottom: 17px;
	text-align: center;
}

div.presentBox01 div.txtBox {
	float: left;
	width: 545px;
	margin: 0 10px 0 18px;
	display: inline;
}

div.presentBox01 div.txtBox p.notes {
	margin-bottom: 10px;
	color: #cc3399;
	font-size: 10px;
}

div.presentBox01 p.img {
	float: left;
	width: 144px;
}


/* present02 ------------------------------ */

div.presentBox02 {
	margin: 10px 0 0;
	padding: 4px 0 0;
	border: 1px solid #cccccc;
	background: #faf0f5;
}
div.presentBox02:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
div.presentBox02 { display:inline-block; }
/*\*/
* html div.presentBox02 { height:1%; }
div.presentBox02 { display:block; }
/**/

div.presentBox02 div.txtBox {
	float: left;
	width: 580px;
	padding-top: 15px;
}

div.presentBox02 div.txtBox h4,
div.presentBox02 div.txtBox p {
	margin: 10px 0 0 15px;
}

div.presentBox02 div.txtBox h4 {
	color: #ff3399;
	font-size: 16px;
	font-weight: bold;
}

div.presentBox02 p.img {
	float: right;
	width: 147px;
}


/* bottomBtn ------------------------------ */

div.bottomBtn {
	width: 609px;
	margin: 40px auto 0;
}
#gallery div.bottomBtn {
	margin-top: 20px;
}
#course #courseLead div.bottomBtn {
	margin-top: 5px;
}
div.bottomBtn:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
div.bottomBtn { display:inline-block; }
/*\*/
* html div.bottomBtn { height:1%; }
div.bottomBtn { display:block; }
/**/

div.bottomBtn p {
	float: left;
}

div.bottomBtn p.try {
	float: none;
	padding-bottom: 10px;
	text-align: center;
}


/* pagetop ------------------------------ */

p.pagetop {
	margin: 40px 15px 0 0;
	text-align: right;
}

p.pagetop02 {
	margin: 3px 0 19px;
	text-align: right;
}


/* --------------------------------------------------------------------------------------
 TOP
--------------------------------------------------------------------------------------- */

#top h2 {
	margin-top: 40px;
}


/* point ------------------------------ */

#top div.pointBox {
	width: 740px;
	margin: 10px 0 0;
	background: url(image/c23/point_bg_rp.gif) repeat-y;
}

#top div.pointBoxInner {
	width: 740px;
	padding: 0 0 20px;
	background: url(image/c23/point_bg_bt.jpg) no-repeat left bottom;
}

#top div.pointBox2 {
	width: 370px;
	margin: 10px 0 0;
	
}

#top div.pointBoxInner2 {
	width: 370px;
	padding: 0 0 20px;
	background: url(image/c23/point_bg_bt.jpg) no-repeat left bottom;

}

#top div.pointBoxInner:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#top div.pointBoxInner { display:inline-block; }
/*\*/
* html #top div.pointBoxInner { height:1%; }
#top div.pointBoxInner { display:block; }
/**/

#top div.pointLeft {
	float: left;
	width: 365px;
}

#top div.pointRight {
	float: right;
	width: 365px;
}

#top div.pointBox h3 {
	padding-bottom: 6px;
}

#top div.pointBox p.img {
	float: left;
	width: 152px;
	text-align: center;
}

#top div.pointBox div.txtBox {
	float: left;
	width: 200px;
}

#top div.pointBox div.txtBox h4 {
	margin-bottom: 10px;
}

#top div.pointBox div.txtBox p {
	font-size: 10px;
}


/* request ------------------------------ */

#top div.requestBox {
	width: 740px;
	margin: 10px 0 0;
	background: url(image/c23/request_bg_rp.jpg) repeat-y;
}

#top div.requestBoxInner {
	width: 740px;
	background: url(image/c23/request_bg_bt.jpg) no-repeat left bottom;
}

#top div.requestBoxInner02 {
	width: 740px;
	padding: 20px 0 17px;
	background: url(image/c23/request_bg_tp.gif) no-repeat;
}
#top div.requestBoxInner02:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#top div.requestBoxInner02 { display:inline-block; }
/*\*/
* html #top div.requestBoxInner02 { height:1%; }
#top div.requestBoxInner02 { display:block; }
/**/

#top div.requestBox dl {
	float: left;
	width: 482px;
}

#top div.requestBox dl dt,
#top div.requestBox dl dd {
	margin-left: 20px;
}

#top div.requestBox dl dt {
	margin-bottom: 10px;
	font-size: 0;
	line-height: 0;
}

#top div.requestBox dl dd {
	font-size: 10px;
	line-height: 1.8;
}

#top div.requestBox dl dd span {
	font-size: 9px;
}

#top div.requestBox div.btn {
	float: left;
	width: 224px;
	padding-top: 16px;
	text-align: center;
}

#top div.requestBox div.btn p {
	margin-bottom: 10px;
}


/* course ------------------------------ */

/* courseBox01 */

#top div.courseBox01 {
	width: 740px;
	margin: 10px 0;
	background: url(image/c23/course_bg01_rp.gif) repeat-y;
}

#top div.courseBox01Inner {
	width: 740px;
	padding: 0 0 17px;
	background: url(image/c23/course_bg01_bt.gif) no-repeat left bottom;
}
#top div.courseBox01Inner:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#top div.courseBox01Inner { display:inline-block; }
/*\*/
* html #top div.courseBox01Inner { height:1%; }
#top div.courseBox01Inner { display:block; }
/**/

#top div.courseLeft,
#top div.courseRight {
	float: left;
	width: 240px;
	text-align: center;
}
#top div.courseRight {
	float: right;
}

#top div.courseRightBox {
	float: right;
	width: 490px;
}

#top div.courseBox01 h3 {
	margin-bottom: 8px;
}

#top div.courseBox01 dl.recommend {
	padding-top: 12px;
}

#top div.courseBox01 dl.recommend dd,
#top div.courseBox01 p.txt {
	margin: 5px 5px 0 10px;
	text-align: left;
}

#top div.courseBox01 dl.recommend dd.green {
	color: #99cc00;
}
#top div.courseBox01 dl.recommend dd.orange {
	color: #ff9900;
}
#top div.courseBox01 dl.recommend dd.blue {
	color: #66cccc;
}

#top div.courseBox01 p.txt {
	margin-bottom: 10px;
}

/* courseBox02 */

#top div.courseBox02 {
	padding: 0 0 10px;
	border: 1px solid #cccccc;
}
#top div.courseBox02:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#top div.courseBox02 { display:inline-block; }
/*\*/
* html #top div.courseBox02 { height:1%; }
#top div.courseBox02 { display:block; }
/**/

#top div.courseBox02 h3 {
	padding-bottom: 10px;
}

#top div.courseBox02 p.img {
	float: left;
	width: 200px;
	margin: 0 15px 0 10px;
	display: inline;
}

#top div.courseBox02 div.txtBox {
	float: left;
	width: 504px;
}

/* leftBox */
#top div.courseBox02 div.leftBox {
	float: left;
	width: 240px;
}

#top div.courseBox02 div.leftBox dl {
	padding-bottom: 5px;
	color: #cc3399;
}

/* rightBox */
#top div.courseBox02 div.rightBox {
	float: right;
	width: 250px;
}

#top div.courseBox02 div.rightBox p.purple {
	padding: 5px 0;
	color: #cc3399;
}

#top div.courseBox02 div.rightBox p.certificate {
	float: left;
	width: 45px;
	margin-right: 10px;
}

#top div.courseBox02 div.txtBox p.btn {
	padding-top: 10px;
	text-align: center;
	clear: both;
}


/* voice ------------------------------ */

#top div.voiceBlock {
	width: 740px;
	margin: 10px 0 0;
	padding: 15px 0;
	background: #f1f1f1;
}

#top div.voiceBox {
	width: 700px;
	margin: 0 0 0 22px;
	background: url(image/c23/voice_bg_rp.gif) repeat-y;
}

#top div.voiceBoxInner {
	width: 700px;
	padding: 0 0 35px;
	background: url(image/c23/voice_bg_bt.gif) no-repeat left bottom;
}
#top div.voiceBoxInner:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#top div.voiceBoxInner { display:inline-block; }
/*\*/
* html #top div.voiceBoxInner { height:1%; }
#top div.voiceBoxInner { display:block; }
/**/

#top div.voice {
	float: left;
	width: 350px;
	padding: 5px 0 0;
	background: url(image/c23/voice_bg_tp.gif) no-repeat;
}

#top div.voiceBox p.img {
	float: left;
	width: 110px;
	padding-top: 10px;
	text-align: right;
}

#top div.voiceBox div.txtBox {
	float: left;
	width: 230px;
}

#top div.voiceBox div.txtBox p {
	margin-right: 10px;
	font-size: 10px;
}

#top div.voiceBox div.txtBox p.name {
	margin: 0 0 10px;
	color: #990066;
	font-size: 12px;
	font-weight: bold;
}


/* --------------------------------------------------------------------------------------
 COURSE
--------------------------------------------------------------------------------------- */

#course h2 {
	margin: 0 -14px 20px;
}


/* detailBox01 ------------------------------ */

#course div.detailBox01 {
	padding: 9px;
	border: 1px solid #e5e5e5;
}
#course #purchase div.detailBox01 {
	padding-bottom: 25px;
}

/* lead */

#course #courseLead {
	margin-top: 5px;
	font-size: 14px;
}

/* courseTxt */

#course div.detailBox01 p.courseTxt {
	margin-top: 10px;
	line-height: 1.1;
}

/* purchase */

#course #purchase h3 {
	padding-bottom: 5px;
}

#course #purchase p {
	padding-top: 10px;
}

/* kit */

#course h3.kit {
	padding-bottom: 5px;
}

#course div.kitBox {
	width: 678px;
	margin: 10px 0 0;
}
#course div.kitBox:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#course div.kitBox { display:inline-block; }
/*\*/
* html #course div.kitBox { height:1%; }
#course div.kitBox { display:block; }
/**/

#course div.kitBox p.img {
	float: left;
	width: 300px;
}

#course div.kitBox div.txtBox {
	float: right;
	width: 365px;
}

#course div.kitBox div.txtBox h4 {
	color: #990066;
	font-size: 14px;
	line-height: 1.1;
}

#course div.kitBox div.txtBox p {
	margin-top: 5px;
}

#course div.kitBox div.txtBox p.kitDetail {
	color: #990066;
	font-size: 10px;
}

/* tuition */

#course h3.tuition {
	margin-top: 40px;
}

#course div.tuitionBox {
	margin: 10px 0 0;
	padding: 10px 0 10px 150px;
	border: 1px solid #e699cc;
}

#course div.tuitionBox table th,
#course div.tuitionBox table td {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8;
	vertical-align: bottom;
}

#course div.tuitionBox table th {
	width: 165px;
	text-align: left;
}

#course div.tuitionBox table td span {
	font-weight: bold;
}

#course div.tuitionBox table td em {
	color: #990066;
	font-size: 20px;
	line-height: 1.4;
}

#course div.tuitionBox table td td {
	text-align: right;
}

#course div.tuitionBox table tr.border th,
#course div.tuitionBox table tr.border td {
	background: url(image/course_pro/tuition_bg.gif) repeat-x 0 1.35em;
}


/* detailBox02 ------------------------------ */

#course div.detailBox02 {
	width: 710px;
	margin: 20px 0 0;
	background: url(image/course_pro/course_bg_rp.gif) repeat-y;
}

#course div.detailBox02Inner {
	width: 710px;
	padding: 0 0 20px;
	background: url(image/course_pro/course_bg_bt.gif) no-repeat left bottom;
}
#course div.detailBox02Inner:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#course div.detailBox02Inner { display:inline-block; }
/*\*/
* html #course div.detailBox02Inner { height:1%; }
#course div.detailBox02Inner { display:block; }
/**/

#course div.detailBox02 div.leftBox {
	float: left;
	width: 350px;
}

#course div.detailBox02 div.rightBox {
	float: right;
	width: 350px;
}

#course div.detailBox02 h3 {
	padding-bottom: 10px;
}

#course div.detailBox02 p.img {
	float: left;
	width: 128px;
	text-align: center;
}

#course div.detailBox02 p.txt {
	float: left;
	width: 210px;
	line-height: 1.3;
}


/* licenseBox ------------------------------ */

#course div.licenseBox {
	margin: 10px 0 0;
	padding: 10px 0 10px 5px;
	border: 1px solid #e699cc;
	background: #ffffff url(image/course_pro/license_bg.gif) repeat-x;
}
#course div.licenseBox:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#course div.licenseBox { display:inline-block; }
/*\*/
* html #course div.licenseBox { height:1%; }
#course div.licenseBox { display:block; }
/**/

#course div.licenseBox p.img {
	float: left;
	width: 150px;
	margin-right: 5px;
    }

#course div.licenseBox div.txtBox {
	float: right;
	width: 515px;
     margin-right: 3px;

}

#course div.licenseBox div.txtBox h3 {
	margin-bottom: 20px;
}


/* courseLink ------------------------------ */

#course div.courseLink {
	width: 740px;
	margin: 40px 0 0;
	color: #990066;
	text-align: center;
}

#course div.courseLink p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.25;
}

#course div.courseLink  ul li {
	display: inline;
}


/* --------------------------------------------------------------------------------------
 PROFILE
--------------------------------------------------------------------------------------- */

/* profileBox01 ------------------------------ */

#profile div.profileBox01 {
	border: 1px solid #e5e5e5;
	background: url(image/profile/profile_bg01.gif) no-repeat right top;
}
#profile div.profileBox01:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#profile div.profileBox01 { display:inline-block; }
/*\*/
* html #profile div.profileBox01 { height:1%; }
#profile div.profileBox01 { display:block; }
/**/

#profile div.profileBox01 p.img {
	float: left;
	width: 201px;
	margin-right: 15px;
}

#profile div.profileBox01 div.txtBox {
	float: left;
	width: 450px;
	padding: 5px 0 0;
	color: #000000;
	font-size: 13px;
}

#profile div.profileBox01 div.txtBox p {
	padding-top: 5px;
}

/* message */

#profile div.profileBox01 div.message {
	margin: 10px 0 0;
	padding: 7px 0 7px 10px;
	border: 1px solid #ffcfe7;
	background: #fff3f9;
	font-size: 11px;
}
#profile div.profileBox01 div.message:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#profile div.profileBox01 div.message { display:inline-block; }
/*\*/
* html #profile div.profileBox01 div.message { height:1%; }
#profile div.profileBox01 div.message { display:block; }
/**/

#profile div.profileBox01 div.messageTxt {
	float: left;
	width: 318px;
	margin-right: 7px;
	padding-top: 3px;
}

#profile div.profileBox01 div.message p.personImg {
	float: left;
	width: 108px;
	padding: 0;
}


/* profileBox02 ------------------------------ */

#profile div.profileBox02 {
	margin: 10px 0 0;
	padding: 0 23px 35px 30px;
	border: 1px solid #e5e5e5;
	background: #ffffff url(image/profile/bg_box.gif) repeat-y;
}
#profile div#press.profileBox02 {
	border: 1px solid #cccccc;
}

#profile div.profileBox02 h3 {
	padding: 25px 0 2px 3px;
	background: url(image/profile/bg_subtitle.gif) no-repeat left bottom;
	color: #990066;
	font-size: 14px;
}

/* prize record */

#profile div.profileBox02 dl.record {
	margin-left: 13px;
}

#profile div.profileBox02 dl.record dt {
	margin: 20px 0;
}

#profile div.profileBox02 dl.record dd span {
	color: #990066;
	font-weight: bold;
}

/* press */

#profile div#press.profileBox02 p,
#profile div#press.profileBox02 ul {
	margin: 15px 0 0 50px;
}

#profile div#press.profileBox02 ul li {
	padding-left: 0.5em;
	text-indent: -0.5em;
}


/* lecture ------------------------------ */

#profile h3.lecture {
	margin-top: 40px;
}

#profile div.lectureBox {
	margin: 20px 0 0;
	padding: 9px 0 8px;
	border: 1px solid #cccccc;
	background: url(image/profile/lecture_bg.jpg) no-repeat left bottom;
}
#profile div.lectureBox:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#profile div.lectureBox { display:inline-block; }
/*\*/
* html #profile div.lectureBox { height:1%; }
#profile div.lectureBox { display:block; }
/**/

#profile div.lectureBox div.txtBox {
	float: left;
	width: 375px;
	margin-right: 25px;
	color: #000000;
	font-size: 14px;
}

#profile div.lectureBox div.txtBox p {
	margin: 0 0 0 20px;
	padding: 10px 0;
}

#profile div.lectureBox p.img {
	float: left;
	width: 324px;
}


/* --------------------------------------------------------------------------------------
 GALLERY
--------------------------------------------------------------------------------------- */

#gallery div.galleryBox {
	padding: 0 0 50px;
	border: 1px solid #e5e5e5;
}
#gallery #elegant div.galleryBox {
	background: url(image/gallery/elegant_bg.gif) repeat-x left bottom;
}
#gallery #girly div.galleryBox {
	background: url(image/gallery/girly_bg.gif) repeat-x left bottom;
}
#gallery #cool div.galleryBox {
	background: url(image/gallery/cool_bg.gif) repeat-x left bottom;
}
#gallery #seasonal div.galleryBox {
	background: url(image/gallery/seasonal_bg.gif) repeat-x left bottom;
}

#gallery div.gallery {
	width: 660px;
	margin: 17px auto 0;
}
#gallery div.gallery:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#gallery div.gallery { display:inline-block; }
/*\*/
* html #gallery div.gallery { height:1%; }
#gallery div.gallery { display:block; }
/**/

#gallery div.gallery div.leftBox {
	float: left;
	width: 320px;
}

#gallery div.gallery div.rightBox {
	float: right;
	width: 320px;
}

#gallery div.gallery p.caption {
	margin-top: 7px;
}


/* --------------------------------------------------------------------------------------
 VOICE
--------------------------------------------------------------------------------------- */

#voice div.voiceBox {
	border: 1px solid #e5e5e5;
	background: url(image/voice/voice_bg_rp.gif) repeat-y;
}

#voice div.voice {
	padding: 10px 40px 25px 70px;
	background: url(image/voice/voice_bg_tp.gif) no-repeat;
}
#voice div.voice:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#voice div.voice { display:inline-block; }
/*\*/
* html #voice div.voice { height:1%; }
#voice div.voice { display:block; }
/**/

#voice div.voice div.titleBox {
	width: 591px;
	margin: 0 0 10px;
}
#voice div.voice div.titleBox:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#voice div.voice div.titleBox { display:inline-block; }
/*\*/
* html #voice div.voice div.titleBox { height:1%; }
#voice div.voice div.titleBox { display:block; }
/**/

#voice div.voice div.titleBox div.txtBox {
	float: left;
	width: 421px;
	padding: 10px 0 0;
}

#voice div.voice div.titleBox div.txtBox h2,
#voice div.voice div.titleBox div.txtBox p {
	color: #990066;
	font-size: 16px;
	line-height: 1.25;
}

#voice div.voice div.titleBox div.txtBox h2 {
	margin: 0 0 5px;
	padding: 0 0 5px;
	background: url(image/voice/bg_subtitle.gif) no-repeat left bottom;
}

#voice div.voice div.titleBox p.img {
	float: right;
	width: 150px;
}

#voice div.voice p.workImg {
	float: left;
	margin-right: 20px;
	padding: 3px 0 5px;
}

#voice div.voice p.workImg span {
	display: block;
	margin-top: 5px;
	font-size: 10px;
}

#voice div.voice p.mt {
	margin-top: 20px;
}


/* --------------------------------------------------------------------------------------
 FAQ
--------------------------------------------------------------------------------------- */

/* link ------------------------------ */

#qa ul.link {
	padding: 15px 0;
	border: 1px solid #e5e5e5;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

#qa ul.link li {
	display: inline;
	margin-right: 5px;
}

#qa ul.link li a:link,
#qa ul.link li a:visited {
	text-decoration: none;
}
#qa ul.link li a:hover,
#qa ul.link li a:active {
	text-decoration: underline;
}


/* qa ------------------------------ */

#qa h2 {
	padding: 3px 10px;
	background: #c878ab;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
}

#qa dl.qa {
	margin: 10px 0 0;
	padding: 15px 30px 10px;
	border: 1px solid #cccccc;
	background: #ffffff url(image/qa/bg_box.gif) repeat-y;
}

#qa dl.qa dt {
	min-height: 29px;
	margin: 0 0 15px;
	padding: 3px 0 0 45px;
	background: url(image/qa/txt_q.gif) no-repeat left bottom;
	color: #990066;
	font-size: 14px;
}
* html #qa dl.qa dt {
	height: 29px;
}

#qa dl.qa dd {
	padding: 0 0 35px 45px;
	background: url(image/qa/txt_a.gif) no-repeat 8px 3px;
}

#qa table.priceTbl {
	margin-top: 20px;
}

#qa table.priceTbl caption {
	padding-bottom: 20px;
	text-align: left;
}

#qa table.priceTbl th {
	font-weight: normal;
	text-align: left;
}

#qa table.priceTbl td {
	padding-left: 15px;
	text-align: center;
}


/* --------------------------------------------------------------------------------------
 APPLY
--------------------------------------------------------------------------------------- */

#apply h1 {
	margin-bottom: 20px;
}

#apply .asterisk {
	color: #990066;
	font-size: 10px;
	vertical-align: top;
}

#apply div.applyBox {
	margin: 0 0 10px;
	padding: 0 0 10px;
	border: 1px solid #cccccc;
}
#apply div.applyBox:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: 0;}
#apply div.applyBox { display:inline-block; }
/*\*/
* html #apply div.applyBox { height:1%; }
#apply div.applyBox { display:block; }
/**/

#apply div.applyBox h2 {
	padding-bottom: 7px;
}

#apply div.applyBox h3 {
	color: #000000;
	font-size: 13px;
	font-weight: normal;
}

#apply div.applyBox p.img {
	float: left;
	width: 146px;
	margin: 0 27px 0 10px;
	display: inline;
}

#apply div.applyBox div.txtBox {
	float: left;
	width: 275px;
	margin-right: 50px;
}

#apply div.applyBox div.txtBox dl {
	width: 275px;
	margin: 5px 0 0;
	padding: 2px 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	line-height: 1.8;
}

#apply div.applyBox div.txtBox dl dt,
#apply div.applyBox div.txtBox dl dd {
	float: left;
}

#apply div.applyBox div.txtBox dl dt {
	width: 150px;
	/*\*/clear: both;/**/
}

#apply div.applyBox div.txtBox dl dd {
	width: 125px;
	text-align: right;
}

#apply div.applyBox div.txtBox dl dd span {
	font-weight: bold;
}

#apply div.applyBox div.txtBox dl dd em {
	color: #990066;
	font-size: 14px;
}

#apply div.applyBox p.btn {
	float: left;
	width: 204px;
	padding-top: 38px;
}
