@charset "utf-8";

/* ========================================
* File Name: common.css
* Created Date: 2013.05.12
* Author: TAM
======================================== */


/* ========================================
	style
======================================== */
#japanWrap{
	box-shadow: 0px 0px 12px #dbd8cb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 12px #dbd8cb;
	background: #ffffff;
	margin: 0 auto;
	padding: 0 0 25px;
	color: #666;
	width: 946px;
}
@media (max-width: 640px) {
#japanWrap{
	padding: 0 10px 20px;
	box-sizing: border-box;
	width: 100%;
}
}

#mainWrap .mainContent{
	position: relative;
	overflow: hidden;
	margin-bottom: 49px;
	text-align: left;
}
@media (max-width: 640px) {
#mainWrap .mainContent{
	margin-bottom: 22px;
}
}

#mainWrap .mainContent .ttl{
	float: left;
	margin: 0;
}
#mainWrap .mainContent .mainTtl{
	margin-left: 220px;
	line-height: 60px;
}
#mainWrap .mainContent .mainTtl h1 span{
	visibility: visible;
	display: block;
	border-left: 3px solid #ce2727;
	padding: 0 20px;
	color: #000;
	font-size: 22px;
	font-weight: bold;
}

#mainWrap .mainContent .mainImg{
	margin-left: 220px;
}
@media (max-width: 640px) {
#mainWrap .mainContent .mainImg{
	margin-bottom: 15px;
}
}

#mainWrap .mainContent .read{
	padding: 26px 30px 0 0;
	font-size: 15px;
	line-height: 2.1;
}
@media (max-width: 640px) {
#mainWrap .mainContent .read{
	padding: 0;
}
}

/* ====== sp ====== */
@media (max-width: 640px) {
body{
	background: #ffffff;
}
.spContentWrap{
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}
#mainWrap{
	padding-bottom: 20px;
	width: 100%;
}
/*#mainWrap img{
	width: 100%;
}*/
#mainWrap .mainContent{
	padding-left: 0;
}
#mainWrap .mainContent .ttl{
	float: none;
}
#mainWrap .mainContent .mainTtl{
	margin-left: 10px;
	padding: 20px 20px 20px 0;
	height: auto;
}
#mainWrap .mainContent .mainTtl h1 span{
	visibility: visible;
	display: block;
	border-left: 3px solid #ce2727;
	padding: 6px 8px;
	font-size: 14px;
}
#mainWrap .mainContent .mainImg{
	margin-left: 0;
}
#mainWrap .mainContent .read{
	margin: 0;
	padding: 0 10px;
	box-sizing: border-box;
}
}

/* -------------------------------------------------------------------- contentArea */
#mainWrap .contentArea{
	padding: 0 20px 0 40px;
	font-size: 15px;
}
#mainWrap .contentBox{
	overflow: hidden;
	padding: 0 0 49px;
}
@media (max-width: 640px){
#mainWrap .contentBox{
	margin-bottom: 40px;
	padding: 0;
}
}

#mainWrap .contentBox.left/*,
#mainWrap .contentBox.right02*/{
	padding-right: 10px;
}

.sideImg-right{
	float: right;
	margin-top: 20px;
}

@media (max-width: 640px){
	.sideImg-right{
		float: none;
	}
}

.sideImg-left{
	float: left;
	margin-top: 20px;
}

@media (max-width: 640px){
	.sideImg-left{
		float: none;
	}
}

.block-left{
	float: left;
}

@media (max-width: 640px){
	.block-left{
		float: none;
	}
}

.block-right{
	float: right;
}

.block-right > img{
	float: right;
}

@media (max-width: 640px){
	.block-right{
		float: none;
	}
}

.content-text{
	width: 606px;
	line-height: 2.1;
}

.block-left > img{
	float: left;
}

.contentRead .content-text{
	float: left;
}

.section01{
	width: 394px;
	padding-left: 50px;
}

@media (max-width: 640px){
	.section01{
		width: auto;
		padding: 0;
	}
}

.section02{
	width: 286px;
	padding-right: 50px;
}
@media (max-width: 640px){
	.section02{
		width: auto;
		padding-right: 0;
	}
}

.section03{
	width: 286px;/*236*/
	padding-left: 50px;
}

@media (max-width: 640px){
	.section03{
		width: auto;
		padding: 0;
	}
}

@media (max-width: 640px){
.sp-image-l{
	float: left;
	margin-right: 17px;
}
.sp-image-r{
	float: right;
	margin-left: 17px;
}
}

#mainWrap .contentRead {
	border-top: 3px double #eee;
	padding: 82px 0 0;
}

#mainWrap .content-text{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}



/* ====== sp ====== */
@media (max-width: 640px) {
#mainWrap .contentArea{
	padding: 0;
}
#mainWrap .contentRead{
	padding: 15px 0 0;
}
#mainWrap .contentRead .ttl{
	border-bottom: 3px solid #ce2727;
	margin-bottom: 25px;
	line-height: 1.6;
	text-align: center !important;
}
#mainWrap .contentRead .ttl span.f17{
	font-weight: bold;
}
#mainWrap .content-text {
	float: none;
	width: 100%;
	padding: 0 !important;
}
#mainWrap .content-text p{
	margin: 0;
	padding-bottom: 8px;
	line-height: 1.8;
}
#mainWrap .content-text span {
	color: #ce2727;
}
#mainWrap .contentBox.right .content-text,
#mainWrap .contentBox.left .content-text,
#mainWrap .contentBox.right02 .content-text{
	width: 100%;
}
#mainWrap .contentBox.right .contentRead > img,
#mainWrap .contentBox.right02 .contentRead > img{
	display: inherit;
	margin: 0 1% 1% 0 !important;
}


}

/* -------------------------------------------------------------------- noteArea */
#mainWrap .noteArea{
	border:2px solid #f1e7d2;
	background: #fefdf9;
	margin: 0 40px 60px;
	padding: 3px;
}
@media (max-width: 640px) {
#mainWrap .noteArea{
	margin: 0 0 45px;
}
}

#mainWrap .noteBox{
	border:1px solid #f1e7d2;
	padding: 35px 54px 54px;
}
@media (max-width: 640px) {
#mainWrap .noteBox{
	padding: 11px 8px 16px;
}
}

#mainWrap .noteBox .pcTtl{
	display: block;
	text-align: center !important;
	width: 300px;
	margin: 0 auto;
}

@media (max-width: 640px) {
#mainWrap .noteBox .ttl{
	margin-bottom: 15px;
	font-size: 12px;
	text-align: center;
}
#mainWrap .noteBox .ttl span{
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	color: #ce2727;
	font-weight: bold;
	text-align: center;
}
}

#mainWrap .noteBox .line{
	margin-bottom: 30px;
}
@media (max-width: 640px) {
#mainWrap .noteBox .line{
	display: block;
	background: #ce2727;
	margin: 0 auto 15px;
	width: 21%;
	height: 6px;
}
}

#mainWrap .noteArea .noteBox .read{
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 2.3;
	text-align: left;
}
@media (max-width: 640px) {
#mainWrap .noteBox .read{
	padding: 0;
}
#mainWrap .noteBox .read span{
	font-size: 13px;
}
}

#mainWrap .noteArea .noteBox .itemImg{
	overflow: hidden;
	width: 747px;
	text-align: left;
}
#mainWrap.dvb9 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb9/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb25 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb25/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb26 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb26/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb30 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb30/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb32 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb32/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb35 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb35/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb36 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb36/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb37 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb37/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb38 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb38/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb41 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb41/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb43 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb43/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb44 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb44/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb46 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb46/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb47 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb47/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb49 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb49/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb50 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb50/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb51 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb51/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb52 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb52/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb54 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb54/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb55 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb55/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb56 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb56/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb57 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb57/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb58 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb58/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb71 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb71/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb74 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb74/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb77 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb77/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb79 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb79/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb82 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb82/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb84 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb84/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb86 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb86/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb87 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb87/pc/img_txt_04.png) no-repeat right 0;
}
#mainWrap.dvb89 .noteArea .noteBox .itemImg{
	background: url(../../image/static/img/dvb89/pc/img_txt_04.png) no-repeat right 0;
}
@media (max-width: 640px) {
#mainWrap .noteArea .noteBox .itemImg{
	background: none;
	margin: 15px auto;
	width: 100%;
}
#mainWrap .noteBox .readTxt{
	font-size: 11px;
	text-align: center;
}

}

/* -------------------------------------------------------------------- cartArea */
#mainWrap .cartArea{
	position: relative;
	padding: 0 40px;
	overflow: hidden;
	color: #333;
}
@media (max-width: 640px) {
#mainWrap .cartArea{
	padding: 0;
}
}

#mainWrap .cartArea .itemImg{
	float: left;
	border: 1px solid #ddd;
	margin: 0 38px 20px 0;
}
@media (max-width: 640px) {
#mainWrap .cartArea .itemImg{
	border: 1px solid #ddd;
	float: none;
	margin: 0 0 20px;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}
}

#mainWrap .cartArea .itemImg img{
	width: 100%;
}

#mainWrap .cartArea .att{
	position: absolute;
	top: 386px;/*290*/
	left: 40px;
}
@media (max-width: 640px) {
#mainWrap .cartArea .att{
	position: static;
	margin-bottom: 30px;
}
}

#mainWrap .cartArea .att img{
	width:  390px;
	height: 44;
}
@media (max-width: 640px) {
#mainWrap .cartArea .att img{
	width: 100%;
}
}

#mainWrap .cartArea .itemRe{
	position: absolute;
	top: 370px;
	left: 40px;
	width: 390px;
}
@media (max-width: 640px) {
#mainWrap .cartArea .itemRe{
	position: static;
	margin-bottom: 40px;
	width: 100%;
}
}

#mainWrap .cartArea .itemRe .ttl{
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	padding-bottom: 8px;
}
#mainWrap .cartArea .itemRe .ttl span{
	border-left: 3px solid #ce2727;
	padding: 0 0 0 9px;
	font-size: 16px;
	font-weight: bold;
}
#mainWrap .cartArea .itemRe li a{
	background: url(../../image/static/img/cmn_japan/arr_01.png) no-repeat left center;
	padding-left: 15px;
	font-size: 14px;
}
#mainWrap .cartArea .itemRe li a:hover{
	color: #ce2727;
	text-decoration: none;
}

#mainWrap .cartArea .spec .ttl{
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
}
@media (max-width: 640px) {
#mainWrap .cartArea .spec .ttl{
	font-size: 14px;
}
}

#mainWrap .cartArea .spec .ttl .specIcon{
	line-height: 46px;
}
@media (max-width: 640px) {
#mainWrap .cartArea .spec .ttl .specIcon{
		line-height: 40px;
}
}

#mainWrap .cartArea .spec .com{
	margin: 0 0 18px 58px;
	font-size: 12px;
}
@media (max-width: 640px) {
#mainWrap .cartArea .spec .com{
	margin-left: 46px;
	line-height: 40px;
}
}

#mainWrap .cartArea .spec .ttl .specIcon img{
	margin-right: 12px;
	width: 46px;
	height: 46px;
	vertical-align: middle;
}
@media (max-width: 640px) {
#mainWrap .cartArea .spec .ttl .specIcon img{
	margin-right: 6px;
	width: 40px;
	height: 40px;
}
}

#mainWrap .cartArea .spec th.payTtl{
	background: #ffeeee;
}

#mainWrap .cartArea .spec td.pay span{
	display: block;
}

.btn{
	margin-bottom: 20px;
}

#mainWrap .cartArea .spec{
	overflow: hidden;
	text-align: left;
}

#mainWrap .cartArea .spec .ttl .dispBlock{
	display: block;
}

#mainWrap .cartArea .spec table{
	border:1px solid #dddddd;
	border-collapse: collapse;
	width: 434px;
	margin-bottom: 26px;
	font-size: 13px;
}
@media (max-width: 640px) {
#mainWrap .cartArea .spec table{
	width: 100%;
}
}

#mainWrap .cartArea .spec th{
	border:1px solid #dddddd;
	background: #eeeeee;
	padding: 8px 0 8px 12px;
	font-weight: bold;
	width: 76px;/*88*/
	vertical-align: top;
}
@media (max-width: 640px) {
#mainWrap .cartArea .spec th{
	width: 30%;
}
}

#mainWrap .cartArea .spec td{
	border:1px solid #dddddd;
	padding: 8px 0 8px 12px;
	color: #555;
	width: 332px;/*344*/
}
@media (max-width: 640px) {
#mainWrap .cartArea .spec td{
	width: 70%;
}
}

#mainWrap .cartArea .spec .btn img:hover{
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}

#mainWrap .cartArea .spec .inner{
	overflow: hidden;
	width: 100%;
}

#mainWrap .cartArea .spec .inner .inLeft{
	float: left;
	max-height: 1%;
	width: 15%;
}

#mainWrap .cartArea .spec .inner .inRight{
	float: left;
	width: 84%;
}

#mainWrap .cartArea .imgWrap{
	position: relative;
}
#mainWrap .cartArea .imgWrap .itemSelect{
	position: absolute;
	top: 280px;
	left: 0;
	overflow: hidden;
	width: 388px;
}
#mainWrap .cartArea .imgWrap .itemSelect li{
	border: 1px solid #dddddd;
	float: left;
	margin-right: 8px;
	width: 122px;
	cursor: pointer;
}
@media (max-width: 640px) {
#mainWrap .cartArea .imgWrap .itemSelect li{
	margin-right: 4px;
	width: 66px;
}
}

/* -------------------------------------------------------------------- botList */
.r_con_list_04.botList li{
	width: 16.4%;
}
@media (max-width: 640px) {
.r_con_list_04.botList li{
	width: 33.33%;
}
}


/* -------------------------------------------------------------------- shoping guide */
.shopping_guide h3{
	font-weight: bold;
	text-align: center;
}

/* -------------------------------------------------------------------- shoping botCart */
.botCart{
/*	box-shadow: 0px 0px 12px #dbd8cb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	overflow: hidden;
	color: #666;
}
.botCart .box{
	float: right;
	margin: 0 35px 0 0;
}
@media (max-width: 640px) {
.botCart .box{
	display: block;
	margin-right: 0;
}
}

.botCart .box table{
	padding-left: 10px;
}

.btnOff{
	margin-bottom: 20px;
}

.dispNon{
	display: none;
}


.fwB{ font-weight: bold;}









.f17{ font-size: 17px;}
.f45{ font-size: 45px;}








.mb12{ margin-bottom: 12px !important;}
.mb16{ margin-bottom: 16px !important;}
.mb18{ margin-bottom: 18px !important;}
.mb20{ margin-bottom: 20px !important;}
.mb25{ margin-bottom: 25px !important;}
.mb30{ margin-bottom: 30px !important;}
.mb50{ margin-bottom: 50px !important;}
.mb52{ margin-bottom: 52px !important;}


.mr20{ margin-right: 20px !important;}
.mr30{ margin-right: 30px !important;}
.mr38{ margin-right: 38px !important;}
.mr232{ margin-right: 232px !important;}
.mr310{ margin-right: 310px !important;}
.mr375{ margin-right: 375px !important;}


.ml00{ margin-left: 0px !important;}
.ml232{ margin-left: 232px !important;}
.ml310{ margin-left: 310px !important;}
.ml371{ margin-left: 371px !important;}


.pt10{ padding-top: 10px !important;}

.pl05{ padding-left: 5px !important;}



.flL{
	float: left;
}

.flR{
	float: right;
}