

/* =====’Êí======= */


.ad_navi .ad_navi_in3 {
	border:#dff3ee 2px solid;
	text-align:center;
	background:#c7e5de;
	color:#698e86;
	height:30px;
	font-size:16px;
	line-height:30px;
	width:200px;
}


.ad_navi .ad_navi_in4 {
	border:#dff3ee 2px solid;
	text-align:center;
	background:#c7e5de;
	color:#698e86;
	height:30px;
	font-size:16px;
	line-height:30px;
	width:141px;
}

.txt_box {
	text-align:left;
	margin:20px 0;
}


td.bor_right {
	border-right:#ececec 1px solid;
}


.mt20pb30 {
	margin-top:20px;
	padding-bottom:30px;
}

.mt20pb30 img{
	vertical-align:bottom;
	margin-right:10px;
}

.mgrt01{
	margin-right:60px;
}


.font_color_f00 {
	color:#f00;
}

.newsBox{
	text-align:left;
	margin-bottom:30px;
}

.newsTitle{
	font-size:24px;
	width:100%;
	border-bottom:#999 dotted 1px;
	padding-bottom:5px;
	padding-top:5px;
	line-height: normal;
}


.newsText{
padding-top:15px;
line-height:150%;
}


.memadd_table_01_02 {
	border:#ececec 1px solid;
	text-align:left;
	width:100%;
	margin-bottom:20px;
}

.memadd_table_01_02 th {
	background:#fafafa;
	font-size:12px;
	color:#6a807b;
	padding:13px 10px 13px 20px;
	border-right:#ececec 1px solid;
	border-bottom:#ececec 1px solid;
	width:30%;
}
.memadd_table_01_02 th.none_bor {
	border-bottom:none;
}
.memadd_table_01_02 th span.imp {
	display:inline;
	float:right;
	padding:2px;
	background:#f35b71;
	color:#FFFFFF;
	font-size:10px;
	font-weight:normal;
}
.memadd_table_01_02 td {
	background:#fafafa;
	font-size:12px;
	line-height:20px;
	padding:13px 20px;
}
.memadd_table_01_02 td.bor_bottom {
	border-bottom:#ececec 1px solid;
}
.memadd_table_01_02 td span.exp {
	display:inline;
	float:right;
	padding:2px;
	font-size:10px;
	font-weight:normal;
	text-align:right;
}
.memadd_table_01_02 p {
	font-size:10px !important;
	line-height:15px;
}
.memadd_table_01_02 p.caution {
	font-size:10px;
}
.memadd_table_01_02 th.memadd_color_01 {
	background:#d3e5e6;
}
.memadd_table_01_02 td.memadd_color_01 {
	background:#d3e5e6;
	color:#1d5b4d;
	padding:8px 20px;
}
.memadd_table_01_02 .in_w_01 {
	width:100px;
	padding:4px;
}
.memadd_table_01_02 .in_w_02 {
	width:250px;
	padding:4px;
}
.memadd_table_01_02 .in_w_04 {
	width:80px;
	padding:4px;
}
.memadd_table_01_02 .in_w_05 {
	width:100%;
	padding:4px;
}
.memadd_table_01_02 .in_w_06 {
	width:200px;
	padding:4px;
}


.memadd_table_01 select.memadd_input_01  {
	width:200px;
	text-align:center;
	padding:3px 0;
	margin-bottom:5px;
}

.memadd_table_01 select.memadd_input_02  {
	width:100px;
	text-align:center;
	padding:3px 0;
	margin-bottom:5px;
}

.memadd_table_01 select.memadd_input_03  {
	width:50px;
	text-align:center;
	padding:3px 0;
	margin-bottom:5px;
}


.ad_navi_in3.ad_navi_t {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}

.ad_navi_in4.ad_navi_t {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}


/* =====ƒTƒCƒgƒ}ƒbƒv======= */

.wrap_sitemap_left {
	float:left;
	width:340px;
	text-align:left;
} 

.wrap_sitemap_right {
	float:right;
	width:340px;
	text-align:left;
} 

.sitemap_list_02 {
	padding-top:0px;
	padding-bottom:10px; 
}
.sitemap_list_02 li {
	background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/pc_arrow_01.jpg) no-repeat left 3px;
	line-height:18px;
	font-size:15px;
	margin-bottom:15px; 
	padding-left:18px;
}

.wrap_sitemap_left .temp_tit_06, .wrap_sitemap_right .temp_tit_06 {
	margin-bottom:10px;
}


.box_thanks .wrap_sitemap_left {
	float:left;
	width:400px;
	text-align:left;
} 

.box_thanks .wrap_sitemap_right {
	float:right;
	width:400px;
	text-align:left;
} 

.wrap_txt_left {
	width:90%;
	text-align:left;
} 

.wrap_txt_left .temp_tit_06 {
	margin-bottom:10px;
}

.wrap_txt_left p {
	margin-bottom:15px;
}

.wrap_txt_left p.point {
	font-size:16px;
	font-weight:bold;
	color:#006666;
}


.wrap_txt_left02 {
	width:100%;
	text-align:left;
} 

.wrap_txt_left02 .temp_tit_06 {
	margin-bottom:10px;
}

.wrap_txt_left02 p {
	margin-bottom:15px;
}

.wrap_txt_left02 p.point {
	font-size:16px;
	font-weight:bold;
	color:#006666;
}

.wrap_txt_left03 {
	width:100%;
	text-align:left;
	margin-top:20px;
	margin-bottom:15px;
} 


.wrap_txt_left03 p.point {
	font-size:16px;
	font-weight:bold;
	color:#006666;
	margin-bottom:7px;
}

.wrap_txt_left03 p.point02 {
	font-weight:bold;
	margin-top:15px;
	margin-bottom:10px;
	border-bottom:#999 dotted 1px;
	color:#111;
}

/* =====‰ïŽÐŠT—v======= */

.company {
	width:100%;
	text-align:left;
	padding-bottom:15px;
} 

.company th{
	background-color:#f5f5f5;
	color:#6A7F79;
}


.wrap_leftc{
width:49%;
float:left;
}



/* =====FAX======= */

.wrap_fax {
	width:100%;
	text-align:left;
	padding-bottom:15px;
	font-size:14px;
	clear:both;
	margin:auto;
} 

.wrap_left_fax {
	width:220px;
	float:left;
} 

.wrap_left_fax02 {
	width:220px;
	float:left;
	margin-left:10px;
}

.wrap_right_fax {
	width:230px;
	float:left;
	margin-left:10px;
} 

.box_title {
	-moz-border-top-left-radius: 3px;   /* Firefox */
	-webkit-border-top-left-radius: 3px;  /* Safari,Chrome */
	border-top-left-radius: 3px;       /* CSS3 */
	-moz-border-top-right-radius: 3px;   /* Firefox */
	-webkit-border-top-right-radius: 3px;  /* Safari,Chrome */
	border-top-right-radius: 3px;       /* CSS3 */
	background-color:#C8B08D;
	height:27px;
	text-align:center;
	font-weight:bold;
	color:#FFF;
	padding-top:6px;
} 

.box_txt {
	-moz-border-bottom-left-radius: 3px;   /* Firefox */
	-webkit-border-bottom-left-radius: 3px;  /* Safari,Chrome */
	border-bottom-left-radius: 3px;       /* CSS3 */
	-moz-border-bottom-right-radius: 3px;   /* Firefox */
	-webkit-border-bottom-right-radius: 3px;  /* Safari,Chrome */
	border-bottom-right-radius: 3px;       /* CSS3 */
	background-color:#F7F3EF;
	height:190px;
	padding-top:6px;
	padding-left:13px;
}

.box_txt span{
	display:block;
	padding-top:10px;
	color:#F00;
	font-size:12px;
}


.wrap_faxno{
clear:both;
text-align:center;
padding-top:15px;
padding-bottom:15px;
}

.wrap_first img{
width:702px;
}

.wrap_category img{
width:100%;

}

.wrap_category_box {
width:672px;
padding:10px;
border:#ccc solid 1px;
border-radius: 10px;	/* CSS3‘ˆÄ */
-webkit-border-radius: 10px;	/* Safari,Google Chrome—p */
-moz-border-radius: 10px;	/* Firefox—p */
margin-bottom:10px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.catleft {
width:219px;
height:109px;
float:left;
padding-top:5px;
padding-bottom:3px;
}

.catright {
width:411px;
float:right;
}

.catright ul{
width:411px;
text-align:left;
}

.catright ul li{
width:190px;
float:left;
font-size:13px !important;
padding-top:3px;
padding-bottom:3px;
padding-left:15px;
background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/pc_arrow_01.jpg) no-repeat left 10px;
}

/* =====‚²—˜—pƒKƒCƒh======= */

.guide_ttl {
	font-size:18px;
	color:#006666;
	font-weight:bold;
	margin-bottom:5px;
}

.guide_text {
	font-size:15px;
	margin-bottom:30px;
}

.guide_text_b {
	font-size:15px;
	margin-bottom:10px;
}

.guide_text02 {
	font-size:12px;
	margin-bottom:30px;
}


.guide_text03 {
	font-size:13px;
	font-weight:bold;
	color:#72BDAC;
}

.guide_text04 {
	font-size:18px;
	font-weight:bold;
	color:#111;
}

.guide_text04 span{
	font-size:20px;
	font-weight:bold;
	color:#F00;
}

.tokuten{
text-align:left;
}


.tokuten .temp_tit_06{
border:#F9A90C 2px solid;
margin-bottom:10px;
}


.tokuten .temp_tit_06 div{
background-color:#F9A90C;
}

.wrap_tokuten{
	margin-top:20px;
}

.wrap_toku_left{
float:left;
width:510px;
}

.box_thanks .wrap_toku_left{
float:left;
width:610px;
}

.wrap_toku_right{
float:right;
width:190px;
}

.toku_ttl{
	font-size:20px !important;
	font-weight:bold;
	color:#006666;
	line-height:150%;
}

.toku_txt{
margin-bottom:15px;
}

.toku_txt02{
font-size:12px;
margin-bottom:20px;
}

.mbtm10{
margin-bottom:10px;
display:block;
}

.mbtm20{
margin-bottom:20px;
display:block;
}

.mbtm30{
margin-bottom:30px;
display:block;
}

.mbtm10b{
margin:0 auto 10px;
}

.mbt10m10b{
margin:10px auto 10px;
}


.memadd_table_01_02 .error {
	font-size:14px;
	text-align:left;
	margin-bottom:0px !important;
	color:#DD0005;
}

.error {
	margin-bottom:0px !important;
}

span.error {
	padding-top:0px !important;
}

.memadd_table_01_02 .error {
	font-size:14px;
	text-align:left;
	margin-bottom:0px !important;
	color:#DD0005;
}

/* =====ƒRƒRƒ`ƒ‚‚Æ‚Í======= */

.wrap_first_txt{
width:702px;
height:641px;
overflow:hidden;
background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/first02.jpg) no-repeat top left;
text-align:left;
margin-bottom:15px;
}




.firsttxt01{
font-size:22px;
line-height:165%;
font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W6", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
font-weight:normal;
padding-top:20px;
padding-left:20px;
}

.firsttxt02{
font-size:15px;
line-height:160%;
padding-top:15px;
padding-left:20px;
}

.wrap_first_ttl{
font-size:23px;
line-height:165%;
font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W6", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
padding-bottom:15px;
width:100%;
text-align:left;
}

.wrap_first_point{
font-size:28px;
line-height:165%;
font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W6", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
color:#F09900;
}



.memadd_table_02{
border-right:#ececec solid 1px;
}



.headerror .error {
	font-size:15px;
	font-weight:bold;
	text-align:left;
	margin-bottom:0px !important;
	color:#DD0005;
}

.headerror .error span{
	display:block;
}

.memadd_table_01{
	margin-bottom:20px;
}




.wrap_error{
	margin:0px auto;
	padding-top:100px;
	padding-bottom:100px;
	width:90%;
	text-align:center;
}


.wrap_error .error{
	width:90%;
	text-align:center;
	font-size:20px;
	line-height:160%;
}

hr{
	margin-top:20px;
	margin-bottom:20px;
	border:#999 dotted 1px;
	height:1px;
}



img.btn_a06{
	width:auto;
	height:50px;
}


/* =====640======= */



@media (max-width: 640px) {


.ad_navi .ad_navi_in3 {
	border:#dff3ee 2px solid;
	text-align:center;
	background:#c7e5de;
	color:#698e86;
	height:30px;
	font-size:12px;
	line-height:30px;
	width:95%;
}

.ad_navi .ad_navi_in4 {
	border:#dff3ee 2px solid;
	text-align:center;
	background:#c7e5de;
	color:#698e86;
	height:30px;
	font-size:0.6em;
	line-height:1.5em;
	padding-top:5px;
	width:95%;
}

.mt20pb30 img{
	width:100%;
}

.mgrt01{
	margin-right:10px;
}

.bt_waku img{
	width:90%;
}



.ad_navi li{
	width:20%;
	background-position:right 8px;
	margin-right:3px;
	padding-right:13px;
}


.ad_navi li.last{
	width:20%;
}

.wrapnavi4 li{
	width:22%;
}

.wrapnavi4 li.last{
	width:20%;
}

.wrap_sitemap_left {
	float:left;
	width:100%;
	text-align:left;
} 



.box_thanks .wrap_sitemap_left {
	float:left;
	width:100%;
	text-align:left;
} 

.box_thanks .wrap_sitemap_right {
	float:left;
	width:100%;
	text-align:left;
} 


.wrap_sitemap_right {
	float:left;
	width:100%;
	text-align:left;
} 


.wrap_fax {
	width:300px;
	text-align:left;
	padding-bottom:15px;
	font-size:14px;
	clear:both;
	margin:auto;
}


.wrap_left_fax {
	width:100%;
	float:left;
} 

.wrap_left_fax02 {
	width:100%;
	float:left;
	margin-left:0px;
}

.wrap_right_fax {
	width:100%;
	float:left;
	margin-left:0px;
} 


.box_txt {
margin-bottom:15px;
}


.wrap_faxno img{
width:80%;
}

.wrap_first img{
width:100%;

}

.wrap_category img{
width:100%;
}

.wrap_toku_left{
float:left;
width:100%;
}


.box_thanks .wrap_toku_left{
float:left;
width:100%;
}

.wrap_toku_right{
float:right;
width:100%;
}

.wrap_first_txt{
width:100%;
height:auto;
overflow:visible;
background:none;
text-align:left;
margin-bottom:15px;
}




.firsttxt01{
font-size:17px;
line-height:165%;
font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W6", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
font-weight:normal;
padding-top:0px;
padding-left:10px;
}

.firsttxt02{
font-size:14px;
line-height:160%;
padding-top:15px;
padding-left:10px;
}

.wrap_first_ttl{
font-size:20px;
line-height:145%;
font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W6", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
padding-bottom:15px;
width:100%;
text-align:left;
}

.wrap_first_point{
font-size:22px;
line-height:145%;
font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W6", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
color:#F09900;
}



.memadd_table_01_02 th {
	padding:4px;
	width:30%;
	font-size:11px;
}

.memadd_table_01_02 td {
	padding:4px;
}

.memadd_table_01_02 .error{
	font-size:11px;
	clear:both;
	display:block;
	margin-top:1px;
}

.memadd_table_01_02 .exp{
	display:block;
	
}


.memadd_table_01 th {
	padding:4px;
	width:30%;
	font-size:11px;
}

.memadd_table_01 td {
	padding:4px;
}

.memadd_table_01 .error{
	font-size:11px;
	clear:both;
	display:block;
	margin-top:1px;
}

.memadd_table_01 .exp{
	display:block;
	
}



.memadd_table_01_02 .in_w_01 {
	width:35%;
	padding:4px;
}
.memadd_table_01_02 .in_w_02 {
	width:93%;
	padding:4px;
}
.memadd_table_01_02 .in_w_04 {
	width:25%;
	padding:4px;
}
.memadd_table_01_02 .in_w_05 {
	width:93%;
	padding:4px;
}
.memadd_table_01_02 .in_w_06 {
	width:93%;
	padding:4px;
}

.memadd_table_01 .in_w_06 {
	width:93%;
	padding:4px;
}



.ad_navi_in3.ad_navi_t {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}

.ad_navi_in4.ad_navi_t {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}


.mt20pb30 img{
	vertical-align:middle;
	margin:0;
}

img.btn_a01{
	width:28%;
}

img.btn_a02{
	width:auto;
	height:50px;
}

img.btn_a03{
	width:auto;
	height:50px;
}

img.btn_a04{
	width:auto;
	height:50px;
}

img.btn_a06{
	width:auto;
	height:50px;
}


.wrap_category_box {
width:94%;
padding:10px;
border:#ccc solid 1px;
border-radius: 10px;	/* CSS3‘ˆÄ */
-webkit-border-radius: 10px;	/* Safari,Google Chrome—p */
-moz-border-radius: 10px;	/* Firefox—p */
margin-bottom:10px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.catleft {
width:96%;
height:auto;
float:none;
padding-top:5px;
padding-bottom:3px;
}

.catright {
width:96%;
float:none;
clear:both;
}

.catright ul{
width:96%;
text-align:left;
}

.catright ul li{
width:96%;
float:left;
font-size:13px !important;
padding-top:3px;
padding-bottom:3px;
padding-left:15px;
background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/pc_arrow_01.jpg) no-repeat left 10px;
}




}


/* =====320======= */


@media (max-width: 320px) {

.mt20pb30 img{
	vertical-align:middle;
	margin:0;
}

.mgrt01{
	margin-right:0px;
}

img.btn_a01{
	width:28%;
}

img.btn_a02{
	width:auto;
	height:40px;
}

img.btn_a03{
	width:auto;
	height:40px;
}

img.btn_a04{
	width:auto;
	height:40px;
	margin:10px 0 auto 50px;
}

img.btn_a05{
	width:90%;
}

img.btn_a06{
	width:auto;
	height:40px;
}

.memadd_table_01_02 .in_w_01 {
	width:25%;
	padding:4px;
}
.memadd_table_01_02 .in_w_02 {
	width:93%;
	padding:4px;
}
.memadd_table_01_02 .in_w_04 {
	width:20%;
	padding:4px;
}
.memadd_table_01_02 .in_w_05 {
	width:93%;
	padding:4px;
}
.memadd_table_01_02 .in_w_06 {
	width:93%;
	padding:4px;
}

.memadd_table_01 .in_w_06 {
	width:93%;
	padding:4px;
}

.ad_navi .ad_navi_in3 {
	border:#dff3ee 2px solid;
	text-align:center;
	background:#c7e5de;
	color:#698e86;
	height:30px;
	font-size:12px;
	line-height:30px;
	width:95%;
}

.ad_navi .ad_navi_in4 {
	border:#dff3ee 2px solid;
	text-align:center;
	background:#c7e5de;
	color:#698e86;
	height:30px;
	font-size:0.6em;
	line-height:1.5em;
	padding-top:5px;
	width:95%;
}

.ad_navi_in3.ad_navi_t {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}

.ad_navi_in4.ad_navi_t {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}

.ad_navi li{
	width:20%;
}

.ad_navi li.last{
	width:20%;
}

.wrapnavi4 li{
	width:20%;
}

.wrapnavi4 li.last{
	width:20%;
}

}



/* 20140114 */

.spg .inq_input_bt_03{
	margin-bottom:20px;
}


.shopping_guide{
/*	background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/first02.jpg) no-repeat top left;*/
	background:url(../shop/image/spg_bg.gif) top center;
	width:660px;
	margin:0 auto 20px;
	padding:0;
	border:#73bdac 3px solid;
	-moz-border-radius: 3px;/* Firefox */
	-webkit-border-radius: 3px ;/* Safari,Chrome */
	border-radius: 3px;/* CSS3 */
	border-bottom:none;
	border-left:none;
	border-right:none;
}


.shopping_guide h3 {
	background:#73bdac;
	color:#FFFFFF;
	font-size:18px;
	line-height:160%;
	padding-bottom:3px;
	padding-top:3px;
	margin-bottom:15px;
}

.shopping_guide p{
	text-align:left;
	font-size:13px !important;
}

.shopping_guide p .souryoutxt{
	color:#57B09B;
	font-size:14px !important;
	font-weight:bold;
	display:inline-block;
	margin-bottom:5px;
}





.guidebox{
	width:634px;
	margin:0 auto;
}



.guidebox .guidebox_left{
	width:307px;
	float:left;
}

.guidebox .guidebox_right{
	width:307px;
	float:right;
}

.guidebox .souryou{
	margin-top:18px;
	margin-bottom:10px;
}

.guidebox .box_souryou{
	background-color:#F7F5F0;
	padding:8px;
	width:291px;
	height:89px;
	margin-bottom:10px;
}

.guidebox .box_souryou02{
	background-color:#F7F5F0;
	padding:8px;
	width:291px;
	height:89px;
	margin-bottom:30px;
}

.guidebox .yamato{
	margin-top:15px;
	margin-bottom:10px;
}

.guidebox .time{
	margin-top:20px;
}

.guidebox .card{
	margin-top:13px;
	margin-bottom:11px;
}

.guidebox .card02{
	margin-bottom:9px;
}

.guidebox .txt12{
	font-size:12px !important;
	line-height:145%;
}

.guidebox .kome{
	font-size:11px !important;
	line-height:160%;
}


.guidebox .daibiki{
	margin-top:10px;
	margin-bottom:7px;
}

.guidebox .konbini{
	margin-bottom:30px;
}

.guidebox .txt_shouhin{
	margin-bottom:20px;
	margin-top:10px;
}


.guidebox .txt_rapping{
	margin-bottom:20px;
	margin-top:10px;
}


.guidebox .txt_rapping .point01{
	font-weight:bold;
	font-size:14px !important;
}

.guidebox .txt_rapping .point02{
	font-weight:bold;
	font-size:13px !important;
	color:#009985;
}

.guidebox .txt_rapping .point03{
	font-weight:bold;
	font-size:24px !important;
	color:#ff0000;
	letter-spacing:-1px;
	line-height:160%;
}



.memadd_bt_con_01 {
	text-align:left;
	margin:0px;
	padding-left:10px;
	width:81%;
}

.memadd_bt_con_01 .box_left{
	float:left;
	width:70%;
}

.memadd_bt_con_01 .box_right{
	float:right;
	padding-top:0;
}

.memadd_bt_con_01 .box_right a{
	margin-left:20px;
}

.cart_table_02_w_01 {
	width:50%
}

.memadd_bt_con_01 .box_left{
		width:80%;
		text-align: right;
		margin-top: 5px;
		margin-left: 30px;
}
@media (max-width: 640px) {
	.memadd_bt_con_01 .box_left{
		margin-left: 0px;
	}
}

@media (max-width: 640px) {

.shopping_guide{
/*	background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/first02.jpg) no-repeat top left;*/
	background:none;
	width:320px;
	margin:0 auto 20px;
	padding:0;
	border:#73bdac 3px solid;
	-moz-border-radius: 3px;/* Firefox */
	-webkit-border-radius: 3px ;/* Safari,Chrome */
	border-radius: 3px;/* CSS3 */
	border-bottom:none;

}


.shopping_guide h3 {
	background:#73bdac;
	color:#FFFFFF;
	font-size:18px;
	line-height:160%;
	padding-bottom:3px;
	padding-top:3px;
	margin-bottom:15px;
}

.guidebox{
	width:310px;
	margin:0 auto;
}


.guidebox .guidebox_left{
	width:307px;
	float:none;
}

.guidebox .guidebox_right{
	width:307px;
	float:none;
	margin-top:30px;
}

.shopping_guide_foot{
	width:320px;
}


.cart_table_02 .delete_link_left {
	float:none;
	width:100%
}

.cart_table_02 .delete_link {
	float:none;
	width:100%;
	margin-top:5px;
}



	
.memadd_bt_con_01 .box_left{
	float:left;
	width:70%;
	display:inline;
}

.memadd_bt_con_01 .box_right{
	float:right;
	width:20%;
	padding:0;
	margin-top:-35px;
	display:inline;
}

.memadd_bt_con_01 .box_right a{
	margin-left:10px;
}


}
@media (max-width: 580px) {

.memadd_bt_con_01 .box_left{
	float:left;
	width:70%;
}

.memadd_bt_con_01 .box_right{
	float:right;
	padding-top:0;
	width:20%;
	margin-top:-35px;
}

.memadd_bt_con_01 .box_right a{
	margin-left:10px;
}


}


@media (max-width: 480px) {

.memadd_bt_con_01 .box_left{
	float:left;
	width:70%;
}

.memadd_bt_con_01 .box_right{
	float:right;
	padding-top:0;
	width:23%;
	margin-top:-45px;
	margin-right: 20px
}

.memadd_bt_con_01 .box_right a{
	margin-left:10px;
}

}



@media (max-width: 360px) {

.memadd_bt_con_01 .box_left{
	float:left !important;
	width:50% !important;
	display:inline !important;
}

.memadd_bt_con_01 .box_right{
	float:right !important;
	display:inline !important;
	padding-top:0 !important;
	width:35% !important;
}

.memadd_bt_con_01 .box_right a{
	margin-left:10px;
}

}

@media (max-width: 320px) {

.memadd_bt_con_01 .box_left{
	float:left;
	width:50%;
}

.memadd_bt_con_01 .box_right{
	float:right;
	padding-top:5px;
	width:50%;
	margin-top:-80px;
}

.memadd_bt_con_01 .box_right a{
	margin-left:10px;
}

}



@media (max-width: 320px) {

.shopping_guide{
/*	background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/first02.jpg) no-repeat top left;*/
	background:none;
	width:240px;
	margin:0 auto 20px;
	padding:0;
	border:#73bdac 3px solid;
	-moz-border-radius: 3px;/* Firefox */
	-webkit-border-radius: 3px ;/* Safari,Chrome */
	border-radius: 3px;/* CSS3 */
	border-bottom:none;

}



.shopping_guide h3 {
	background:#73bdac;
	color:#FFFFFF;
	font-size:18px;
	line-height:160%;
	padding-bottom:3px;
	padding-top:3px;
	margin-bottom:15px;
}

.guidebox{
	width:220px;
	margin:0 auto;
}


.guidebox .guidebox_left{
	width:220px;
	float:none;
}

.guidebox .guidebox_right{
	width:220px;
	float:none;
	margin-top:30px;
}

.shopping_guide_foot{
	width:240px;
}

.sgttl{
	width:220px;
}

.shopping_guide .point03{
	display:block;
	margin:-7px auto -20px;
	padding:0;
}

.guidebox .box_souryou{
	background-color:#F7F5F0;
	padding:8px;
	width:204px;
	height:auto;
	margin-bottom:10px;
}

.guidebox .box_souryou02{
	background-color:#F7F5F0;
	padding:8px;
	width:204px;
	height:auto;
	margin-bottom:30px;
}

}


.r_con_box_05 {
	background:#FFFFFF;
	box-shadow:0px 0px 12px #dbd8cb;
	-moz-border-radius: 3px;   /* Firefox */
   -webkit-border-radius: 3px;  /* Safari,Chrome */
   border-radius: 3px;       /* CSS3 */
   margin-bottom:40px;
   padding:20px 0 5px 0;


}



/* ‚Ü‚ñ‚ª“ú–{@20140212 */

.wrap_shuroku{ 
	margin:0 auto;
	width:702px;
	background:url(../image/static/img/manganihon/item/shuroku_bg.gif) ;
	text-align:center;
}

.wrap_shuroku ul{ 
	margin:0 auto;

	background:url(../image/static/img/manganihon/item/shuroku_bg.jpg);
	text-align:left;
}


.wrap_shuroku ul:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

/*\*/
* html .wrap_shuroku ul {
    height: 1em;
}

.wrap_shuroku ul {
    display: block;
}
/**/


.wrap_shuroku ul li{ 
	margin:0 0 18px 12px;
	width:332px;
	float:left;
}



@media (max-width: 640px) {

.mangaimg{ 
	width:98%;
}
.i_res_con_01 img{
	margin-left:3px;
}

.wrap_shuroku{ 
	margin:0 auto;
	width:98%;
	background:url(/contents/shop/00000003/image/static/img/manganihon/shuroku_bg.gif) ;
	padding-left:0;
}

.wrap_shuroku ul{ 
	margin:0 auto;
	width:100%;
	text-align:center;
}

.wrap_shuroku ul img{ 
	width:98%;
}


.wrap_shuroku ul li{ 
	margin:0 auto 8px auto;
	width:96%;
	float:none;
}



}



.box_thanks{ 
	margin-top:-30px;
}



div.sub{
width:100%;
overflow:hidden;

}
ul.example{
	text-align:left;
	font-size:14px;
	font-weight:bold;

	}

ul.example li{
	padding-top:5px;
	padding-bottom:5px;
}


ul.example a{
	color:#0000ff;
	text-decoration:underline;
	cursor:pointer;
}




/* design */

ul.ex-dr-context{
	

	text-align:left;
	z-index:100;
box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

}

ul.ex-dr-context{

	/*border:solid 1px #ccc;*/
	background-color:#f4f4f4;
	white-space: nowrap;
	
}

ul.ex-dr-context li{
	/*border-bottom:dotted 1px #ccc;*/
	text-align:left;
	font-size:14px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	min-width:180px;
	
	
}

ul.ex-dr-context li:last-child{
border-bottom:none;
}

ul.ex-dr-context li:hover{
	background-color:#DEEEE5;

}


#p_0 {
  display: block !important;
  padding:0;
  margin:0;
}

#p_1 {
  display: block !important;
  padding:0;
  margin:0;
}

ul.example li:hover{
	background-color:#DEEEE5;
}







@media (max-width: 640px) {

ul.ex-dr-context{
	display:none !important;
}


#p_0 {
  display: block !important;
  padding:0;
  margin:0;
}

#p_1 {
  display: none !important;
  padding:0;
  margin:0;
}


ul.example li:hover{
	background-color:#fff;
}

.l_con_list_01 li a:hover {
	display:block;
	background:url(../shop/image/pc_l_cate_bt_icon.gif) no-repeat right center;
	background-size:contain;
}

ul.ex-dr-context li:hover{
	background-color:#fff;

}


}



/* accordion
===========================================================*/

ul.accordion { font-size:14px; margin-bottom:20px;}
ul.accordion li{ margin:0 auto 10px; padding:0; }
ul.accordion a { display:block;}
ul.accordion span { display:block; background:url(http://www.cococimo.jp/contents/shop/00000003/shop/image/pc_arrow_01.jpg) no-repeat left 3px;
	line-height:140% !important;
	font-size:15px;
	margin-bottom:0px; 
	padding-left:18px; padding-bottom:0;cursor:pointer; color:#0000FF; text-decoration:underline;}
ul.accordion ul { display:none; margin:0px 0 20px; padding:10px; padding-bottom:0;border-bottom:#999 dotted 1px; width:95%;  }
ul.accordion p { margin:0; padding:0;}




/* ‚µ‚Î‚¿‚á‚ñ@20140604 */

.mainshiba{ 
	margin:0 auto 25px;
}

.shiba{ 
	margin:0 auto 20px 120px;
}

.shibatxt{ 
	font-size:14px !important;
	text-align:left;
	display:block;
	margin-top:15px;
}

.shibatxt02{ 
	font-size:12px !important;
	text-align:left;
}

.shibatxt02 span.imp {
	display:inline;
	padding:2px;
	background:#f35b71;
	color:#FFFFFF;
	font-size:10px;
	font-weight:normal;
}


.txtgray{ 
	font-size:11px !important;
	color:#999;
	font-weight:normal;
	line-height:130%;
	margin-top:7px;
	display:block;
}

.wrap_shibamain{ 
	width:100%;
	text-align:center;
}

.wrap_shibamain img{ 
	margin:0 auto;
}

.wrap_shibamain .shibamaintxt{ 
	font-size:12px;
	line-height:170%;
	text-align:left;
	margin:10px auto 20px;
	width:94%;
}

.wrap_shibamain .shibamaintxt span{ 
	font-size:10px;
	line-height:150%;
	display:block;
	margin-top:10px;
}

.memadd_table_01 th{ 
	text-align:left;
}


@media (max-width: 640px) {
.mainshiba{ 
	margin:0 auto 25px;
	width:90%;
}

.shiba{ 
	margin:0 auto 10px 100px;
}

.ad_navi .ad_navi_t_on {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}

.ad_navi .ad_navi_t_off {

}


.wrap_shibamain{ 
	position:static;
	z-index:1;
	text-align:left;
	margin:auto;
	width:96%;
}

.wrap_shibamain img{ 
	position:static;
	z-index:1;
	margin:auto;
	width:100%;
}

.wrap_shibamain .shibamaintxt{ 
	position:static;
	z-index:1;
	font-size:12px;
	width:auto;
	line-height:170%;
	margin-top:5px;
}

.wrap_shibamain .shibamaintxt span{ 
	font-size:10px;
	line-height:150%;
	display:block;
	margin-top:2px;

}

}

.ad_navi .ad_navi_t_on {
	border:#afe0d5 2px solid;
	background:#73bdac;
	color:#FFFFFF;
}

.ad_navi .ad_navi_t_off {

}








.item_bt_02 a {
	display:block;
	width:420px;
	height:80px;
	margin:0 auto;
	background:url(../shop/image/pc_item_bt_03_sp.jpg) no-repeat;
	text-indent:-9999px;
}
.item_bt_02 a:hover {
	filter: alpha(opacity=80);
-moz-opacity:0.80;
opacity:0.80;
}

@media (max-width: 640px) {

.item_bt_02 a {
	display:block;
	width:90%;
	height:80px;
	margin:0 auto;
	background:url(../shop/image/pc_item_bt_03_sp.jpg) no-repeat top center;
	text-indent:-9999px;
}


}


@media (max-width: 320px) {

.item_bt_02 a {
	display:block;
	width:94%;
	height:60px;
	margin:0 auto;
	background:url(../shop/image/pc_item_bt_05_sp.jpg) no-repeat top center;
	text-indent:-9999px;
}


}

.cart_table_02 td.lump1 {
	text-align: center;
	padding:0px 0px;
	line-height: 39px;
}
.cart_table_02 td.lump2 {
	text-align: right;
	padding:0px 0px;
	line-height: 39px;
}
div.right.total_annotation{
	margin-top: -30px;
	font-size: 14px;
	padding-bottom: 20px;
}

div.memadd_bt_con_01 .box_right a{
	padding: 0;
	margin: 0;
}
div.memadd_bt_con_01{
	width:88%;
}

/* ƒXƒ}ƒz‘Î‰ž 20140905 */
h4.box_02_sp{
	background: none repeat scroll 0% 0% #D3E5E6;
	min-height: 25px;
	padding-top: 5px;
	color: #36665B;

}
div.box_02_sp{
	background: none repeat scroll 0% 0% #FAFAFA;
	padding-top: 5px;
	border-top: 1px solid #ECECEC;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	vertical-align: middle;
	padding-bottom: 5px;
}

div.l_con_box_01 div ul li{
  font-size: 14px;
  background-color:#FFF;
  margin:2px;
  font-weight:900
}
div.l_con_box_01 div ul li div#rC_3{
  padding-left: 5px;
  padding-top:2px;
}
div.l_con_box_01 span#img_plas{
  background: url("../shop/image/pc_l_cate_bt_icon.gif") no-repeat scroll right center / contain transparent;
}
.i_tit_relate img{
  width:100%;
}
/*20160225 goodsDetail addImggoods mod t_yoshida*/
.r_con_box_02_in .r_con_list_04a > li:nth-child(6),
.r_con_box_02_in .r_con_list_04a > li:nth-child(7),
.r_con_box_02_in .r_con_list_04a > li:nth-child(8),
.r_con_box_02_in .r_con_list_04a > li:nth-child(9),
.r_con_box_02_in .r_con_list_04a > li:nth-child(10),
.r_con_box_02_in .r_con_list_04a > li:nth-child(11),
.r_con_box_02_in .r_con_list_04a > li:nth-child(12),
.r_con_box_02_in .r_con_list_04a > li:nth-child(13),
.r_con_box_02_in .r_con_list_04a > li:nth-child(14),
.r_con_box_02_in .r_con_list_04a > li:nth-child(15),
.r_con_box_02_in .r_con_list_04a > li:nth-child(16),
.r_con_box_02_in .r_con_list_04a > li:nth-child(17),
.r_con_box_02_in .r_con_list_04a > li:nth-child(18),
.r_con_box_02_in .r_con_list_04a > li:nth-child(19),
.r_con_box_02_in .r_con_list_04a > li:nth-child(20),
.r_con_box_02_in .r_con_list_04a > li:nth-child(21),
.r_con_box_02_in .r_con_list_04a > li:nth-child(22),
.r_con_box_02_in .r_con_list_04a > li:nth-child(23),
.r_con_box_02_in .r_con_list_04a > li:nth-child(24),
.r_con_box_02_in .r_con_list_04a > li:nth-child(25),
.r_con_box_02_in .r_con_list_04a > li:nth-child(26),
.r_con_box_02_in .r_con_list_04a > li:nth-child(27),
.r_con_box_02_in .r_con_list_04a > li:nth-child(28),
.r_con_box_02_in .r_con_list_04a > li:nth-child(29),
.r_con_box_02_in .r_con_list_04a > li:nth-child(30),
.r_con_box_02_in .r_con_list_04 > li:nth-child(6),
.r_con_box_02_in .r_con_list_04 > li:nth-child(7),
.r_con_box_02_in .r_con_list_04 > li:nth-child(8),
.r_con_box_02_in .r_con_list_04 > li:nth-child(9),
.r_con_box_02_in .r_con_list_04 > li:nth-child(10),
.r_con_box_02_in .r_con_list_04 > li:nth-child(11),
.r_con_box_02_in .r_con_list_04 > li:nth-child(12),
.r_con_box_02_in .r_con_list_04 > li:nth-child(13),
.r_con_box_02_in .r_con_list_04 > li:nth-child(14),
.r_con_box_02_in .r_con_list_04 > li:nth-child(15),
.r_con_box_02_in .r_con_list_04 > li:nth-child(16),
.r_con_box_02_in .r_con_list_04 > li:nth-child(17),
.r_con_box_02_in .r_con_list_04 > li:nth-child(18),
.r_con_box_02_in .r_con_list_04 > li:nth-child(19),
.r_con_box_02_in .r_con_list_04 > li:nth-child(20),
.r_con_box_02_in .r_con_list_04 > li:nth-child(21),
.r_con_box_02_in .r_con_list_04 > li:nth-child(22),
.r_con_box_02_in .r_con_list_04 > li:nth-child(23),
.r_con_box_02_in .r_con_list_04 > li:nth-child(24),
.r_con_box_02_in .r_con_list_04 > li:nth-child(25),
.r_con_box_02_in .r_con_list_04 > li:nth-child(26),
.r_con_box_02_in .r_con_list_04 > li:nth-child(27),
.r_con_box_02_in .r_con_list_04 > li:nth-child(28),
.r_con_box_02_in .r_con_list_04 > li:nth-child(29),
.r_con_box_02_in .r_con_list_04 > li:nth-child(30){
	display:none;
}
