@charset "shift-jis";
/* main_visual
-------------------------------------- */
#contents .feature .main_visual { margin-bottom: 80px; }
#contents .feature .feature_inner img { max-width: 100%; }
 

.cont_wrap { margin: 0 auto; }

/* ===== Intro ====== */
.intro { margin: 0 auto 143px; position: relative; }
.intro .sec_ttl { text-align: center; position: relative; z-index: 1; }
.intro .sec_txt_block { width: 45.31%; position: absolute; top: 255px;  right: 125px; z-index: 1; }
.intro .sec_txt_block .sec_txt { margin-bottom: 30px; font-size: 15px; color: #323232; line-height: 1.8; }
.intro .sec_graph_img { width: 44.84%; position: absolute; z-index: 1; top: 537px; right: 130px; }
.intro .sec_bg_img { position: relative; top: -30px; }

/* ===== Info ===== */
.info { margin-bottom: 313px; height: 698px; background: url(/contents/shop/00000006/shop/image/kigokochi/feature44/info_bg.png) 67px -17px; background-color: #f2eae6; position: relative; }
.info .sec_inner { margin: 0 auto; }
.info .sec_ttl { position: relative; top: -93px; }
.info .sec_img { margin: auto; text-align: center; position: absolute; top: 96px; left: 41px; right: 0; }
.info .sec_txt { margin: 0 auto; font-size: 15px; color: #000; line-height: 1.6; text-align: center; position: absolute; top: 744px; left: 0; right: 0; }

/* ===== Products ===== */
.products { margin: 0 auto; }
.products .prod_block { margin-bottom: 190px; position: relative; }
.products .prod_block .prod_image {  }
.products .prod_block .prod_image .photo {  }
.products .prod_block .prod_image .photo_item_list { position: absolute; bottom: -3px; }
.products .prod_block.prod_type01 .prod_image .photo_item_list { left: 0; }
.products .prod_block.prod_type02 .prod_image .photo_item_list { width: 503px; right: 35px; }
.products .prod_block .prod_image .photo_item_list li { margin-bottom: 3px; padding-left: 1em; text-indent: -1em; font-size: 14px; color: #333; letter-spacing: 0.06em; }
.products .prod_block .prod_image .photo_item_list li:last-child { margin-bottom: 0; }
.products .prod_block .prod_image .photo_item_list .txt_bold { font-weight: bold; }
.products .prod_block .prod_image .photo_item_list .txt_bold a { text-decoration: underline;}
.products .prod_block .prod_image .photo_item_list li .btn_more { margin-left: 6px; width: 56px; height: 18px; }

/* ===== Detail links ===== */
.detail_link { margin: 0 auto 80px; width: 1020px; }


@media (min-width: 641px) {
	.intro { min-width: 1020px; max-width: 1280px; position: relative; }
	.info .sec_inner { min-width: 1020px; max-width: 1280px; }
	.products { min-width: 920px; max-width: 1280px; padding: 0 50px; }
}

@media (max-width: 640px){

	/* main_visual
	-------------------------------------- */
	#contents .feature .main_visual { margin-bottom: 25px; }

	#contents .feature .feature_inner .ttl_section { border-bottom: none; }
	#contents .feature .feature_inner .ttl_section_jp.ttl_section_jp { width: 100%; padding: 0; }
	#contents .feature .feature_inner .main_visual { margin-top: 46px; }

	.cont_wrap { width: 100%; }
	.cont_wrap img { width: 100%; display: block; }

	/* ===== Intro ====== */
	.intro { margin: 0 auto 139px; width: 92%; min-width: inherit; max-width: none; }
	.intro .sec_ttl { margin-bottom: 13px; position: static;  }
	.intro .sec_txt_block { width: 100%;  position: static; }
	.intro .sec_txt_block .sec_txt { margin-bottom: 18px; font-size: 12px;  line-height: 1.6; }
	.intro .sec_txt_block .sec_txt:last-of-type { margin-bottom: 15px; }
	.intro .sec_graph_img { margin-bottom: 15px; position: static; }
	.intro .sec_bg_img { position: static; }

	/* ===== Info ===== */
	.info { margin-bottom: 50%; height: auto; position: relative; background-size: 50% auto; }
	.info .sec_inner { margin: 0 auto; width: 100%; min-width: none; max-width: none; }
	.info .sec_ttl { position: absolute; top: -12.5%; }
	.info .sec_img { position: relative; top: 0; left: inherit; right: inherit; }
	.info .sec_txt { margin: 0 auto; width: 92%; font-size: 12px; text-align: left; position: absolute; top: inherit; bottom: inherit; top: 103%; }

	/* ===== Products ===== */
	.products { margin-bottom: 46px; width: 92%; min-width: none; max-width: none; }
	.products .prod_block { margin-bottom: 40px; }
	.products .prod_block .prod_image {  }
	.products .prod_block .prod_image .photo { margin-bottom: 18px; }
	.products .prod_block .prod_image .photo_item_list { position: static; }
	.products .prod_block.prod_type01 .prod_image .photo_item_list { left: inherit; }
	.products .prod_block.prod_type02 .prod_image .photo_item_list { width: auto; right: inherit; }
	.products .prod_block .prod_image .photo_item_list li { margin-bottom: 3px; font-size: 11px; line-height: 2.6; letter-spacing: 0.03em; }
	.products .prod_block .prod_image .photo_item_list li:last-child { margin-bottom: 0; }
	.products .prod_block .prod_image .photo_item_list li a { text-decoration: underline; }
	.products .prod_block .prod_image .photo_item_list li .btn_more { margin-left: 6px; width: 50px; height: 16px; display: inline-block; vertical-align: middle; }

	/* ===== Detail links ===== */
	.detail_link { margin: 0 auto 38px; width: 92%; }

}
