@charset "shift-jis";

#contents .feature .main_visual {
	margin-bottom: 100px;
}

#contents .sec {
    margin: 0 auto 36px;
    max-width: 1400px;
    min-width: 920px;
    padding: 0 50px;
}

.detail-bnr {
    padding-bottom: 100px;
    text-align: center;
}

#feature36 .sec01 {
	margin-bottom: 100px;
	padding: 60px 0 262px;
	min-width: 1020px;
	background: url(/contents/shop/00000006/shop/image/kigokochi/feature36/bg01.jpg) no-repeat center center;
	background-size: cover;
}

#feature36 .sec01 .subBox {
	margin: 0 auto;
	width: 1020px;
}

#feature36 .sec01 .subBox .textBox {
	float: right;
	width: 415px;
}

#feature36 .sec01 .subBox .textBox .ttl {
	margin-bottom: 45px;
}

#feature36 .sec01 .subBox .textBox p {
	margin-bottom: 23px;
	line-height: 1.57;
	letter-spacing: 1px;
}

#feature36 .sec01 .subBox .textBox p:last-child {
	margin: 0;
}

#feature36 .sec02 {
	margin-bottom: 110px;
	position: relative;
}

#feature36 .sec02 .photo {
	margin-bottom: 80px;
}

#feature36 .sec02 .photo img {
	width: 100%;
}

#feature36 .sec02 .title {
	text-align: center;
	position: absolute;
	top: 111px;
	left: 0;
	width: 100%;
}

#feature36 .sec02 .photoUl li {
	margin: 80px 5% 0 0;
	float: left;
	width: 30%;
}

#feature36 .sec02 .photoUl li img {
	width: 100%;
}

#feature36 .sec02 .photoUl li:nth-child(3n) {
	margin-right: 0;
}

#feature36 .sec02 .photoUl li:nth-child(2n) {
	margin-top: 0;
}

#feature36 .sec03 {
	margin-bottom: 146px;
}

#feature36 .sec03 .title {
	margin-bottom: 68px;
	text-align: center;
}

#feature36 .sec03 .bigPhoto {
	margin: 0 auto 81px;
	width: 1020px;
	position: relative;
	text-align: center;
}

#feature36 .sec03 .bigPhoto > span {
	display: block;
	line-height: 1.57;
	position: absolute;
	text-align: left;
}

#feature36 .sec03 .bigPhoto .txt01 {
	padding: 23px 30px 26px;
	width: 402px;
	box-sizing: border-box;
	top: 0;
	left: -2px;
	border: 1px solid #A0A0A0;
}

#feature36 .sec03 .bigPhoto .ttl {
	margin-bottom: 19px;
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.67;
}

#feature36 .sec03 .bigPhoto .txt02 {
	top: 239px;
	left: 0;
	width: 240px;
}

#feature36 .sec03 .bigPhoto .txt03 {
	top: 6px;
	right: 0;
	width: 245px;
}

#feature36 .sec03 .bigPhoto .txt04 {
	top: 270px;
	right: 0;
	width: 362px;
}

#feature36 .sec03 .bigPhoto .txt04 .ttl {
	text-align: right;
}

#feature36 .sec03 .bigPhoto .txt04 .ttl span {
	display: inline-block;
	text-align: left;
}

#feature36 .sec03 .bigPhoto .txt04 .ttl .num {
	display: none;
}

#feature36 .sec03 .subBox {
	margin: 0 auto;
	width: 1020px;
}

#feature36 .sec03 .subBox li {
	float: left;
	width: 485px;
}

#feature36 .sec03 .subBox li:nth-child(2) {
	float: right;
}

#feature36 .sec03 .subBox li span {
	display: block;
	line-height: 1.57;
}

#feature36 .sec03 .subBox li .photo {
	margin-bottom: 23px;
}

#feature36 .sec03 .subBox li .ttl {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
}

#feature36 .sec03 .bigPhoto > span .num {
	display: none;
}
	
#feature36 .sec04 {
	margin: 0 auto 146px;
	width: 1020px;
}

#feature36 .sec04 .title {
	margin-bottom: 45px;
	text-align: center;
}

#feature36 .sec04 .txt {
	margin-bottom: 54px;
	text-align: center;
	line-height: 1.57;
}

#feature36 .sec04 li {
	padding-left: 40px;
	float: left;
	width: 313px;
}

#feature36 .sec04 li:first-child {
	padding: 0;
}

#feature36 .sec04 li span {
	margin-top: 17px;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

#feature36 .sec05 {
	margin: 0 auto 96px;
	width: 1020px;
}

#feature36 .sec05 .title {
	margin-bottom: 43px;
	text-align: center;
}

#feature36 .sec05 .txt {
	margin-bottom: 71px;
	text-align: center;
	line-height: 1.57;
}

#feature36 .sec05 .bigPhoto {
	margin-bottom: 38px;
	position: relative;
	text-align: center;
}

#feature36 .sec05 .bigPhoto > span {
	display: block;
	line-height: 1.57;
	position: absolute;
	text-align: left;
}

#feature36 .sec05 .bigPhoto .ttl {
	margin-bottom: 19px;
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.67;
}

#feature36 .sec05 .bigPhoto > span .num {
	display: none;
}

#feature36 .sec05 .bigPhoto .txt01 {
	width: 250px;
	top: 10px;
	left: 100px;
}

#feature36 .sec05 .bigPhoto .txt02 {
	width: 250px;
	top: 190px;
	left: 20px;
}

#feature36 .sec05 .bigPhoto .txt03 {
	width: 250px;
	top: -7px;
	right: 0px;
}

#feature36 .sec05 .bigPhoto .txt04 {
	width: 355px;
	top: 196px;
	right: 0px;
}

#feature36 .sec05 .note {
	margin-bottom: 55px;
	color: #878787;
	font-size: 12px;
	text-align: right;
}

#feature36 .sec05 li {
	padding-left: 40px;
	float: left;
	width: 313px;
	letter-spacing: 1px;
	line-height: 1.57;
}

#feature36 .sec05 li:first-child {
	padding: 0;
}

#feature36 .sec05 li .photo {
	margin-bottom: 23px;
	display: block;
}

#feature36 .sec05 li .ttl {
	margin-bottom: 17px;
	display: block;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0;
}

#feature36 .sec06 .title {
	text-align: center;
}

@media (max-width: 640px){
	#contents #pan-navi {
		margin: 15px auto 20px !important;
	}

	#contents .feature .ttl_section_en {
		margin: 18px auto 5px;
	}
	
	#contents .feature .ttl_section_en img {
		width: 227px;
	}
	
	#contents .feature .ttl_section_jp img {
		width: 140px;
	}
		
	#contents .feature .ttl_section {
		margin-bottom: 26px !important;
	} 
		
	#contents .feature .main_visual {
		margin-bottom: 0;
	}
	
	#contents .sec {
		margin: 0 15px 24px;
		max-width: initial;
		min-width: initial;
		padding: 0;
		width: auto;
	}
	
	#contents .sec p {
		font-size: 13px;
	}
	
	#contents .sec01 {
		margin: 0 0 39px;
		padding: 0;
		min-width: initial;
		background: none;
	}
	
	#contents .sec01 .photo {
		margin: 0 -15px 45px;
	}
	
	#contents .sec01 .subBox {
		width: auto;
	}
	
	#contents .sec01 .photo img {
		width: 100%;
	}
	
	#contents .sec01 .subBox .textBox {
		float: none;
		width: auto;
	}
	
	#contents .sec01 .subBox .textBox .ttl {
		margin-bottom: 33px;
	}
	
	#contents .sec01 .subBox .textBox .ttl img {
		width: 100%;
	}
	
	#feature36 .sec01 .subBox .textBox p {
		margin-bottom: 18px;
	}
	
	#feature36 .sec02 {
		margin-bottom: 70px;
	}
	
	#feature36 .sec02 .bgBox {
		display: none;
	}
	
	#feature36 .sec02 .photoUl li:nth-child(3n),
	#feature36 .sec02 .photoUl li:nth-child(2n),
	#feature36 .sec02 .photoUl li {
		margin: 40px auto 0;
		float: none;
		width: 62.6%;
	}
	
	#feature36 .sec02 .photoUl li:first-child {
		margin-top: 0;
	}
	
	#feature36 .sec03 {
		margin-bottom: 76px;
	}

	#feature36 .sec03 .title {
		margin-bottom: 27px;
	}
	
	#feature36 .sec03 .title img {
		width: 100%;
	}
	
	#feature36 .sec03 .bigPhoto {
		margin: 0 0 50px;
		width: auto;
	}
	
	#feature36 .sec03 .bigPhoto > span {
		font-size: 12px;
		letter-spacing: 1px;
	}
	
	#feature36 .sec03 .bigPhoto .txt01 {
		margin-bottom: 26px;
		padding: 20px 25px 22px;
		position: static;
		width: auto;
	}
	
	#feature36 .sec03 .bigPhoto .ttl {
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 1.67;
		padding-left: 1.8em;
		text-indent: -1.8em;
	}
	
	#feature36 .sec03 .bigPhoto .txt01 .ttl {
		margin-bottom: 15px;
		font-size: 15px;
		padding-left: 0;
		text-indent: 0;
	}
	
	#feature36 .sec03 .bigPhoto .txt02,
	#feature36 .sec03 .bigPhoto .txt03,
	#feature36 .sec03 .bigPhoto .txt04 {
		margin-bottom: 27px;
		position: static;
		width: auto;
	}
		
	#feature36 .sec03 .bigPhoto img {
		margin-bottom: 30px;
		width: 100%;
		display: block;
	}
	
	#feature36 .sec03 .bigPhoto > span .num {
		display: inline;
	}
	
	#feature36 .sec03 .bigPhoto .txt04 {
		margin: 0;
	}
	
	#feature36 .sec03 .bigPhoto .txt04 .ttl {
		text-align: left;
	}
	
	#feature36 .sec03 .bigPhoto .txt04 .ttl span {
		display: inline;
	}
	
	#feature36 .sec03 .subBox {
		width: auto;
	}
	
	#feature36 .sec03 .subBox li {
		margin-top: 25px;
		float: none !important;
		font-size: 12px;
		width: auto;
		letter-spacing: 1px;
	}
	
	#feature36 .sec03 .subBox li:first-child {
		margin: 0;
	}
	
	#feature36 .sec03 .subBox li .photo {
		margin: 0 auto 15px;
		width: 70%;
	}
	
	#feature36 .sec03 .subBox li img {
		width: 100%;
	}
	
	#feature36 .sec03 .subBox li .ttl {
		margin-bottom: 12px;
		font-size: 16px;
	}
	
	#feature36 .sec04 {
		margin: 0 auto 75px;
		width: auto;
	}
	
	#feature36 .sec04 .title {
		margin-bottom: 25px;
	}
	
	#feature36 .sec04 .title img {
		width: 100%;
	}
	
	#feature36 .sec04 ul {
		margin: 0 auto;
		width: 60%;
	}
	
	#feature36 .sec04 li {
		margin-top: 20px;
		padding: 0;
		float: none;
		text-align: center;
		width: auto;
	}
	
	#feature36 .sec04 li:first-child {
		margin: 0;
	}
	
	#feature36 .sec04 li img {
		width: 100%;
	}
	
	#feature36 .sec04 .txt {
		margin-bottom: 28px;
	}
	
	#feature36 .sec04 li span {
		margin-top: 5px;
		font-size: 12px;
	}
	
	#feature36 .sec05 {
		margin-bottom: 40px;
		width: auto;
	}
	
	#feature36 .sec05 .title {
		margin-bottom: 23px;
	}
	
	#feature36 .sec05 .title img {
		width: 100%;
	}
	
	#feature36 .sec05 .txt {
		margin-bottom: 35px;
	}
	
	#feature36 .sec05 .bigPhoto {
		margin: 0 0 50px;
		width: auto;
	}
	
	#feature36 .sec05 .bigPhoto > span {
		margin-bottom: 27px;
		font-size: 12px;
		position: static;
		width: auto !important;
		letter-spacing: 1px;
	}

	#feature36 .sec05 .bigPhoto .ttl {
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 1.67;
		padding-left: 1.8em;
		text-indent: -1.8em;
	}
		
	#feature36 .sec05 .bigPhoto img {
		margin-bottom: 30px;
		width: 100%;
		display: block;
	}
	
	#feature36 .sec05 .bigPhoto > span .num {
		display: inline;
	}
	
	#feature36 .sec05 .bigPhoto .txt04 {
		margin: 0;
	}
	
	#feature36 .sec05 .note {
		margin-bottom: 30px;
		font-size: 10px;
	}
	
	#feature36 .sec05 li {
		padding: 0;
		margin-top: 25px;
		float: none !important;
		font-size: 12px;
		width: auto;
		letter-spacing: 1px;
	}
	
	#feature36 .sec05 li:first-child {
		margin: 0;
	}
	
	#feature36 .sec05 li .photo {
		margin: 0 auto 15px;
		width: 70%;
	}
	
	#feature36 .sec05 li img {
		width: 100%;
	}
	
	#feature36 .sec05 li .ttl {
		margin-bottom: 12px;
		font-size: 16px;
	}
	
	#feature36 .sec06 .title img {
		width: 100%;
	}
	
	.detail-bnr {
		padding-bottom: 8px;
	}
	
	.detail-bnr img {
		width: 100%;
	}
	
	.bannerbox .banner_photo {
		right: 25px;
	}
	
	#feature36 .sec03 .bigPhoto .txt04 .ttl .num {
		display: inline;
		text-align: left;
	}

}

@media (max-width: 374px){
	.bannerbox .banner_photo {
		right: 0;
	}
}
