/* CSS Document */
@charset "Shift_JIS";

/*clearfix*/
#content_wrap .clearfix:after{
    content: ".";
    display: block;
    height: 0;
    font-size:0;  
    clear: both;
    visibility:hidden;
}
#content_wrap .clearfix{
    display: inline-block;
}
/* Hides from IE Mac */
* html .clearfix{
    height: 1%;
}
#content_wrap .clearfix{
    display:block;
}  


/*body{
	border-top: 4px solid #73bdac;
	color: #333;
	overflow: visible;
	font-size: 16px;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif; 

}

a{
	color: #0e1bbb;
	text-decoration: underline;
}
a:hover{
	color: #5e69ee;
}

img.hover:hover{
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
}*/

#content_wrap .sp_on{
	display: none !important;
}

/*#header{
	width: 100%;
	min-width: 960px;
	text-align: center;
	border-bottom: 1px solid #cecdc9;
	padding-bottom: 5px;
}
#header_wrap{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
}
#header_left{
	float: left;
	overflow: hidden;
	width: 750px;
}
#header_wrap #header_logo{
	float: left;
}
#header_tel{
	float: left;
	padding-left: 95px;
	margin-top: 55px;
}
#header_tel a{
	cursor: default;
}
#login_wrap{
	float: right;
	margin-top: 15px;
	font-size: 15px;
}
#login_wrap a#new_entry{
	background-image: url(../../image/static/img/nihon2015/right_arrow.jpg);
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin: 10px 0 0 20px;
	padding-left: 15px;
	text-decoration: underline;
	display: block;
}*/

#content{
	background-color: #fefcf0;
}
#content_wrap{
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
}

#content_wrap .inner_box01{
	width: 960px;
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius:5px;
	background-color: #fff;
	margin-bottom: 36px !important;
	padding-bottom: 10px;
	position: relative;
	background-image: url(../../image/static/img/nihon2015/inner_box01_pic.png);
	background-repeat: no-repeat;
	background-position: 0px 100px;
}
#content_wrap .inner_box01 h2{
	background-image: url(../../image/static/img/nihon2015/inner_box01_h2_titlebg.jpg);
	background-repeat: no-repeat;
	height: 62px;
	font-size: 37px;
	font-weight: bold;
	color: #008282;
	padding: 15px 0 0 30px;
	margin-left: 5px;
	margin-bottom: 25px;
	border-left:3px solid #fff;
	-webkit-text-shadow: #999 0px 2px 5px;
	-moz-text-shadow: #999 0px 2px 5px;
	text-shadow: #999 0px 2px 5px;

}
#content_wrap .inner_box01 h3{
	background-image: url(../../image/static/img/nihon2015/inner_box01_h3_bg.jpg);
	background-repeat: no-repeat;
	margin: 0 1em 10px 320px;
	padding-left: 30px;
	color: #007D7D;
	font-size: 22px;
	font-weight: bold;
}
#content_wrap .inner_box01 p{
	margin-left: 350px;
	margin-right: 1.5em;
	margin-bottom: 20px;
}
#content_wrap .inner_box01_pic{
	position: absolute;
	bottom: 2px;
	right: 2px;;
}



#content_wrap .inner_box02{
	width: 960px;
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius:5px;
	background-color: #fff;
	margin-bottom: 40px !important;
}
#content_wrap .inner_box02 h2{
	background-image: url(../../image/static/img/nihon2015/inner_box02_h2_titlebg.jpg);
	background-repeat: no-repeat;
	height: 62px;
	font-size: 37px;
	font-weight: bold;
	color: #663333;
	padding: 15px 0 0 30px;
	margin-left: 5px;
	margin-bottom: 15px;
	-webkit-text-shadow: #999 0px 2px 5px;
	-moz-text-shadow: #999 0px 2px 5px;
	text-shadow: #999 0px 2px 5px;
}


#content_wrap .inner_box02_wrap{
	overflow: hidden;
	margin: 0 25px;
}
#content_wrap .inner_box02 .box_wrap{
	overflow: hidden;
	margin: 0 25px;
	padding-bottom: 15px;
}
#content_wrap .inner_box02 .short_box{
	width: 100%;
	margin-bottom: 15px;
	background-color: #FAF8E4;
	position:relative;
	clear:both;
	height:195px;
}


@media screen and (min-width:641px){
#content_wrap .inner_box02 .boxlong{
	height:300px;
}


#content_wrap .inner_box02 .short_box h3{
	background-image: url(../../image/static/img/nihon2015/inner_box02_titlebg.png);
	background-repeat:repeat-y;
	font-size: 22px;
	font-weight: bold;
	text-align:center;
	position:absolute;
	top:0;
	left:0;

}
#content_wrap .inner_box02 .short_box h3 span{
	width: 104px;
	height:198px;
	box-sizing:border-box;
	padding-left:20px;
	display: table-cell;
	vertical-align: middle;
	font-weight:bold;
}

#content_wrap .inner_box02 .boxlong h3 span{
	height:300px;
}



#content_wrap .inner_box02 ul{
	position:absolute;
	top:0px;
	left:115px;
	padding-left: 5px;
	overflow: hidden;
	margin-top: 20px;
	list-style: none;
}
#content_wrap .inner_box02 ul li{
	float: left;
	width:195px;
	margin: 0 0 5px;
	text-align:center;
}

#content_wrap .inner_box02 ul li img{
	display:block;
	margin: 0 auto 10px;
	width:178px;
}
#content_wrap .inner_box02 ul li.long_text{
	font-size:14px;
}

#content_wrap .inner_box02 .long_box{
	width: 765px;
	margin-left:12px;
	margin-bottom: 20px;
	overflow: hidden;
	background: url(../../image/static/img/nihon2015/inner_box02_long_box_bg.jpg)  250px 3px #fff;
	background-repeat: no-repeat;
	box-sizing:border-box;
	position:absolute;
	top:200px;
	left:115px;
	box-shadow: 0 0 5px #ccc;
}

#content_wrap .long_box p.title{
	font-weight: bold;
	margin:10px 0 0 20px;
	font-size: 17px;
	float:left;
}
#content_wrap .long_box p.title span{
	color: #83AE00;
	font-size: 19px;
	display:block;
	line-height:200%;
}

#content_wrap .long_box p.commnet{
margin-left:300px;
padding:20px 20px 20px 0;
}

}


#content_wrap h2.voice_title{
	text-align: center;
	height: 54px;
	width: 100%;
	font-size: 30px;
	color: #fff;
	line-height: 54px;
	margin: 1.5em auto 0;
	background:url(../../image/static/img/nihon2015/voice_title_bg.png) top center no-repeat;
}

#content_wrap h2.voice_title span{
	display:block;
	margin: 0 auto;
	width: 500px;
	text-align:center;
	background-color: #4C937E;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	-ms-border-radius:27px;
	margin-bottom: 17px;
}
#content_wrap .voice_wrap{
	margin-bottom: 17px;
}
#content_wrap .voice_box{
	float: left;
	width: 438px;
	height: 120px;
	padding: 15px 20px 0px 10px;
	box-shadow: 0 0 5px #aaa;
	border: 2px solid #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius:5px;
	overflow: hidden;
	margin-top:1em;
}
#content_wrap .voice_bg1{
	background-color: #F0FBFB;
}
#content_wrap .voice_bg2{
	background-color: #E6F1F9;
}
#content_wrap .voice_bg3{
	background-color: #FDF2FC;
}
#content_wrap .voice_bg4{
	background-color: #F0FCEF;
}

#content_wrap .voice_pic{
	float: left;
	margin-right:5px;
}

#content_wrap .voice_text span{
	font-size: 12px;
	color:#CC6666;
}



#content_wrap .voice_anq{
margin:25px 0 0.8em;
}
#content_wrap .anq_title{
color:#2F7664;
font-size:26px;
font-weight:bold;
background:url(../../image/static/img/nihon2015/icon_voice.png) left top no-repeat;
padding-left:40px;
margin-bottom:10px;
}
#content_wrap .anq_pic img{
height:438px;
float:left;
margin-right:11px;
width: auto;
}

#content_wrap .anq_pic:last-child{
margin-right:0;}

#content_wrap .anq_n{
clear:left;
text-align:right;
font-size:70%;
padding:5px 15px 0;
}

#content_wrap .inner_nihon_about{
	width: 960px;
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius:5px;
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 40px;
	padding-bottom: 10px;
	overflow: hidden;
}
#content_wrap .inner_nihon_about h2{
	background-image: url(../../image/static/img/nihon2015/inner_box03_h2_titlebg.jpg);
	background-repeat: no-repeat;
	height: 62px;
	font-size: 37px;
	font-weight: bold;
	color: #336666;
	padding: 15px 0 0 30px;
	margin-left: 5px;
	margin-bottom: 10px;
	-webkit-text-shadow: #999 0px 2px 5px;
	-moz-text-shadow: #999 0px 2px 5px;
	text-shadow: #999 0px 2px 5px;
}
#content_wrap .inner_nihon_about div.text_box{
	float: left;
	padding-left: 30px;
	line-height: 180%;
}
#content_wrap .inner_nihon_about p.pic_box{
	float: right;
	padding-right: 20px;
	margin-left: 30px;
}


/*inner_orderbox*/
#content_wrap .inner_orderbox{
	width: 960px;
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius:5px;
	background-color: #fff;
	padding-bottom: 10px;
	overflow: hidden;
	margin: 0 auto 36px;
}

#content_wrap .inner_orderbox h2{
	background-image: url(../../image/static/inner_box02_h2_titlebg.jpg);
	background-repeat: no-repeat;
	height: 62px;
	font-size: 37px;
	font-weight: bold;
	padding: 15px 0 0 30px;
	margin-left: 5px;
	margin-bottom: 25px;
	-webkit-text-shadow: #999 0px 2px 5px;
	-moz-text-shadow: #999 0px 2px 5px;
	text-shadow: #999 0px 2px 5px;
}

#content_wrap .inner_orderbox div.text_box{
	float: left;
	padding-left: 30px;
	line-height: 180%;
}
#content_wrap .inner_orderbox p.pic_box{
	float: right;
	padding-right: 20px;
	margin-left: 30px;
}



#content_wrap .dvd_pic{
	float: left;
	padding-left: 25px;
}
#content_wrap .dvd_pic img{
	width: 200px;
}
#content_wrap .price{
	padding-left: 25px;
	float: left;
	width: 320px;
}
#content_wrap .price img{
	width: 100%;
}
#content_wrap .price_txt01{
	padding-right: 20px;
	color:red;
}
#content_wrap .price_txt02{
	font-size: 44px;
	color:red;
	font-weight:bold;
}
#content_wrap .price_txt03{
	font-size: 22px;
	color:red;
	font-weight:bold;
}
#content_wrap .price_txt04{
	font-size: 20px;
}
#content_wrap .price table{
	margin-left: 10px;
	margin-bottom: 15px;
	font-size: 16px;
}
#content_wrap .price table td{
	border-bottom: 1px solid #9a9a9a;
	height: 25px;
}
#content_wrap .price table .table_left{
	text-align: right;
	width: 130px;
	padding-right: 20px;
}
#content_wrap .price table .table_right{
	width: 160px;
	font-weight: bold;
}
#content_wrap .price table .price2{
color:red;
font-size:16pt;
}

#content_wrap .price table .price2 span{
font-size:26pt!important; 
font-weight:bold;
display:inline;}


#content_wrap .dvd_info_right{
	float: right;
	padding-right: 30px;
	width: 300px;
}
#content_wrap .dvd_info_right p.color_red{
	color: #d40000;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
}
#content_wrap .shopping{
	text-align: center;
	padding-bottom: 25px;
}
#content_wrap .shopping_sp{
	display: none;
}
#content_wrap .inner_furokubox h3{
	background-image: url(../../image/static/img/nihon2015/inner_box02_h2_titlebg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	padding: 5px 0 0 30px;
	margin-left: 5px;
	margin-bottom: 10px;
}


h3.detail_title{
	background: url(../../image/static/inner_box02_h2_titlebg.jpg) left bottom;
	background-repeat: no-repeat;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	padding: 5px 0 0 30px;
	margin-left: 5px;
	margin-bottom: 10px;
}

#content_wrap .detail_box{
	overflow: hidden;
	margin-bottom: 25px;
	padding: 0 25px;
	padding-top:10px;
}

#content_wrap .detail_box table{
	font-size: 16px;
	border-top: 1px solid #d5cebc;
	margin-bottom: 10px;
}
#content_wrap .detail_box table th{
	background-color: #f7f7ef;
	width: 115px;
	padding: 10px 0 10px 10px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #d5cebc;
}
#content_wrap .detail_box table td{
	padding: 10px 0 10px 10px;
	width: 325px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #d5cebc;
}
#content_wrap .detail_left{
	float: left;
	width: 460px;
	line-height: 22px;
	margin-bottom: 30px;
}
#content_wrap .detail_left p{
	font-size: 14px;
}
#content_wrap .detail_right{
	float: right;
	width: 390px;
}
#content_wrap .detail_right img{
	width: 390px;
}
#content_wrap .detail_right p.detail_right_text{
	font-size: 12px;
	background-color: #e9e2d8;
	padding: 5px 0 5px 10px;
	line-height: 14px;
}
#content_wrap .detail_box .sub_title{
	clear: both;
	font-size: 20px;
	color: #970005;
	margin-bottom: 10px;
}
#content_wrap .detail_box table.fs18{
	font-size: 18px;
}

#page_top{
	width:960px;
	margin:0 auto;
	text-align: right;
	padding-bottom: 10px;
}
#page_top a{
	background-image: url(../../image/static/img/nihon2015/page_top_icon.png);
	background-repeat: no-repeat;
	background-position: 0 5px;
	padding-left: 20px;
}

/*#footer_temp{
	background-color: #bcded0;
	padding: 15px 0;
}
#footer_wrap{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#footer_wrap ul{
	display: inline;
	float: left;
}
#footer_wrap ul li{
	display: inline;
	float: left;
	background-image: url(../../image/static/img/nihon2015/footer_arrow.jpg);
	background-repeat: no-repeat;
	font-size: 12px;
	line-height: 12px;
	padding-left: 17px;
	border-right: 1px solid #7fa89a;
	padding-right: 10px;
	margin-right: 10px;
}
#footer_wrap ul li:last-child{
	border: none;
}
#footer_wrap .copyright{
	display: inline;
	float: right;
	font-size: 8px;
	color: #145949;
}
*/

/*スマホ用*/

@media screen and (max-width:640px){

/*body{
	min-width: 100%;
}*/

#content_wrap .sp_margin{
	margin-left: 3%;
	margin-right: 3%;
}
#content_wrap .sp_none{
	display: none !important;
}
#content_wrap .sp_on{
	display: block !important;
}

#header{
	width: 100%;
	min-width: 100%;
	margin-bottom: 2%;
}
/*#header_wrap{
	width: 96%;
	padding: 0 2%;
}
#header_left{
	width: 65%;
	margin-right: 5%;
}
#header_wrap #header_logo{*/
	/*margin-right: 35%;*/
/*}
#header_left img{
	max-width: 100%;
	height: auto;
	width: 100%;
}
#header_tel{
	padding: 0;
	margin: 0;
	padding-left: 3%;
}
#login_wrap{
	width: 25%;
	margin-top: 10%;
	font-size: 12px;
	padding-right: 1%;
}
#login_wrap img{
	max-width: 100%;
	height: auto;
}
#login_wrap #new_entry_wrap{
	padding-left: 15%;
}
#login_wrap a#new_entry{
	margin: 3% 0 0 0;
	background-position: 0 5px;
	height: 16px;
}*/

#content{
	width: 100%;
}
#content_wrap{
	width: 100%;
}
#content_wrap img{
	max-width: 100%;
	height: auto;
}

#content_wrap h2.voice_title{
	width: auto;
	max-width: 90%;
	font-size: 28px;
}

#content_wrap h2.voice_title{
	text-align: center;
	height: auto;
	width: 100%;
	font-size: 30px;
	color: #fff;
	line-height: 110%;
	margin: 0 auto;
	background:none;
}

#content_wrap h2.voice_title span{
	display:block;
	margin: 0 auto;
	width: 100%;
	text-align:center;
	background-color: #4C937E;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	-ms-border-radius:27px;
	margin-bottom: 17px;
	line-height:110%;
	padding:10px 0;
}

#content_wrap .inner_box01{
	width: auto;
	background-image: none;
	margin-bottom:1em!important;
}

#content_wrap .mb40{
	margin-bottom:1em!important;
}

#content_wrap .inner_box01 h2{
	width: auto;
	height: auto;
	background-image: url(../../image/static/img/nihon2015/inner_box01_h2_titlebg.jpg) ;
	font-size: 30px;
	line-height: 32px;
	padding: 10px 10px 0 10px;
	padding-bottom: 10px;
	margin-right: 5px;
	background-position: 0 bottom;
	margin-bottom: 15px;
}
#content_wrap .inner_box01 h3{
	padding-right: 0;
	line-height: 24px;
	padding-top: 5px;
	margin-left: 10px;
	mrgin-right:0;
	background-position: 0 3px;
}
#content_wrap .inner_box01 p{
	padding-right: 0;
	margin-left: 40px;
	margin-right: 10px;
}

#content_wrap .voice_box{
	float: none !important;
	width: auto;
	height: auto;
	margin-bottom:10px;
	padding: 2%;
}
#content_wrap .voice_pic{
	width: 20%;
}

#content_wrap .voice_pic2{
float:right;
margin-right:0;
}
#content_wrap .voice_text{
	/*width: 81%;*/
	padding-right: 1%;
	line-height: 160%;
}
#content_wrap .voice_text2{
	/*float: left;*/
	padding-right: 0;
	padding-left: 1%;
}


#content_wrap .anq_title{
color:#2F7664;
font-size:20px;
font-weight:bold;
background:url(../../image/static/img/nihon2015/icon_voice.png) left top no-repeat;
padding-left:40px;
margin-bottom:10px;
}
#content_wrap .anq_pic img{
margin-bottom:10px;
}

#content_wrap .sp_mb{
	margin-bottom: 17px;
}

#content_wrap .inner_box02{
	width: auto;
	margin-bottom:1em!important;

}
#content_wrap .inner_box02_wrap{
	margin: 0 3%;
}
#content_wrap .inner_box02 h2{
	width: auto;
	height: auto;
	font-size: 30px;
	line-height: 32px;
	padding: 10px 0 0 10px;
	margin-right: 5px;
	background-position: 0 bottom;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#content_wrap .sp_mr{
	margin-right: 4%;
}


#content_wrap .inner_box02 .short_box{
	width: 100%;
height:auto;
	margin-bottom: 20px;
	background-color: #FAF8E4;
	position:relative;
	clear:both;
}


#content_wrap .inner_box02 .short_box h3{
	background-image: url(../../image/static/img/nihon2015/inner_box02_titlebg.png);
	background-repeat:repeat-y;
	font-size: 22px;
	font-weight: bold;
	text-align:center;

}
#content_wrap .inner_box02 .short_box h3 span{
	width: 100%;
	height:40px;
	box-sizing:border-box;
	padding-left:20px;
	font-weight:bold;
}



#content_wrap .inner_box02 ul{

	padding-left: 10px;
	overflow: hidden;
	margin-top: 20px;
	list-style: none;
}
#content_wrap .inner_box02 ul li{
	float: left;
	width:49%;
	margin: 0 0 5px;
	text-align:center;
}

#content_wrap .inner_box02 ul li:nth-of-type(odd){
	clear:left;
	float: left;
}

#content_wrap .inner_box02 ul li img{
	display:block;
	margin: 0 auto 10px;
	width:96%;
}

#content_wrap .inner_box02 .long_box{
	width: auto;
	margin:3% 3% 1em ;
	overflow: hidden;
	background: #fff;
	background-repeat: no-repeat;
	box-sizing:border-box;
	box-shadow: 0 0 5px #ccc;
}

#content_wrap .long_box p.title{
	font-weight: bold;
	padding:10px;
	font-size: 17px;
}
#content_wrap .long_box p.title span{
	color: #83AE00;
	font-size: 19px;
	display:block;
	line-height:170%;
}

#content_wrap .long_box p.commnet{
	padding:10px;
}



#content_wrap .inner_nihon_about{
	width: auto;
	margin-top: 0;
	margin-bottom:2em;
}
#content_wrap .inner_nihon_about h2{
	width: auto;
	height: auto;
	background-position: 0 bottom;
	font-size: 30px;
	line-height: 32px;
	padding: 10px 0 0 10px;
	padding-bottom: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}
#content_wrap .inner_nihon_about p.pic_box{
	margin-left: 5%;
	padding-right: 0;
}
#content_wrap .inner_nihon_about div.text_box{
	width: auto;
	padding: 0 3%;
}
#content_wrap .inner_nihon_about .pic_box{
	width: 40%;
}
#content_wrap .inner_nihon_about .sp_mb{
	margin-bottom: 20px;
}


#content_wrap .inner_orderbox{
	width: auto;
}
#content_wrap .inner_orderbox h2{
	width: auto;
	height: auto;
	background-image: url(../../image/static/inner_box02_h2_titlebg_sp.jpg);
	background-position: 0 bottom;
	font-size: 30px;
	line-height: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}
#content_wrap .inner_orderbox p.pic_box{
	margin-left: 5%;
	padding-right: 0;
}
#content_wrap .inner_orderbox div.text_box{
	width: auto;
	padding: 0 3%;
}
#content_wrap .inner_orderbox .pic_box{
	width: 40%;
}
#content_wrap .inner_orderbox .sp_mb{
	margin-bottom: 20px;
}


#content_wrap .dvd_info{
	margin: 0 3%;
	margin-bottom: 20px;
}
#content_wrap .dvd_pic{
	float: none;
	width: 100%;
	padding-left: 0;
}
#content_wrap .dvd_pic img{
	width: 100%;
}
#content_wrap .price{
	float: none;
	padding: 0;
	margin-bottom: 20px;
	width: auto;
}
#content_wrap .price table{
	width: 100%;
	margin-left: 0;
}
#content_wrap .price table .table_left{
	width: 35%;	
}
#content_wrap .price table .table_right{
	width: 65%;
}
#content_wrap .price img{
	width: 100%;
}
#content_wrap .dvd_info_right{
	float: none;
	padding-right: 0;
	width: auto;
}
#content_wrap .dvd_info_right img{
	width: 100%;
}
#content_wrap .shopping{
	display: none;
}
#content_wrap .shopping_sp{
	display: block;
	text-align: center;
	padding-bottom: 30px;
	margin: 0 3%;
}

#content_wrap .shopping_sp img{
width:100%;
}

#content_wrap .inner_furokubox h3{
	background-position: 0 bottom;
	margin-right: 5px;
	margin-bottom: 20px;
}

#content_wrap .detail_left{
	width: auto;
	float: none;
	margin-bottom: 25px;
}
#content_wrap .detail_box{
	padding-top:0px;
}
#content_wrap .detail_box table{
	width: 100%;
}
#content_wrap .detail_box table th{
	width: 30%;
}
#content_wrap .detail_box table td{
	width: 70%;
}
#content_wrap .detail_right{
	float: none;
	width: auto;
	margin-bottom: 25px;
}
#content_wrap .detail_right img{
	width: 100%;
}
/*
#page_top{
	margin: 0 3%;
}

#footer{
	width: auto;
	background-color: #fefcf0;
}
#footer_wrap{
	width: auto;
	margin: 0 3%;
}
#footer_wrap ul{
	float: none;
	display: block;
	margin-bottom: 15px;
}
#footer_wrap ul li{
	display: block;
	float: none;
	border-bottom: 1px solid #fff;
	border-right: none;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
#footer_wrap ul li a{
	display: block;
	padding-left: 25px;
	text-decoration: none;
	background-color: #bcded0;
	background-image: url(../../image/static/footer_arrow_sp.png);
	background-repeat: no-repeat;
	background-position: right;
}
#footer_wrap ul li a:hover{
	color: #0e1bbb;
	background-color: #cff7e7;
}
#footer_wrap .copyright{
	display: block;
	text-align: center;
	float: none;
	color: #333;
}


#page_top{
	width:auto;
}*/

}

@media screen and (max-width:480px){

/*#login_wrap a#new_entry{
	font-size: 10px;
	background-position: 0 2px;
}*/

#content_wrap h2.voice_title{
	font-size: 20px;
}
#content_wrap .inner_box01 h2{
	font-size: 24px;
	line-height: 28px;
}
#content_wrap .inner_box01 h3{
	font-size: 20px;
	line-height: 22px;
}

#content_wrap .inner_box02 h2{
	font-size: 24px;
	line-height: 28px;
}

#content_wrap .inner_nihon_about h2{
	font-size: 24px;
	line-height: 28px;
}

#content_wrap .inner_orderbox h2{
	font-size: 24px;
	line-height: 28px;
}
#content_wrap .inner_furokubox h2{
	font-size: 24px;
	line-height: 28px;
	margin-bottom:15px;
}
#content_wrap .price_txt01{
	padding-right: 10px;
}

#content_wrap .price table .table_left{
	width: 40%;
}
#content_wrap .price table .table_right{
	width: 60%;
}

#content_wrap h2.voice_title span{
	border-radius: 10px;
	-moz-border-radius: 10x;
	-webkit-border-radius: 10px;
	-ms-border-radius:10px;
}


}

@media screen and (max-width:400px){

#login_wrap{
	width: 27%;
	margin-top: 8%;
}
#login_wrap #new_entry_wrap{
	padding-left: 0;
}

#content_wrap h2.voice_title{
	font-size: 18px;
}

#content_wrap .inner_box01 h2{
	font-size: 20px;
	line-height: 24px;
}
#content_wrap .inner_box02 h2{
	font-size: 20px;
	line-height: 24px;
}
#content_wrap .inner_box03 h2{
	font-size: 20px;
	line-height: 24px;
}
#content_wrap .price_txt02{
	font-size: 40px;
}

#content_wrap .price table .table_left{
	width: 50%;
}
#content_wrap .price table .table_right{
	width: 50%;
}


#content_wrap h2.voice_title span{
	border-radius: 10px;
	-moz-border-radius: 10x;
	-webkit-border-radius: 10px;
	-ms-border-radius:10px;
}


}


@media screen and (max-width:320px){


#content_wrap h2.voice_title{
	font-size: 18px;
}
#content_wrap .inner_box01 h2{
	font-size: 18px;
	line-height: 22px;
}
#content_wrap .inner_box01 h3{
	font-size: 18px;
	line-height: 20px;
}

#content_wrap .inner_box02 h2{
	font-size: 18px;
	line-height: 22px;
}
#content_wrap .inner_box03 h2{
	font-size: 18px;
	line-height: 22px;
}

#content_wrap h2.voice_title span{
	border-radius: 10px;
	-moz-border-radius: 10x;
	-webkit-border-radius: 10px;
	-ms-border-radius:10px;
}

}

/*----------------------------*/
/*リニューアル修正分*/
/*----------------------------*/
#container {
	overflow: hidden;
    z-index: 2!important;
}

#content_wrap .flr {
    float: right;
}
#content_wrap .mb0 {
    margin-bottom: 0px;
}

/*tel番号調整*/
.goods_detail .tel img {margin-left: -120px;}

/*ページ内リンク調整*/
#shop_smooth {
  margin-top : -150px !important;
  padding-top : 150px !important;
} 

#content_wrap {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	line-height:21px;
	font-size:16px;
	color: #333;
	line-height:1.4;
	overflow: visible;
}

#content_wrap img.hover:hover{
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
}
#content_wrap a:link{ color:#0e1bbb;text-decoration:underline;}
#content_wrap a:visited{ color:#0e1bbb;text-decoration:none;}
#content_wrap a:hover{ color:#5e69ee;text-decoration:underline;}
#content_wrap a:active{ color:#0e1bbb;text-decoration:none;}

#content_wrap .inner_box01 h2,
#content_wrap .inner_box02 h2{box-sizing: content-box;}
#content_wrap .voice_box {box-sizing: content-box;}
#content_wrap h2.voice_title {font-weight: normal;}

#content_wrap .inner_nihon_about h2 {height: 77px;}
#content_wrap .inner_orderbox h2{height: 77px;}

@media screen and (max-width: 640px) {
	#content_wrap .anq_pic img{height:auto;}
	#content_wrap {width: 100%;}
	#content_wrap .inner_nihon_about h2 {height: auto;}
	#content_wrap .inner_orderbox h2{height: auto;}

@media screen and (min-width: 641px) {
	#content_wrap .inner_box02 .boxlong,
	#content_wrap .inner_box02 .boxlong h3 span {height: 388px;}
	#content_wrap .inner_box02 .short_box h3 span {padding-left: 10px;}
	#content_wrap .inner_box02 .long_box.info {background: none;background: #fff;}
}


