#contents_in img{
	max-width:initial;	
}

#contents_in .mainImg{
	margin-bottom: 52px;
}

#contents_in .topBox {
	margin-bottom: 50px;
}

#contents_in .topBox p {
	margin-bottom: 0;
	line-height: 2.2;
}

#contents_in .headLine01 {
	margin-bottom: 27px;
	padding-bottom: 23px;
	background-image: url(/contents/shop/00000003/image/static/syokutaku/feature2/11/h2_bg.gif);
}

#contents_in .headLine01 .bg {
	padding: 0 5px 5px;
	display: inline-block;
	background: url(/contents/shop/00000003/image/static/syokutaku/feature2/11/line01.gif) repeat-x left bottom;
}

#contents_in p {
	margin-bottom: 30px;
	letter-spacing: 0.5px;
}

#contents_in .text01 {
	margin-bottom: 35px;
}

#contents_in .txtLh {
	line-height: 2.2;
}

#contents_in .phoList {
	margin-bottom: 47px;
}

#contents_in .phoList li {
	float: left;
	width: 373px;
	font-size: 14px;
}

#contents_in .phoList li:nth-child(3n-1) {
	margin: 0 40px;
}

#contents_in .phoList li img {
	margin-bottom: 11px;
}

#contents_in .phoList02 {
	margin-bottom: 29px;
}

#contents_in .phoList02 li {
	float: left;
	width: 373px;
	font-size: 14px;
}

#contents_in .phoList02 li:nth-child(3n-1) {
	margin: 0 40px;
}

#contents_in .phoList02 li img {
	margin-bottom: 11px;
}

#contents_in .phoList03 {
	margin-bottom: -2px;
}

#contents_in .phoList03 li {
	float: left;
	width: 344px;
	text-align: left;
	font-size: 14px;
	line-height: 1.5;
}

#contents_in .phoList03 li:nth-child(3n-1) {
	margin: 0 40px;
}

#contents_in .phoList03 li img {
	margin-bottom: 11px;
}

#contents_in .text02 {
	margin-bottom: 72px;
}

#contents_in .imgBoxR {
	margin-bottom: 39px;
	clear: both;
}

#contents_in .imgBoxR .txtBox {
	float: left;
	width: 610px;
}

#contents_in .imgBoxR .txtBox p {
	margin-bottom: 31px;
}

#contents_in .imgBoxR .txtBox p:last-child {
	margin-bottom: 0px;
}

#contents_in .imgBoxR .phoBox {
	margin-top: 3px;
	float: right;
}

#contents_in .imgBoxR .phoBox .txt {
	margin-top: 12px;
	display: block;
	font-size: 14px;
}

#contents_in .headLine02 {
	margin-bottom: 20px;
	padding-top: 3px;
	color: #a52237;
	font-size: 22px;
}

#contents_in .h3Ttl {
	margin-bottom: 24px;
}

#contents_in .list {
	margin: -36px 0 80px;
}

#contents_in .list li {
	margin-top: 36px;
	float: left;
}

#contents_in .list li span {
	margin-top: 10px;
	display: block;
	font-size: 14px;
}

#contents_in .list li:nth-child(2n) {
	float: right;
}

#contents_in .list02 {
	margin: -36px 0 43px;
}

#contents_in .list02 li {
	margin-top: 36px;
	float: left;
}

#contents_in .list02 li span {
	margin-top: 10px;
	display: block;
	font-size: 14px;
}

#contents_in .list02 li:nth-child(2n) {
	float: right;
}

#contents_in .text03 {
	margin-bottom: 40px;
}

#contents_in .imgBoxR .txtBox01 {
	width: 695px;
}

#contents_in .btmBox {
	width: 1000px;
	margin: 0 auto;
	padding-top: 5px;
}

#contents_in .btmBox p {
	text-indent: inherit;
}

#contents_in .bgPho03 {
	margin-bottom: 47px;
	padding: 107px 0 116px;
	box-sizing: border-box;
	height: 461px;
	background-image: url(/contents/shop/00000003/image/static/syokutaku/feature2/11/photo17.jpg);
	text-align:center;
}

#contents_in .bgPho p {
	margin-bottom: 22px;
}

#contents_in .bgPho .ttl {
	margin-bottom: 30px !important;
}

#contents_in .bgPho p:nth-child(3) {
	margin-bottom: 10px;
}

#contents_in .comLink a {
	background-color: #A52237;
	border-color: #67071B;
}

#contents_in .comLink a:hover {
	opacity: 0.95;
	background-color: #A52237;
}

#contents_in .secretBox {
	padding: 30px 40px 26px;
	border: 4px solid #A52237;
	text-align: center;
	margin-bottom: 83px;
}

#contents_in .secretBox .secret_Ttl{
	margin-bottom: 21px
}

#contents_in .secretBox p{
	font-size: 16px;
	line-height: 1.875;
	margin-bottom: 40px;
}

#contents_in .secretBox .phoList{
	margin-bottom: 0;
}

#contents_in .secretBox .phoList li{
	width: 344px;
	text-align: left;
	line-height: 1.4;
}

#contents_in .movieBox{
	margin-top: 78px;
}

#contents_in .noticeBox {
	width: 1000px;
	margin: 0 auto;
	padding: 47px 0;
	border-color: #A52237;
}

#contents_in .movieBox{
margin-bottom: 58px;
}

#contents_in .movieBox p{
margin-bottom: 42px;
}

#contents_in .movieBox .movieBlock{
	width: 1000px;
	margin: 0 auto;
}

#contents_in .comment_Box {
	width: 1000px;
	background-color: #fcf8ec;
	border:1px solid #dcdcdc;
	margin: 0 auto 50px;
	padding: 40px;
}

#contents_in .comment_Box .txt_Box {
	width: 488px;
	float: left;
	margin-right: 60px;
}

#contents_in .comment_Box .txt_Box h2{
	margin-bottom: 15px;
}

#contents_in .comment_Box .txt_Box p{
	line-height: 2;
}

#contents_in .comment_Box .pho_Box {
	float: left;
}

#contents_in {
	padding-bottom: 40px;
}
























@media screen and (max-width:767px) {
	#contents_in .mainImg{
		margin-bottom: 25px;
	}
	
	#contents_in .mainBox {
		padding-top: 0;
	}

	#contents_in .topBox {
		margin-bottom: 0;
	}
	
	#contents_in .topBox p {
		font-size: 13px;
		line-height: 2.1;
	}
	
	#contents_in .headLine01 {
		margin-bottom: 11px;
		padding-bottom: 16px;
	}
	
	#contents_in .headLine01 .bg {
		padding: 0 5px;
		display: inline;
		background-size: 3px 5px;
	}
	
	#contents_in p {
		margin-bottom: 19px;
		line-height: 1.55;
		letter-spacing: normal;
	}

	#contents_in .text01 {
		margin-bottom: 25px;
	}
		
	#contents_in .phoList {
		width: 83%;
		margin: 0 auto 22px;
	}
	
	#contents_in .phoList li {
		margin-bottom: 18px;
		float: none;
		width: auto;
		font-size: 12px;
	}

	#contents_in .phoList li:nth-child(3n-1) {
		margin: 0 0 18px;
	}

	#contents_in .phoList li:last-child {
		margin-bottom: 0;
	}
	
	#contents_in .phoList li img {
		width: 100%;
	}

	#contents_in .phoList02 {
		width: 83%;
		margin: 0 auto 8px;
	}
	
	#contents_in .phoList02 li {
		margin-bottom: 4px;
		float: none;
		width: auto;
		font-size: 12px;
	}

	#contents_in .phoList02 li:nth-child(3n-1) {
		margin: 0 0 4px;
	}

	#contents_in .phoList02 li:last-child {
		margin-bottom: 0;
	}
	
	#contents_in .phoList02 li img {
		width: 100%;
	}
	
		#contents_in .phoList03 {
		width: 71%;
		margin: 0 auto 22px;
	}
	
	#contents_in .phoList03 li {
		margin-bottom: 18px;
		float: none;
		width: auto;
		font-size: 13px;
		line-height: 1.4;
	}

	#contents_in .phoList03 li:nth-child(3n-1) {
		margin: 0 0 18px;
	}

	#contents_in .phoList03 li:last-child {
		margin-bottom: 0;
	}
	
	#contents_in .phoList03 li img {
		width: 100%;
		margin-bottom: 5px;
	}
	
	#contents_in .txtLh {
	line-height: 1.7;
	}

	#contents_in .text02 {
		margin-bottom: 30px;
	}
	
	#contents_in .imgBoxR {
		margin-bottom: 38px;
	}
	
	#contents_in .imgBoxR .phoBox {
		margin: 0 12%;
		float: none;
		width: auto;
	}
	
	#contents_in .imgBoxR .phoBox img {
		width: 100%;
	}
	
	#contents_in .imgBoxR .phoBox .txt {
		margin-top: 10px;
		font-size: 12px;
	}
	
	#contents_in .imgBoxR .txtBox {
		margin-bottom: 20px;
		float: none;
		width: auto;
	}
	
	#contents_in .imgBoxR .txtBox p {
		margin-bottom: 22px;
	}
	
	#contents_in .headLine02 {
		margin-bottom: 10px;
		font-size: 15px;
	}
	
	#contents_in .h3Ttl {
		margin-bottom: 10px;
	}

	#contents_in .list {
		margin: 0 0 40px;
	}

	#contents_in .list li {
		width: 50%;
		height: inherit !important;
		margin-top: 27px;
	}

	#contents_in .list li:last-child {
		margin-bottom: 0;
	}
	
	#contents_in .list li img {
		width: 100%;
	}
	
	#contents_in .list li span {
		margin: 9px 0 -4px;
		font-size: 12px;
		line-height: 1.25;
	}
	
	#contents_in .list02 {
	margin: 2px 0 21px;
	}

	#contents_in .list02 li {
		width: 82%;
		margin: 0 auto 17px;
		float: none;
	}

	#contents_in .list02 li span {
		margin-top: 10px;
		display: block;
		font-size: 14px;
	}

	#contents_in .list02 li:nth-child(2n) {
		width: 82%;
		margin: 0 auto;
		float: none;
	}

	#contents_in .text03 {
		margin-bottom: 21px;
	}
	
	#contents_in .btmBox {
		padding-top: 15px;
		width: auto;
	}
		
	#contents_in .bgPho {
		margin: 0 0 25px;
	}
		
	#contents_in .bgPho03 {
		padding: 60px 0 60px;
		height: inherit;
	    background-image: url(/contents/shop/00000003/image/static/syokutaku/feature2/11/sp/photo17.jpg);
		background-size: cover;
	}
	
	#contents_in .bgPho .ttl {
		margin-bottom: 14px !important;
		text-align: center;
	}
	
	#contents_in .bgPho .ttl img {
		margin: 0 auto;
		width: 27%;
	}
	
	#contents_in .bgPho p {
		margin-bottom: 15px;
	}
	
	#contents_in .bgPho p:nth-child(3){
		margin-bottom: 3px;
	}
	
	#contents_in .comLink a {
		padding: 14px 5px;
	}
	
	#contents_in .comLink a:hover {
		opacity: 1;
	}
	
	#contents_in .comLink {
		width: 65%;
	}
	
	#contents_in .secretBox {
	padding: 7.09% 3.77% 0;
	border: 1px solid #A52237;
	text-align: left;
	margin-bottom: 11%;
	}

	#contents_in .secretBox .secret_Ttl{
		margin-bottom: 13px
	}

	#contents_in .secretBox p{
		font-size: 13px;
		line-height: 1.7;
		margin-bottom: 17px;
	}

	#contents_in .secretBox .phoList li{
		width: 100%;
		font-size: 13px;
		line-height: 1.5;
		margin-bottom: 4.5%;
	}
	
	#contents_in .movieBox{
		margin-top: 35px;
		margin-bottom: 39px;
	}

	#contents_in .movieBox p{
	margin-bottom: 20px;
	}
	
	#contents_in .movieBox .movieBlock {
		position: relative;
		width: 100%;
		padding-top: 56.25%;
		margin-top: 20px;
	}
	
	.movieBox .movieBlock iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
	}
	
	#contents_in .comment_Box {
		width: 100%;
		background-color: #fcf8ec;
		border:1px solid #dcdcdc;
		margin: 0 auto 25px;
		padding: 6.5% 8.9% 7.8%;
	}

	#contents_in .comment_Box .txt_Box {
		width: 100%;
		float: left;
		margin-right: 60px;
	}

	#contents_in .comment_Box .txt_Box h2{
		font-size: 14px;
		line-height: 1.3;
		margin-bottom: 7px;
	}

	#contents_in .comment_Box .txt_Box p{
		font-size: 13px;
		line-height: 1.7;
	}

	#contents_in .comment_Box .pho_Box {
		float: left;
	}
	
	#contents_in .noticeBox {
		width: 100%;
		padding: 15px 25px;
	}
	
	#contents_in {
		padding-bottom: 0px;
	}

}









