/*ショッピングカートページ*/
.shopping_cart_tit {
	height:20px;
	width:700px;
	padding:3px 0 0 10px;
	background:#FF6600;
	font-weight:bold;
	color:#FFFFFF;
	overflow:hidden;
	text-align:left;
}
.shopping_cart_tit a:link {
	color:#FFFFFF;
	text-decoration:none;
}
.shopping_cart_tit a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.shopping_cart_tit a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.shopping_cart_tit a:active {
	color:#FFFFFF;
	text-decoration:none;
}
.shopping_cart_tit:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.shopping_cart {
	width:700px;
	padding:10px 0 5px 10px;
	overflow:hidden;
}
.shopping_cart_line {
	width:710px;
	border-bottom:1px dotted #cccccc;
	overflow:hidden;
}
.shopping_cart:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.shopping_total {
	width:700px;
	margin:10px 0 0 0;
	padding:3px 0 3px 10px;
	overflow:hidden;
}
.shopping_total:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.shopping_total2 {
	width:700px;
	padding:3px 0 3px 10px;
	overflow:hidden;
}
.shopping_total2:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.shopping_itemname {
	float:left;
	text-align:left;
	padding:3px 10px 0px 0px;
	width:313px;
}
.shopping_itemprice {
	float:left;
	text-align:right;
	padding:3px 10px 0 10px;
	width:100px;
}
.shopping_cart_tit .shopping_itemprice {
	text-align:center;
}
.shopping_postage_free_msg {
	color:#ff0000;
	font-size:16px;
	text-align:center;
	margin:10px 0;
}
.shopping_itemnum {
	float:left;
	text-align:right;
	width:30px;
	padding:3px 10px 0 10px;
}
.shopping_itemnum input {
	margin:0 1px 0 0;
	padding:1px 1px 1px 1px;
	border:1px solid #cccccc;
	vertical-align:middle;
	display:inline;
}
.shopping_itemsubtotal {
	float:left;
	text-align:right;
	padding:3px 10px 0px 10px;
	width:120px;
}
.shopping_itemdel {
	float:right;
	width:62px;
	padding:0;
}
.shopping_totalname {
	float:left;
	text-align:right;
	padding:2px 10px 0 0;
	width:443px
}
.shopping_subtotal {
	float:left;
	text-align:right;
	padding:2px 10px 0px 0px;
	width:170px;
}
.shopping_calc_bt {
	text-align:right;
	padding:20px 0 20px 0;
}
.shopping_gift {
	text-align:left;
	padding:3px 10px 3px 10px;
}
.shopping_data {
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.shopping_careful_msg {
	margin:0 70px;
	padding:10px 15px 0 15px;
	border:1px solid #cccccc;
}
.shopping_careful_msg p {
	padding:0 0 10px 0;
}
/*注文画面ページ*/
.order_start_contents{
	width:710px;
	margin:12px 0 12px 0;
}
.order_member_login{
	float:left;
	margin:0 15px 0 0;
	width:340px;
}
.order_guest_login{
	float:left;
	margin:0 0 0 15px;
	width:340px;
}
.order_start_tit{
	background:#FF7500;
	color:#ffffff;
	padding:3px 5px 3px 5px;
}
.order_start_data{
	height:118px;
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.order_start_data_noheight{
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.order_start_area {
	width:315px;
	padding:0 5px 5px 5px;
	margin:0 0 10px 0;
	border-bottom:1px dotted #cccccc;
	overflow:hidden;
}
.order_start_area:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.order_start_area2 {
	width:315px;
	padding:0 5px 5px 5px;
	margin:0;
	overflow:hidden;
}
.order_start_area2:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.order_start_question {
	float:left;
	width:100px;
	padding:2px 0 0 0;
}
.order_start_answer {
	float:left;
	width:200px;
	padding:0 0 2px 0;
}
.order_start_in {
	width:200px;
}
.order_guest_message {
	text-align:center;
	padding:15px 5px 2px 5px;
	margin:15px 5px 2px 5px;
}
.order_start_login_bt {
	text-align:center;
}
/*お客様情報入力画面：住所録選択*/
.address_select a {
	color:#FF6600 !important;
}
/*注文履歴*/
.order_info_waku{
	width:710px;
	margin:12px 0 12px 0;
}
.order_info_waku:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.order_customer_txt{
	float:left;
	margin:0 15px 0 0;
	width:340px;
}
.order_destination_txt{
	float:left;
	margin:0 0 0 15px;
	width:340px;
}
.order_notice{
	margin:12px 0 12px 0;
	clear:both;
}
.order_notice_tit{
	background:#FF7500;
	color:#ffffff;
	padding:3px 5px 3px 5px;
}
.order_notice_height_txt{
	min-height:230px;
	height:auto !important;
	height:230px;
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	word-wrap:break-word;
}
.order_notice_promotion_txt{
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.order_notice_wrapping_txt{
	height:50px;
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.order_notice_cusotmer_txt{
	min-height:100px;
	height:auto !important;
	height:100px;
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.order_notice_destination_txt{
	min-height:110px;
	height:auto !important;
	height:110px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.order_log_detail_itemname {
	float:left;
	padding:3px 10px 0px 0px;
	width:150px;
}
.order_log_detail_itemprice {
	float:left;
	text-align:right;
	padding:3px 20px 0 20px;
	width:60px;
}
.order_log_detail_itemnum {
	float:left;
	text-align:right;
	width:30px;
	padding:3px 10px 0 10px;
}
.order_log_detail_subtotal {
	float:left;
	text-align:right;
	padding:3px 10px 0px 10px;
	width:130px;
}
.order_log_detail_review {
	float:left;
	padding:3px 10px 0px 0px;
	width:80px;
}
.order_log_detail_status {
	float:left;
	text-align:center;
	padding:3px 10px 0px 0px;
	width:108px;
}
.order_log_detail_destination_no {
	float:left;
	text-align:right;
	padding:3px 10px 0px 0px;
	width:100px;
}
.order_log_detail_goodsname {
	float:left;
	padding:3px 10px 0px 0px;
	width:358px;
}
.order_destination_info {
	float:left;
	margin:0 0 0 15px;
	width:340px;
}
.destination_info {
	float:left;
	margin:0 0 0 15px;
	width:340px;
}
.destination_info_tit {
	float:left;
	width:300px;
}
.destination_info_btn {
	float:right;
	width:100px;
	text-align:right;
	margin:0 5px 0 0;
}
.destination_info_btn a:link {
	color:#FFFFFF;
	text-decoration:none;
}
.destination_info_btn a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.destination_info_btn a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.destination_info_btn a:active {
	color:#FFFFFF;
	text-decoration:none;
}
.destination_info_txt{
	min-height:60px;
	height:auto !important;
	height:60px;
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	word-wrap:break-word;
}

.shopping_deliveryitem_tit {
	height: 20px;
	width: 700px;
	padding:3px 0 5px 10px;
	background:#FF6600;
	font-weight:bold;
	color:#FFFFFF;
	overflow:hidden;
}
.delivery_option{
	float:left;
	margin:0 15px 0 0px;
}
.delivery_goods_tit {
	height:20px;
	width:100%;
	padding:3px 0 0 3px;
	background:#FF6600;
	font-weight:bold;
	color:#FFFFFF;
	overflow:hidden;
}
.delivery_goods {
	width:100%;
	height:24px;;
	vertical-align:bottom;
	border-bottom:1px dotted #CCCCCC;
}
.delivery_goods_name {
	float:left;
	width:575px;
	padding:3px 0px 2px 5px;
}
.delivery_goods_num {
	float:left;
	width:50px;
	text-align:right;
	padding:3px 0px 2px 0px;
}
.delivery_total {
	width:100%;
	padding:3px 0 3px 3px;
	background:#E8E8E8;
	overflow:hidden;
}
.delivery_postage_tit {
	float:left;
	width:458px;
	padding:3px 10px 0px 5px;
	font-weight:bold;
}
.delivery_postage {
	float:left;
	width:160px;
	text-align:right;
	padding:3px 0px 0px 0px;
}

.shopping_deliveryitemname {
	float:left;
	padding:5px 10px 5px 10px;
	width: 560px;
}

.shopping_deliveryitemnum {
	float:left;
	text-align:right;
	width:100px;
	padding:5px 10px 5px 10px;
}

.premium_goods {
	height:14px;
	width:350px;
	padding:3px 10px 0px 0px;
	border-bottom:1px;
}
.premium_itemname {
	float:left;
	text-align:left;
	width:313px;
}
.premium_itemnum {
	float:left;
	text-align:right;
	width:30px;
}
.dm_start_question {
	float:left;
	width:110px;
	padding:2px 0 0 0;
}
.dm_start_answer {
	float:left;
	width:200px;
	padding:0 0 2px 0;
}
.in4 {
	width:58px;
}
.dm_login_data{
	height:380px;
	margin-bottom:12px;
	padding:3px 5px 3px 5px;	
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
