/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


.wrap_con {
    width:946px;
	text-align:center;
	margin:20px auto 20px;
	padding-top:20px;
	padding-bottom:10px;
	background:#FFF;
	-webkit-box-shadow: 0 0 5px 0 #333; /* Safari, Chrome用 */
	-moz-box-shadow: 0 0 5px 0 #333; /* Firefox用 */
	box-shadow: 0 0 5px 0 #333; /* CSS3 */
}

.mt35{
	margin-top:35px;
}

.mb40{
	margin-bottom:40px;
}

.jishin {
    width:840px;
	text-align:left;
	margin:30px auto 40px;
}


.wrap_price {
    width:840px;
	text-align:left;
	margin:auto auto 40px;
}

.wrap_price_left{
	float:left;
	display:inline;
}

.wrap_price_right{
	float:left;
	display:inline;
}

.wrap_price_right p{
	font-size:13px;
}

.price_pic{
	float:left;
}

.txt_kago{
	text-align:right;
	font-size:10px;
	width:840px;
	padding-top:7px;
}


.wrap_designer{
	width:840px;
	margin:auto;
	text-align:left;
}

.wrap_designer_left{
	float:left;
	width:225px;
	text-align:left;
}


.wrap_designer_right{
	float:right;
	width:615px;
	text-align:left;
}

.wrap_designer_right p{
	line-height:160%;
	font-size:13px;
}


.wrap_designer_right p.point{
	color:#793D00;
	font-size:20px;
	font-weight:bold;
	margin:15px auto;
}

.fs13mt10{
	font-size:13px;
	margin:10px auto auto;
}

.wrap_shop{
	width:840px;
	height:160px;
	margin:25px auto 0;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	border-top:#793D00 solid 1px;
	background-image:url(/contents/shop/00000003/image/static/img/tetsu/koizumi_pic.jpg);
	background-position:right 10px;
	background-repeat:no-repeat;
}

.wrap_shop p{
	font-size:13px;
	line-height:170%;
}

.wrap_shop a{
	color:#00F;
	text-decoration:underline;
}



.wrap_nichijyo{
	width:840px;
	margin:18px auto 0;
	text-align:left;
}

.wrap_nichijyo_left{
	width:605px;
	float:left;
	padding-left:15px
}

.wrap_nichijyo_right{
	width:210px;
	float:right;
	text-align:right;
}


.wrap_nichijyo_left p{
	line-height:170%;
}

.wrap_nichijyo_left p.point{
	color:#793D00;
	font-size:20px;
	font-weight:bold;
	margin:0 auto 15px;
}


.wrap_nichijyo_right02{
	width:620px;
	float:right;
}

.wrap_nichijyo_left02{
	width:210px;
	float:left;
	text-align:left;
}


.wrap_nichijyo_right02 p{
	line-height:170%;
}


.wrap_staff{
	width:620px;
	padding-top:170px;
	padding-left:220px;
	margin:0px auto 0;
	text-align:left;
	background-image:url(/contents/shop/00000003/image/static/img/tetsu/staff.jpg);
	background-position:right;
	background-repeat:no-repeat;
}

.wrap_staff p.point{
	color:#793D00;
	font-size:20px;
	font-weight:bold;
	margin:auto auto 15px;
}