/*TOPページ*/
.top_main_img {
	width:710px;
	height:auto;
	padding-bottom:10px;
}
#top_contents_waku {
	width:710px;
	overflow:hidden;
}
#top_contents_waku:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.top_l_contents {
	float:left;
	width:180px;
}
/*お知らせ*/
.infoBox_tit {
	height:17px;
	width:170px;
	background:url(../image/bg_titles01.jpg) no-repeat left top;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:10px;
	padding-top:3px;
}
.infoBox {
	border:1px solid #CCCCCC;
	width:158px;
	padding:10px;
	margin-bottom:10px;
}
.infoBox_date {
	background:url(../image/arrow01.gif) no-repeat 0px 5px;
	padding-left:10px;
	font-size:10px;
}
.infoBox_txt {
	padding-left:10px;
	font-size:10px;
	line-height:120%;
}
.infoBox_line {
	background:url(../image/top_line1.gif) no-repeat left top;
	height:19px;
	width:158px;
}
/*売れ筋ランキング*/
.hotSellerBox_tit {
	height:17px;
	width:170px;
	background-image:url(../image/bg_titles02.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:3px;
	padding-left:10px;
}
.hotSellerBox {
	border:1px solid #CCCCCC;
	width:158px;
	padding:10px;
	margin-bottom:10px;
}
.hotSellerBox_img {
	width:78px;
	border:1px solid #CCCCCC;
	float:left;
}
.hotSellerBox_detail {
	float:right;
	width:73px;
}
.hotSellerBox_rank {
	padding-bottom:5px;
}
.hotSellerBox_name {
	font-weight:bold;
}
.hotSellerBox_price {
	font-size:10px;
	color:#FF0000;
}
.hotSellerBox_line {
	clear:both;
	background-image:url(../image/top_line1.gif);
	background-repeat:no-repeat;
	background-position:left top;
	height:19px;
	width:158px;
}
.top_c_contents {
	float:right;
	width:520px;
}
/*新着商品*/
.newProductBox_tit {
	height:20px;
	width:500px;
	background-image:url(../image/bg_title01.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:10px;
	padding-right:10px;
}
.newProductBox_tit_txt {
	float:left;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:3px;
}
.newProductBox_tit_link {
	float:right;
	font-size:10px;
	background-image:url(../image/t_arrow02.gif);
	background-repeat:no-repeat;
	background-position:right 5px;
	padding-right:16px;
	padding-top:2px;
}
.newProductBox_tit_link a:link {
	color:#FFFFFF;
	text-decoration:none;
}
.newProductBox_tit_link a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.newProductBox_tit_link a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.newProductBox_tit_link a:active {
	color:#FFFFFF;
	text-decoration:none;
}
.newProductBox {
	border:1px solid #CCCCCC;
	width:517px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:1px;
}
/*おすすめ商品*/
.recommendBox_tit {
	height:20px;
	width:500px;
	background:url(../image/bg_title02.jpg) no-repeat left top;
	padding-left:10px;
	padding-right:10px;
}
.recommendBox_tit_txt {
	float:left;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:3px;
}
.recommendBox_tit_link {
	float:right;
	font-size:10px;
	background:url(../image/t_arrow01.gif) no-repeat right 5px;
	padding-right:16px;
	padding-top:2px;
}
.recommendBox_tit_link a:link {
	color:#FFFFFF;
	text-decoration:none;
}
.recommendBox_tit_link a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.recommendBox_tit_link a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.recommendBox_tit_link a:active {
	color:#FFFFFF;
	text-decoration:none;
}
.recommendBox {
	border:1px solid #CCCCCC;
	width:517px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:1px;
}
/*人気商品*/
.popularProductBox_tit {
	height:17px;
	width:500px;
	background-image:url(../image/bg_title03.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	padding-top:3px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#FFFFFF;
}
.popularProductBox {
	border:1px solid #CCCCCC;
	width:517px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:1px;
}
/*モールトップ*/
.mall_top_l_contents {
	float:left;
	width:240px;
}
.mall_infoBox_tit {
	height:17px;
	width:230px;
	background:url(../image/mall_bg_title01.gif) no-repeat left top;
	font-weight:bold;
	color:#FF3300;
	padding-left:10px;
	padding-top:3px;
}
.mall_infoBox {
	border:1px solid #CCCCCC;
	height:362px;
	width:208px;
	padding:10px;
	margin-bottom:10px;
	overflow-y:scroll;
}
.mall_infoBox_date {
	font-size:12px;
	color:#FF6600;
}
.mall_infoBox_txt {
	font-size:10px;
	line-height:120%;
}
.mall_infoBox_line {
	background:url(../image/mall_top_line01.gif) no-repeat left top;
	height:19px;
	width:180px;
}
.mall_top_c_contents {
	float:right;
	width:470px;
}
.mall_shopBox_tit {
	height:20px;
	width:470px;
	background:url(../image/mall_bg_title02.gif) no-repeat left top;
}
.mall_shopBox_tit_txt {
	float:left;
	font-weight:bold;
	color:#FF3300;
	padding-top:3px;
	padding-left:10px;
}
.mall_shopBox {
	border:1px solid #CCCCCC;
	width:468px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:0px;
}
.mall_shop_list {
	margin-bottom:10px;
	background:url(../image/mall_top_line03.gif) top center repeat-y;
}
.mall_shop_item_wrapper {
	float:left;
	width:234px;
}
.mall_shop_item {
	margin:0 10px 0 10px;
	padding-bottom:15px;
	background:url(../image/mall_top_line02.gif) bottom left repeat-x ;
	height:90px;
	overflow:hidden;
}
.mall_shop_image {
	float:left;
	width:80px;
}
.mall_shop_name {
	float:right;
	width:124px;
	color:#FF6600;
	font-weight:bold;
}
.mall_shop_txt {
	clear:both;
}
.mall_shop_item .mall_shop_name a:link {
	color:#FF6600;
	text-decoration:none;
}
.mall_shop_item .mall_shop_name a:visited {
	color:#FF6600;
	text-decoration:none;
}
.mall_shop_item .mall_shop_name a:hover {
	color:#FF6600;
	text-decoration:underline;
}
.mall_shop_item .mall_shop_name a:active {
	color:#FF6600;
	text-decoration:none;
}
.mall_shop_item .mall_shop_txt {
	font-size:10px;
}

/** 自動レコメンド */
.autoRecommend_Contents {
	float:left;
	width:710px;
	height:auto;
	padding-bottom:10px;
}
.autoRecommendBox {
	width:688px;
	float: left;
	border:1px solid #cccccc;
	padding: 10px;
	margin-bottom:10px;
}

.autoRecommendBox_tit {
	height: 20px;
	width: 708px;
	background: url(../image/bg_title04.jpg) no-repeat left top;
	padding: 3px 10px 0 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}