@charset "UTF-8";
/* CSS Document */

#u_bnr{
 position: relative;
 height: 150px;
 margin:0 auto;
	}


.under_bnr {
	position:absolute;
	/*top:85px;	
	left:310px;*/
/*0423*/
	top:48%;	
	left:30%;	
	text-decoration:underline;
	}
	
.under_bnr p {	
	font-size:80%;
	}
	
/*0423*/

@media (max-width: 480px) {
.under_bnr {	
	top:25%;	
	left:5%;
	width:80% !important;
	text-align:left !important;
	line-height:14px;
}
}