/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


.wrap_blog {
    width:100%;
	text-align:center;
	padding-top:3px;
}

.wrap_blog hr{
    margin-bottom: 40px;
    margin-top: 40px;
}

.wrap_blog hr.hr02{
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrap_blog hr.hrfoot{
    margin-bottom: 20px;
    margin-top: 40px;
}


.wrap_blog .right{
	float:right;
	margin-left:10px;
}

.wrap_blog .left{
	float:left;
	margin-right:10px;
}

.wrap_blog_con{
    width:734px;
	text-align:center;
	padding-top:3px;
	background:url(/contents/shop/00000003/image/static/img/cocoblog/bg.jpg) repeat-y;
}

.wrap_blog_con .inner{
    width:630px;
    margin:10px auto;
	text-align:left;
	padding-bottom:10px;
}

.wrap_blog_con .inner .lead{
	width:100%;
	color:#F18D00;
	font-weight:bold;
	padding-bottom:7px;
	border-bottom:#999 dotted 1px;
	font-size:14px;
	letter-spacing: 0.05em;
	margin-bottom:35px;
}


.wrap_blog_con .inner .category{
	width:100%;
	color:#008799;
	font-size:16px;
	font-family:'ヒラギノ明朝 Pro W6','Hiragino Mincho ProN', serif;
	margin-bottom:12px;font-weight: bold;
}

.wrap_blog_con .inner .category span{
	background:#4BABC2;
	 border-radius: 4px;        /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;   /* Firefox用 */ 
    padding:3px 4px 3px 4px;
    margin-right:6px;
    font-size:12px;
    color:#fff;
    font-family: 
	"メイリオ", 
	"Meiryo", 
	"ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN",
	"ＭＳ Ｐゴシック", 
	"MS P Gothic", 
	Verdana, Arial, Helvetica, sans-serif;
	line-height:100%;
	
}  

.wrap_blog_con .inner .day{
	font-size:13px;
	margin-bottom:13px;
}


.wrap_blog_con .inner .pagetop .day{
	margin-bottom:3px;
}

.wrap_blog_con .inner .title{
	width:100%;
	font-size:26px;
	font-family:
   "ヒラギノ明朝 ProN W6",
   "HiraMinProN-W6",
   "HG明朝E",
   "ＭＳ Ｐ明朝",
   "MS PMincho",
   "MS 明朝",
   serif;
	font-weight: bold;
	margin-bottom:12px;
	line-height:130%;
	letter-spacing: 0.05em;
}


.wrap_blog_con .inner .pagetop .title{
	margin-bottom:0px;
}



.wrap_blog_con .inner p{
	font-size:14px;
	line-height:180% !important;
	margin-top:20px;
	margin-bottom:20px;
}

.wrap_blog_con .inner .pagetop p{
	font-size:14px;
	line-height:180% !important;
	margin-top:10px;
	margin-bottom:0px;
}


.wrap_blog_con .inner p.pointc{
width:120px;
margin:20px 0;
	font-size:14px;
	line-height:160%;
	text-align:center;
	font-weight: bold;
}

.wrap_blog_con .inner .point01{
	font-size:16px;
	font-weight: bold;
	display:inline-block;
	margin-bottom:15px;
}


.wrap_blog_con .inner .pagetop .point01{
	font-size:16px;
	font-weight: bold;
	display:inline-block;
	margin-bottom:5px;
}


.wrap_blog_con .inner .point02{
	font-size:15px;
	font-weight: bold;
	display:inline-block;
	margin-bottom:5px;
}

.mt10{
	 margin-top:10px;
}

.mb40{
	 margin-bottom:40px;
}

@media screen and (max-width:640px){
	.wrap_blog {
    width:100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}

.wrap_blog img{
    width:100%;
	margin:0 auto;
}

.wrap_blog_con{
    width:100%;
	text-align:center;
	padding-top:3px;
	background:none;
}

.wrap_blog_con .inner{
    width:92%;
    margin:10px auto;
	text-align:left;
	padding-bottom:10px;
}

}

