/* ---------------------------------
	MAIN VISUAL
---------------------------------- */
.mainimages, .mainimagessp{
	display:none;
}

@media screen and (max-width: 750px) {
#contents .wrap_main .slick-dots li{
	margin:0 8px;
}
}
@media screen and (max-width: 374px) {
#contents .wrap_main .slick-dots{
	bottom: -55px !important;
}
#contents .wrap_main .slick-dots li{
	margin:0 8px 10px;
}
}


/* ---------------------------------
	SPECIAL
---------------------------------- */
#contents .wrap_specialcontents.special h2{
	margin-bottom:90px !important;
}

#contents .wrap_specialcontents .img_special .ttl{
	width: auto;
	max-width:100%;
}

#contents .wrap_specialcontents .img_special .ttl.feature4{
	width:272px;
}
@media screen and (max-width: 1100px) {
#contents .wrap_specialcontents .img_special .ttl.feature4{
	width:220px;
}
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature4{
	width:210px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature5{
	width:auto;
	max-width:100%;
}
@media screen and (max-width: 1100px) {
#contents .wrap_specialcontents .img_special .ttl.feature5{
	width:120px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature7{
	width:auto;
}
@media screen and (max-width: 1100px) {
#contents .wrap_specialcontents .img_special .ttl.feature7{
	width:210px;
}
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature7{
	width:188px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature9{
	width:245px;
}
@media screen and (max-width: 1100px) {
#contents .wrap_specialcontents .img_special .ttl.feature9{
	width:210px;
}
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature9{
	width:190px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature10{
	width:auto;
}
@media screen and (max-width: 1100px) {
#contents .wrap_specialcontents .img_special .ttl.feature10{
	width:210px;
}
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature10{
	width:205px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature16{
	width:61.1%;
}

#contents .wrap_specialcontents .img_special .ttl.feature17{
	width:65.4%;
}

#contents .wrap_specialcontents .img_special .ttl.feature18{
	width:65.4%;
	max-width:291px;
}

#contents .wrap_specialcontents .img_special .ttl.feature19{
	width:65.4%;
	max-width:242px;
}

#contents .wrap_specialcontents .img_special .ttl.feature20{
	width:57.3%;
	max-width:256px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature20{
	width:206px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature21{
	width:56.8%;
	max-width:254px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature21{
	width:58.4%;
	max-width:202px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature22{
	width:64.6%;
	max-width:289px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature22{
	width:219px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature23{
	width:45%;
	max-width:201px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature23{
	width:142px;
}
}
#contents .wrap_specialcontents .img_special .ttl.feature24{
	width:50%;
	max-width:223px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature24{
	width:160px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature25{
	width:44.7%;
	max-width:200px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature25{
	width:159px;
}
}
#contents .wrap_specialcontents .img_special .ttl.feature26{
	width:44.7%;
	max-width:200px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature26{
	width:157px;
}
}
#contents .wrap_specialcontents .img_special .ttl.feature27{
	width:68.3%;
	max-width:459px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature27{
	width:230px;
}
}
#contents .wrap_specialcontents .img_special .ttl.feature28{
	width:61.6%;
	max-width:415px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature28{
	width:208px;
}
}
#contents .wrap_specialcontents .img_special .ttl.feature29{
	width:73.9%;
	max-width:499px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature29{
	width:250px;
}
}
#contents .wrap_specialcontents .img_special .ttl.feature30{
	width:48.6%;
	max-width:343px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature30{
	width:172px;
}
}
#contents .wrap_specialcontents .img_special .ttl.feature31{
	width:64.5%;
	max-width:288px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature31{
}
}
#contents .wrap_specialcontents .img_special .ttl.feature32{
	width:56.9%;
	max-width:254px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature32{
}
}

#contents .wrap_specialcontents .img_special .ttl.feature33{
	width:49.4%;
	max-width:221px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature33{
	width:159px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature34{
	width:55.92%;
	max-width:250px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature34{
	width:190px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature35{
	width:59.417040358%;
	max-width:265px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature35{
	width:193px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature36{
	width:59.95525727%;
	max-width:268px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature36{
	width:195px;
}
}

#contents .wrap_specialcontents .img_special .ttl.feature37{
	width:55.257270693%;
	max-width:362px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .img_special .ttl.feature37{
	width:181px;
}
}

#contents .wrap_specialcontents .img_special .ttl.catalog{
	width:31.4%;
}

#contents .wrap_specialcontents .img_special .ttl.concept{
	width:31.8%;
	padding:0;
	border:none;
}


@media screen and (max-width: 1100px) {
#contents .wrap_specialcontents .img_special .ttl.special-concept{
	width:210px;
}
}


#contents .wrap_specialcontents .specialcontents_photowrap{
	min-width:860px;
	padding:0 55px;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents .specialcontents_photowrap{
	min-width:initial;
	padding:0;
}
}

#contents .wrap_specialcontents{
	position:relative;
}


#contents .wrap_specialcontents .cap_special{
	margin-bottom:0;
	min-height:6em;
}


#contents .wrap_specialcontents .slick-slide:not(.slick-active) .btn_special{
	display:none;
}


@media screen and (max-width: 750px) {
#contents .wrap_specialcontents.special .slick-prev, #contents .wrap_specialcontents.special .slick-prev{
	left:-60px !important;
}
#contents .wrap_specialcontents.special .slick-next, #contents .wrap_specialcontents.special .slick-next{
	right:-60px !important;
}
}


@media screen and (max-width: 750px) {
#contents .wrap_specialcontents.wrapnew h2{
  margin: 0 15px 30px !important;
}
}

#contents #lineupItem{
	width:auto;
	float:none;
	position:relative;
}

#contents .wrap_specialcontents.wrapnew .wrapnew_inner{
	overflow:hidden;
	min-width:1040px;
	max-width:1560px;
	position:relative;
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents.wrapnew .wrapnew_inner{
	min-width:initial;
	max-width:initial;
}
}

#contents .newitemlist{
	width:1560px;
	position:static;
}
@media screen and (max-width: 750px) {
#contents .newitemlist{
	width:100%;
}
}

#contents .wrapnew_inner>.slick-prev{
	position:absolute;
	left:20px !important;
	top:50% !important;
}
#contents .wrapnew_inner>.slick-next{
	position:absolute;
	right:20px !important;
	top:50% !important;
}


#contents #lineupItem .newitemlist .slick-prev,
#contents #lineupItem .newitemlist .slick-next{
	display:none !important;
}
@media screen and (max-width: 750px) {
#contents #lineupItem .newitemlist .slick-prev,
#contents #lineupItem .newitemlist .slick-next{
	display:block !important;
}
}

#contents #lineupItem .slick-next{
	background: #fff url(../shop/image/kigokochi/newitem_arrow_r.png) no-repeat 20px center !important;
  background-size: 11px auto !important;
}

#contents #lineupItem .slick-prev, #contents #lineupItem .slick-next{
	top:37% !important;
	display:none;
}


#lineupItem .newitem img{
	max-width:250px;
	max-height:290px;
}


#contents .btn_newitem.feature_back a{
	background:url(../shop/image/kigokochi/btn_feature_backnumber.gif) no-repeat center center;
	background-size:187px auto;
}
@media screen and (max-width: 750px) {
#contents .btn_newitem.feature_back a{
	background-size:170px auto;
}
}
@media screen and (max-width: 750px) {
#contents .wrap_specialcontents.wrapnew h2{
	height:140px;
}
}


/* ---------------------------------
	RANKING
---------------------------------- */
#contents .wrap_specialcontents.ranking .rankinglist.num2 li,
#contents .wrap_specialcontents.ranking .rankinglist.num3 li
{
	margin-bottom:37px;
}
#contents .wrap_specialcontents.ranking li .rankimg img{
	max-height:initial !important;
}
