@media only screen and (min-width: 641px) {

.wrap_sp {
	display:none;
	height:0;
	width:0;
}

}

@media only screen and (max-width: 640px) {

.wrap_pc {
	display:none;
	height:0;
	width:0;
}

.wrap_sp02{
	display:none;
	height:0;
	width:0;
}

.alist {
background-image:url(images/menus_point02.gif);
background-repeat:no-repeat;
background-position:95% 50%;
background-color:#ddd;
padding:10px 0;
font-size:16px;
display:block;
}

}






.drop-down {
  max-height: 0;
  overflow: hidden;
}

.ie8 .drop-down-menu:hover .drop-down {
	max-height: 400px;
}


@media only screen and (min-width: 641px) {

.drop-down-menu:hover .drop-down {
  max-height: 400px;

}


.menu {
position:relative;
z-index:10;
padding-top:10px;
}



.menu-title {
width:191px;
margin-left:1px;
font-size:13px;
text-align:center;

}

.drop-down-menu{
background:#EDEDED;
margin-right:1px;
width:191px;
overflow:hidden;
}

.drop-down a {
  float: none;
  min-width: 90px;
  color:#FFF;
  border-bottom:#FFF solid 1px;
  font-size:13px;
}


.menu a {
  display: block;
  padding: 10px 15px;
}

.drop-down-menu {
  float: left;
  display: block;
}

.drop_down_menu {
  float: left;
  display: block;
}



.drop-down a{
	background:url(images/point.gif) 95% 15px no-repeat;
	float:left;
	width:253px;
	margin-right:20px;
	
  }
  





.menu li:nth-child(1):hover .drop-down {
	display: block;
	padding:10px 20px 20px 20px ;
	background:url(images/bg01.png) 0 0 no-repeat;
	
}

.menu li:nth-child(2):hover .drop-down {
	display: block;
	padding:10px 20px 20px 20px ;
	background:url(images/bg01.png) 0 0 no-repeat;
}

.menu li:nth-child(3):hover .drop-down {
	display: block;
	padding:10px 20px 20px 20px ;
	background:url(images/bg03.png) 0 0 no-repeat;
}

.menu li:nth-child(4):hover .drop-down {
	display: block;
	padding:10px 20px 20px 20px ;
	background:url(images/bg04.png) 0 0 no-repeat;
}

.menu li:nth-child(5):hover .drop-down {
	display: block;
	padding:10px 20px 20px 20px ;
	background:url(images/bg05.png) 0 0 no-repeat;
}

.add_no1{background:url(images/bg01.png) 0 0 no-repeat !important;}
.add_no2{background:url(images/bg01.png) 0 0 no-repeat !important;}
.add_no3{background:url(images/bg03.png) 0 0 no-repeat !important;}
.add_no4{background:url(images/bg04.png) 0 0 no-repeat !important;}
.add_no5{background:url(images/bg05.png) 0 0 no-repeat !important;}



 
.drop-down {
	position: absolute;
	background:#333\9;
	filter:alpha(opacity=90)\9;
	-moz-opacity: 0.9\9;
	opacity: 0.9\9;
}
 
.drop-down a{
	color:#fff\9 !important;
}



.menu li:nth-child(1) .drop-down {
	width: 628px;
	top:53px;
}

.menu *:first-child .drop-down {
	width: 628px;
	top:62px;
}


.menu li:nth-child(2) .drop-down {
	width: 628px;
	top:53px;
}

.menu *:first-child + * .drop-down {
	width: 628px;
	top:62px;
}

.menu li:nth-child(3) .drop-down {
	width: 628px;
	left: 157px;
	top:53px;
}

.menu *:first-child + * + * .drop-down {
	width: 628px;
	left: 157px;
	top:62px;
}


.menu li:nth-child(4) .drop-down {
	width: 628px;
	left: 157px;
	top:53px;
}

.menu *:first-child + * + * + * .drop-down {
	width: 628px;
	left: 157px;
	top:62px;
}

.menu li:nth-child(5) .drop-down {
	left: 0px;
	top:53px;
}

.menu *:first-child + * + * + * + * .drop-down {
	left: 0px;
	top:62px;
}



.menu li:nth-child(6) {
	display:none;
  }

.menu *:first-child + * + * + * + * + * {
	display:none;
  }

li:nth-child(1) > div:nth-child(1) > a:nth-child(1) span {
	background:#EDEDED url(images/menuicon01.jpg) 40px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
	width:121px;
	overflow:hidden;
}

li:nth-child(2) > div:nth-child(1) > a:nth-child(1) span {
	background:#EDEDED url(images/menuicon02.jpg) 20px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}

li:nth-child(3) > div:nth-child(1) > a:nth-child(1) span {
	background:#EDEDED url(images/menuicon03.jpg) 30px 0px no-repeat !important;
	text-indent:10px;
padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}

li:nth-child(4) > div:nth-child(1) > a:nth-child(1) span {
	background:#EDEDED url(images/menuicon04.jpg) 40px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}

li:nth-child(5) > div:nth-child(1) > a:nth-child(1) span {
	background:#EDEDED url(images/menuicon05.jpg) 40px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}







*:first-child > div:first-child > a:first-child span {
	background:#EDEDED url(images/menuicon01.jpg) 40px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
	width:121px;
	overflow:hidden;
}

*:first-child + * > div:first-child > a:first-child span {
	background:#EDEDED url(images/menuicon02.jpg) 20px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}

*:first-child + * + * > div:first-child > a:first-child span {
	background:#EDEDED url(images/menuicon03.jpg) 30px 0px no-repeat !important;
	text-indent:10px;
padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}

*:first-child + * + * + * > div:first-child > a:first-child span {
	background:#EDEDED url(images/menuicon04.jpg) 40px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}

*:first-child + * + * + * + * > div:first-child > a:first-child span {
	background:#EDEDED url(images/menuicon05.jpg) 40px 0px no-repeat !important;
	text-indent:10px;
	padding: 5px 0 2px 45px !important;
	display:block;
	height:25px;
}




}










































@media only screen and (max-width: 640px) {

ul.accordion { background:#fff; width:100%; margin:0 auto;  font-size:16px;}
ul.accordion span { display:block; padding:10px; background-position:97% center; background-repeat:no-repeat; color:#333; font-weight:bold;}
ul.accordion a { display:block; padding:10px; text-decoration:none; color:#333; font-weight:bold;}
ul.accordion ul { display:none;}

ul.accordion > li { background-color:#fff; text-align:left; clear:both; }
ul.accordion > li > p {cursor:pointer; border-bottom:#ddd solid 1px; padding:5px;}
ul.accordion > li > p span { background-image:url(images/menus_point01b.gif);}
ul.accordion > li > p span.open { background-image:url(images/menus_point01.gif);}
ul.accordion > li > ul { background: #dddddd;
background: -moz-linear-gradient(top,  #dddddd 0%, #dddddd 50%, #ffffff 51%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(50%,#dddddd), color-stop(51%,#ffffff), color-stop(100%,#ffffff));}
ul.accordion > li > ul > span > li {  background-color:#ddd;background-image:url(images/menus_point02.gif);background-repeat:no-repeat; background-position:95% 50%;width:49.7%; float:left; font-size:12px; }
ul.accordion > li > ul > span > li > a { background:url(images/go.png) no-repeat 98% center;}
ul.accordion > li > ul > span > li > ul > li { background:#FFF; border-bottom:1px dotted #888;}
ul.accordion > li > ul > span > li > ul > li:last-child { border:none;}

ul.accordion > li:last-child { display:none;}

ul.accordion > li > ul > span > li:nth-child(even) { border-left:1px solid #eee; }
ul.accordion > li > ul > span > li { border-top:1px solid #eee; }

ul.accordion span { padding:0; }

ul.accordion > li:nth-child(1) p{
	background:url(images/menuicon01s.jpg) 10px 10px no-repeat;
	text-indent:40px;
	padding:15px 10px 15px 10px;
}

ul.accordion > li:nth-child(2) p{
	background:url(images/menuicon02s.jpg) 10px 10px no-repeat;
	text-indent:40px;
	padding:15px 10px 15px 10px;
}

ul.accordion > li:nth-child(3) p{
	background:url(images/menuicon03s.jpg) 10px 10px no-repeat;
	text-indent:40px;
	padding:15px 10px 15px 10px;
}

ul.accordion > li:nth-child(4) p{
	background:url(images/menuicon04s.jpg) 10px 10px no-repeat;
	text-indent:40px;
	padding:15px 10px 15px 10px;
}

ul.accordion > li:nth-child(5) p{
	background:url(images/menuicon05s.jpg) 10px 10px no-repeat;
	text-indent:40px;
	padding:15px 10px 15px 10px;
}

.menus_point01{
	background-image:url();background-position:5px right;
}




}


@media only screen and (max-width: 350px) {

.sdu:after{
 content:" ";
 white-space: pre;

}
}
