/***** 矩形で商品を表示するスタイル *****/
/*商品一覧情報*/
.box_goods {
	float:left;
	width:150px;
	padding-right:10px;
	padding-left:12px;
}
/*商品画像*/
.box_goods_img {
	width:148px;
	border:1px solid #999999;
	margin-bottom:7px;
}
/*商品名*/
.box_goods_name {
	font-weight:bold;
	margin-bottom:2px;
}
/*商品説明*/
.box_goods_detail {
	font-size:10px;
	margin-bottom:3px;
	line-height:130%;
}
/*価格*/
.box_goods_price {
	color:#FF0000;
}
/*販売ステータス*/
.box_goods_sale_status {
	color:#FF6600;
	font-weight:bold;
}
/*割引前の価格（打ち消し線）*/
.original_price {
	text-decoration:line-through;
}
/*商品一覧*/
.goodsList {
	clear:both;
	width:688px;
	background:#ffffff;
	border:1px solid #C5C5C5;
	padding:10px;
	margin-bottom:10px;
	overflow:hidden;
}
.goodsList:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
/*商品一覧_画像*/
.goodsList_img {
	float:left;
	width:148px;
	padding:0 10px 0 0;
}

/*商品一覧_説明*/
.goodsList_txt {
	float:left;
	width:520px;
	padding:0;
}
.goodsList_checkbox {
	margin-left:auto;
	margin-right:auto;
	padding: 2px;
}

/*商品一覧_商品ボックス*/
.goodsList_box {
	float:left;
	width:121px;
	margin:0px auto; 
	padding-right:3px;
	padding-left:13px;
	margin-bottom: 10px;
}
/*商品一覧_画像*/
.goodsList_img_change {
	width:121px;
	padding:0 10px 0 0;
}

/*まとめて追加*/
.item_SummarizeCart{
	float:left;
	margin-left:5px;
	text-align : left ;
	margin-bottom: 10px;
	width: 350px;
	vertical-align:middle;
	height: 36px;
}
.item_SummarizeCart_txt{
	float:left;
	margin-right:5px;
	text-align : right ;
	margin-bottom: 10px;
	width: 350px;
	vertical-align:middle;
	height: 36px;
}

.goodsList_txt_waku {
	clear:both;
	width:520px;
	padding:4px 5px 3px 5px;
	overflow:hidden;
}
.goodsList_txt_waku:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
/*商品一覧_説明（タイトル）*/
.goodsList_txt_waku_name {
	float:left;
	width:80px;
	padding:0 9px 0 0;
}
/*商品一覧_説明（コメント）*/
.goodsList_txt_waku_info {
	float:left;
	width:430px;
}
.goodsList_txt_waku_info2 {
	float:left;
	width:430px;
	color:#ff6600;
	font-weight:bold;
}
.goodsList_txt_waku_info2 a:link {
	color:#ff6600;
}
.goodsList_txt_waku_info2 a:visited {
	color:#ff6600;
}
.goodsList_txt_waku_info2 a:hover {
	color:#ff6600;
}
.goodsList_txt_waku_info2 a:active {
	color:#ff6600;
}
/*商品一覧_価格*/
.goodsList_price {
	float:left;
	padding:0 10px 0 0;
	overflow:hidden;
}
/*商品一覧_在庫数*/
.goodsList_stock_waku {
	float:left;
	font-weight:bold;
	color:#ff6600;
	overflow:hidden;
}
.goodsList_stock_waku:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.dmHistoryBox_tit{
	width:708px;
	background: url(../image/bg_title04.jpg) no-repeat left top;
	padding: 3px 10px 0 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.dmHistoryBox {
	float: left;
	width: 698px;
	border:1px solid #cccccc;
	background:#FFFDEB;
	padding-left:10px;
	margin-bottom:10px;
}


.dmHistoryList{

}
.dmHistory_tit {
	height: 20px;
	width: 690px;
	background: url(../image/bg_title04.jpg) no-repeat left top;
	padding: 3px 10px 0 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.box_recommendGoods {
	float: left;
	width: 110px;
	padding: 10px;

}

.box_recommendGoods_img {
	width: 108px;
	border:1px solid #999999;
	margin-bottom:7px;
}

/*商品詳細ページ*/
#productDetail_waku {
	width:710px;
	padding:0 0 50px 0;
	overflow:hidden;
}
#productDetail_waku:after {
	content:"";
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}
.productDetail_tit {
	height:24px;
	width:685px;
	background:#FF6600;
	border:1px solid #FF9900;
	border-left:8px solid #ff9900;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	padding:10px 0 0 16px;
	margin-bottom:10px;
}
/*商品画像（大）*/
.productDetail_img_l {
	width:318px;
	border:1px solid #CCCCCC;
	margin-bottom:4px;
}
/*商品画像（小）*/
.productDetail_img_s {
	width:100px;
	border:1px solid #CCCCCC;
}
/*商品画像（アイコン）*/
.productDetail_img_box {
	float:left;
	width:320px;
}
.productDetail_img_icon {
	width:318px;
	margin-bottom:4px;
}
.productDetail_view_bt {
	text-align:right;
	height:16px;
	margin-bottom:8px;
}
.productDetail_other_tit {
	height:14px;
	margin-bottom:5px;
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#666666;
	padding-left:4px;
	font-weight:bold;
}
/*商品紹介・詳細情報・カートに入れる*/
.productDetail_box {
	float:right;
	width:380px;
}
.productDetail_txt_box {
	width:358px;
	border:1px solid #999999;
	padding:10px;
	margin-bottom:10px;
}
.productDetail_txt_tit {
	margin-bottom:5px;
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#FF6600;
	height:15px;
	font-weight:bold;
	padding-left:4px;
}
.productDetail_tb td {
	padding-bottom:11px;
	padding-right:20px;
	text-align:left;
	vertical-align:top;
}
.productDetail_bt {
	float:left;
	height:39px;
	width:177px;
}
a.productDetail_cart_bt {
	background-image:url(../image/bt_cart01.gif);
	background-repeat:no-repeat;
	background-position:left top;
	display:block;
	height:39px;
	width:177px;
}
a:hover.productDetail_cart_bt {
	background-image:url(../image/bt_cart01_ov.gif);
	background-repeat:no-repeat;
	background-position:left top;
	display:block;
	height:39px;
	width:177px;
}
.productDetail_cart_link {
	float:left;
	padding-left:15px;
	font-size:10px;
}
.productDetail_cart_link ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	height:39px;
}
.productDetail_cart_link li {
	background-image:url(../image/arrow03.gif);
	background-repeat:no-repeat;
	background-position:0px 2px;
	padding-left:15px;
	margin-top:2px;
}
.productDetail_zaiko_box {
	background-image:url(../image/zaiko_box.gif);
	background-repeat:no-repeat;
	background-position:left top;
	height:15px;
	width:58px;
	margin-top:2px;
	padding-left:38px;
	padding-top:2px;
}
/*商品拡大画像の表示枠*/
.productZoomImgBox {
	clear:both;
	width:710px;
	margin-bottom:10px;
}
/*おすすめ商品*/
.detailRecommendBox_tit {
	clear:both;
	height:22px;
	width:698px;
	margin-bottom:10px;
	background:url(../image/bg_related_title.jpg) no-repeat left top;
	padding-left:12px;
	font-size:14px;
	font-weight:bold;
	padding-top:8px;
}
.detailRecommendBox_tit_txt {
	float:left;
	font-weight:bold;
}
.detailRecommendBox_tit_link {
	float:right;
	font-size:10px;
	background:url(../image/t_arrow01.gif) no-repeat right 6px;
	padding-right:16px;
	padding-top:2px;
}
.detailRecommendBox_tit_link a:link {
	color:#FF6600;
	text-decoration:none;
}
.detailRecommendBox_tit_link a:visited {
	color:#FF6600;
	text-decoration:none;
}
.detailRecommendBox_tit_link a:hover {
	color:#FF6600;
	text-decoration:underline;
}
.detailRecommendBox_tit_link a:active {
	color:#FF6600;
	text-decoration:none;
}
.box_recommends {
	float:left;
	width:124px;
	padding-right:3px;
	padding-left:13px;
}
/*商品画像*/
.box_recommends_img {
	width:98px;
	border:1px solid #999999;
	margin-bottom:5px;
	margin-left:0px;
}
/*商品名*/
.box_recommends_name {
	font-size:10px;
	margin-bottom:2px;
}
.box_recommends_name a:link {
	color:#FF6600;
	text-decoration:none;
}
.box_recommends_name a:visited {
	color:#FF6600;
	text-decoration:none;
}
.box_recommends_name a:hover {
	color:#FF6600;
	text-decoration:underline;
}
.box_recommends_name a:active {
	color:#FF6600;
	text-decoration:none;
}
/*商品説明*/
.box_recommends_detail {
	font-size:10px;
	margin-bottom:3px;
	line-height:130%;
}
/*価格*/
.box_recommends_price {
	color:#FF0000;
}
/*商品詳細ページ 関連商品紹介*/
.relateBox_tit {
	clear:both;
	height:22px;
	width:698px;
	margin-bottom:10px;
	background:url(../image/bg_related_title.jpg) no-repeat left top;
	padding-left:12px;
	font-size:14px;
	font-weight:bold;
	padding-top:8px;
}
.relateBox_lead {
	padding-left:10px;
	margin-bottom:15px;
	font-weight:bold;
}
.relateBox {
	float:left;
	width:124px;
	padding-right:3px;
	padding-left:13px;
}
.relateBox_img {
	width:98px;
	border:1px solid #999999;
	margin-bottom:5px;
	margin-left:0px;
}
.relateBox_name {
	font-size:10px;
}
.relateBox_name a:link {
	color:#FF6600;
	text-decoration:none;
}
.relateBox_name a:visited {
	color:#FF6600;
	text-decoration:none;
}
.relateBox_name a:hover {
	color:#FF6600;
	text-decoration:underline;
}
.relateBox_name a:active {
	color:#FF6600;
	text-decoration:none;
}
/* 商品詳細ページレビュー */
.goods_review_area{
	background:#E7F1FF;
}
dl.review_box span.evaluation{
        color:#ca9a19;
}
dl.review_box{
	font-size:11px;
        padding:5px 10px 5px 10px;
}
dl.review_box dt{
	float:left;
}
dl.review_box dd{
	float:left;
	background-image:url(../image/arrow_review.gif);
	padding-left:12px;
	background-repeat: no-repeat;
	background-position: left center;
        margin-left:10px;
        color:#014099;
}
dl.review_box dd a{
        text-decoration:underline;
}
.review_cont{
        clear:both;
        padding-top:2px;
        padding-bottom:30px;
}
.productDetail_review {
        background:#e1eff8;
        border-top:1px solid #9ecde9;
        padding:10px;
        clear:both;
	font-weight:bold;
}.productDetail_shoping {
	background:#fef6c7 url(../image/shoping_top.gif) top left repeat-x;
        border-bottom:1px solid #d4cda3;
        padding:10px;
        clear:both;
        margin-top:10px;
}
.productDetail_shoping .ttl_area{
	font-weight:bold;
        padding-bottom:5px;
	background:url(../image/shoping_dod.gif) bottom left repeat-x;
}
.productDetail_shoping .name_area{
        padding:5px 0;
}
.productDetail_shoping .eval_area{
        float:left;
}
.productDetail_shoping .eval_area span{
        color:#ca9a19;
}
.productDetail_shoping .deta_area{
        float:right;
	font-size:11px;
}
.productDetail_text{
        background:#efefef;
        border-bottom:1px solid #cecece;
        clear:both;
        padding:10px;
}
.review_link{
	float:right;
	background-image:url(../image/arrow_review.gif);
	padding-left:12px;
	background-repeat: no-repeat;
	background-position: left center;
        margin-left:10px;
        margin-top:10px;
        color:#014099;
}/* 商品レビュー一覧 */
.productDetail_text{
        background:#efefef;
        border-bottom:1px solid #cecece;
        clear:both;
        padding:10px;
}
.review_link{
	float:right;
	background-image:url(../image/arrow_review.gif);
	padding-left:12px;
	background-repeat: no-repeat;
	background-position: left center;
        margin-left:10px;
        margin-top:10px;
        color:#014099;
}
.goods_evalu_area{
       background:#e1eff8;
       border-top:1px solid #9ecde9;
       border-bottom:1px solid #9ecde9;
       padding:5px;
       font-size:14px;
}
.review_number{
       float:left;
       padding:5px;
       width:245px;
}
.review_number span{
       font-weight:bold;
}
.evalu_type{
       float:left;
       padding:5px 5px 5px 10px;
       width:245px;
       border-left:1px solid #9ecde9;
}
.evalu_type span{
       color:#ca9a19;
}
.productDetail_reviewArea {
	background:#fef6c7 url(../image/shopping_top.gif) bottom left repeat-x;
        border-top:1px solid #d4cda3;
        padding:10px 10px 5px 10px;
        clear:both;
        margin-top:20px;
}.goods_ttl_area{
        padding-bottom:5px;
	background:url(../image/shopping_dod.gif) bottom left repeat-x;
}
.goods_review_ttl{
       float:left;
       width:380px;
       font-size:14px;
       font-weight:bold;
}
.goods_review_evalu{
        float:right;
}
.goods_review_evalu span{
        color:#ca9a19;
}
.goods_name_area{
        padding-top:5px;
}
.goods_review_name{
       float:left;
       font-size:11px;
}
.goods_review_date{
       float:right;
       font-size:11px;
}
.mt60px{
       margin-top:60px;
}
/* 商品レビュー */
.reviewArea{
        margin-bottom:25px;
        }
.reviewArea p{
	float:left;
	}
.reviewArea dl{
        float:right;
        width:495px;
        text-align:left;
        background: #e7f1ff; 
        }
.reviewArea dt{
        border-top:1px solid #b2c5e0;
        border-bottom:1px solid #b2c5e0;
        padding:10px;
        font-weight:bold;
        }
.reviewArea dd{
        border-bottom:1px solid #b2c5e0;
        padding:10px;
        }
.evaluationArea{
        clear:both;
        }
.evaluationArea table,.evaluationArea table td,.evaluationArea table th {
        border: 1px solid #7aa3e0;
        }
.evaluationArea table {
        border-collapse: collapse;
        width:715px;
        }
.evaluationArea table th{
        padding:10px;
        width:135px;
        font-weight:normal;
        background: #d2e3fe;
        text-align:left;
        vertical-align:top;
        }
.evaluationArea table td{
        padding:10px;
        width:580px;
        background: #f2f7ff;
        }
.evaluationArea table td textarea{
        width:100%;
        border: 1px solid #7aa3e0;
        }
.evaluationArea table td input{
        width:100%;
        border: 1px solid #7aa3e0;
        }
