.purchase_fixed {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
/* 	border-top: 4px solid #ffe800; */
/* 	background: #fcffcf; */
	border-top: 4px solid #097c25;
	background: #ecf7e7;
	width: 100%;
	font-size: 12px;
	text-align: center;
	z-index: 10;
}

.purchase_fixed .inner {
	max-width: 914px;
	padding: 1rem;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.purchase_fixed .inner > * {
	width: 100%;
}

.purchase_fixed .inner > p:first-of-type img {
	width: 306px;
}

.purchase_fixed .inner > p:last-of-type img {
	width: 455px;
}

.purchase_fixed .inner > p:first-of-type span {
	display: block;
	margin-top: 5px;
}

.purchase_fixed .inner a:hover {
	opacity: .85;
}

@media all and (min-width: 0) and (max-width: 767px) {
	#content_wrap .inner08 {
		margin-top: -60px;
		padding-top: 60px;	
	}
	
	.footer #pagetop_sp {
		bottom: 105px;
		right: 5px;
	}
	.purchase_fixed .inner {
		padding: .5rem .5rem .25rem 1rem;
	}

	.purchase_fixed .inner > p:first-of-type {
		padding-right: .5rem;
	}

	.purchase_fixed .inner > p:last-of-type {
		padding-left: .5rem;
	}

	.purchase_fixed .inner > p:first-of-type img {
		width: 100%;
	}
	
	.purchase_fixed .inner > p:last-of-type img {
		width: 100%;
	}
	.purchase_fixed .inner + p {
		padding-bottom: .5rem;
	}
}