/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


.wrap_blog {
    width:100%;
	
	padding-top:3px;
}

.wrap_blog hr{
    margin-bottom: 40px;
    margin-top: 40px;
}

.wrap_blog hr.hr02{
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrap_blog hr.hrfoot{
    margin-bottom: 20px;
    margin-top: 40px;
}


.wrap_blog .right{
	float:right;
	margin-left:10px;
}

.wrap_blog .left{
	float:left;
	margin-right:10px;
}

.wrap_blog_con{
    width: 100%;
	margin-top:0px;
	
}

.wrap_blog_con .inner{
    width:640px;
    margin:10px auto;
	text-align:left;
	padding-bottom:10px;
}

.wrap_blog_con .inner02{
    width:700px;
    margin:10px auto 0;
	text-align:left;
}

.wrap_blog_con .inner .lead{
	width:100%;
	color:#F18D00;
	font-weight:bold;
	padding-bottom:7px;
	border-bottom:#999 dotted 1px;
	font-size:14px;
	letter-spacing: 0.05em;
	margin-bottom:35px;
}


.wrap_blog_con .category{
	width:100%;
	color:#008799;
	font-size:12px;
	font-family:	"メイリオ", 
	"Meiryo", 
	"ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN",
	"ＭＳ Ｐゴシック", 
	"MS P Gothic", 
	Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:12px;font-weight: bold;
}

.wrap_blog_con .category span{
	background:#203d7d;
	 border-radius: 4px;        /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;   /* Firefox用 */ 
    padding:3px 4px 3px 4px;
    margin-right:6px;
    font-size:12px;
    color:#fff;
    font-family: 
	"メイリオ", 
	"Meiryo", 
	"ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN",
	"ＭＳ Ｐゴシック", 
	"MS P Gothic", 
	Verdana, Arial, Helvetica, sans-serif;
	line-height:100%;
	
}  



.wrap_blog_con .title{
	width:100%;
	font-size:14px;
	font-family:
   'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
	font-weight: bold;
	margin-bottom:12px;
	line-height:130%;
	letter-spacing: 0.05em;
}


.wrap_blog_con .inner .pagetop .title{
	margin-bottom:0px;
}



.wrap_blog_con .inner p{
	font-size:14px;
	line-height:180% !important;
	margin-top:20px;
	margin-bottom:20px;
}

.wrap_blog_con .inner .pagetop p{
	font-size:14px;
	line-height:180% !important;
	margin-top:10px;
	margin-bottom:0px;
}


.wrap_blog_con p.pointc{
width:120px;
margin:20px 0;
	font-size:14px;
	line-height:160%;
	text-align:center;
	font-weight: bold;
}

.wrap_blog_con .point01{
	font-size:16px;
	font-weight: bold;
	display:inline-block;
	margin-bottom:15px;
}


.wrap_blog_con .pagetop .point01{
	font-size:16px;
	font-weight: bold;
	display:inline-block;
	margin-bottom:5px;
}


.wrap_blog_con .point02{
	font-size:15px;
	font-weight: bold;
	display:inline-block;
	margin-bottom:5px;
}


.wrap_blog_con .point03{
	font-size:14px !important;
	font-weight: bold;
	padding-top:30px;
}

.mt10{
	 margin-top:10px;
}

/*******追加***********/

.blogBlock {
	background:#fff;
	border-radius: 3px; 
	padding: 25px 0;
	margin-bottom: 25px;
}

.blogBlockTop {
	background:#fff;
	border-radius: 3px; 
	padding: 15px 20px;
	margin-bottom: 25px;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
}

.blogText {
	float: left;
	width: 345px;
	margin: 0 15px 0 20px;
}

.bHeder .category{
	width: 245px;
	float: left;	
}

.bHeder .day{
	font-size: 12px;
	width: 100px;
	float: right;
	color: #999999;	
}

 .cap{
	font-size: 12px !important;
}

.blogText p { 
	font-size: 14px;
}

.blogText a{ 
	color: #21b8ad;
	font-weight: bold;
}

.blogImg {
	float: left;
	width: 340px;
	margin: 0 20px 0 0px;
}

.categoryDetail {
	background: #e5e5e5;
	border-radius: 4px;        /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;   /* Firefox用 */ 
    padding-top:8px;	
    padding-bottom:8px;	
    padding-left:2%;	
    padding-right:2%;
		margin-bottom: 5px;	
	
}

.datilMain {
	text-align: center;
	margin-bottom: 20px;
}

.datilMain img {
	max-width: 100%;
}

.datilDay {
	font-size: 12px;
	color: #999999;
	margin-bottom: 20px;
}

.datilTitle {
	font-size: 16px;
  font-weight: bold;
	color: #333333;
	margin-bottom: 20px;	
}

.datilTitleb {
	font-size: 18px;
  font-weight: bold;
	color: #333333;
	margin-bottom:10px;	
}

.datilTitleb span{
	font-size: 15px;
  font-weight: bold;
	color: #333333;
	margin-top:5px;
	display:block;
}

.datilTitleb .sptxt{
	font-size: 30px;
	color: #00A2A6;
	line-height:130%;
	font-weight: bold;
}

.datilTitleb .sptxt02{
	font-size: 30px;
	color: #8A671E;
	line-height:130%;
	font-weight: bold;
}

.datilTitle02 {
	font-size: 13px;
  font-weight: bold;
	color: #333333;
	margin-bottom: 20px;
	text-align:right;
}

.datilTitle03 {
	font-size: 14px;
  font-weight: bold;
	color: #333333;
	margin-top: 50px;
	text-align:left;
}

.datilTitle04 {
	font-size: 14px;
  font-weight: bold;
	color: #333333;
	margin-top: 20px;
	text-align:left;
}

.wrap_blog_con .categoryDetail{
	color:#008799;
	font-size:12px;
	font-family:	"メイリオ", 
	"Meiryo", 
	"ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN",
	"ＭＳ Ｐゴシック", 
	"MS P Gothic", 
	Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:12px;font-weight: bold;
	text-align: left;
}

.wrap_blog_con .categoryDetail span{
	background:#203d7d;
	 border-radius: 4px;        /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;   /* Firefox用 */ 
    padding:3px 4px 3px 4px;
    margin-right:6px;
    font-size:12px;
    color:#fff;
    font-family: 
	"メイリオ", 
	"Meiryo", 
	"ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN",
	"ＭＳ Ｐゴシック", 
	"MS P Gothic", 
	Verdana, Arial, Helvetica, sans-serif;
	line-height:100%;
} 

.datailLink {
margin-top: 40px;
	border-top: 1px solid #e5e5e5;
}

.datailLink a{
   color: #21b8ad;
    font-weight: bold;
}


.speciallink {
   margin-bottom:70px;
}

.speciallink a{
   color: #21b8ad;
    font-weight: bold;
}



.prof{
	font-size:12px !important;
	width:100%;
	padding-top:60px;
}

.prof span{
	font-size:15px !important;
	font-weight:bold;
	display:block;
	margin-bottom:10px;
}

.prof img{
	margin-right:15px;
	float:left;
	margin-top:-60px;
}


.prof02{
	font-size:12px !important;
	width:100%;
	padding-top:0px;
	padding-bottom:30px;
}

.prof02 span{
	font-size:15px !important;
	font-weight:bold;
	display:block;
	margin-bottom:10px;
}

.prof02 img{
	margin-right:15px;
	float:left;

}


.inttl{
	font-size:18px !important;
	font-weight:bold;
	margin-left:-6px;
}
 


@media screen and (max-width:640px){
	.wrap_blog {
    width:100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}

.blog_top_img {
    width:100%;
	margin:0 auto;
}

.wrap_blog_con{
    width:100%;
	text-align:center;
	padding-top:3px;
	background:none;
}

.wrap_blog_con .inner{
    width:92%;
    margin:10px auto;
	text-align:left;
	padding-bottom:10px;
}

.wrap_blog_con .inner02{
    width:92%;
    margin:0px auto;
	text-align:left;
	padding-bottom:10px;
}

.wrap_blog_con .categoryDetail{
	margin-top:50px !important;
}

.blogText {
	float: none;
	width:92%;
  margin:10px auto;
}

.bHeder .category{
	width:92%;
  margin:10px auto;
	float: none;	
	text-align: left;
}

.bHeder .day{
	font-size: 12px;
	width:92%;
  margin:10px auto;
	float: none;
	color: #999999;
		text-align: right;	
}

{
   color: #21b8ad;
    font-weight: bold;
}

.blogText p { 
	font-size: 14px;
}

.blogText a{ 
	color: #21b8ad;
	font-weight: bold;
}

.blogImg {
	float: none;
	width:92%;
  margin:10px auto;
	text-align: center;
}

.wrap_blog .right{
	float:none;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	margin-top:15px;
	display:block;
}

.wrap_blog .left{
	float:none;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	margin-top:15px;
	display:block;
}

.prof{
	font-size:12px !important;
	width:100%;
	padding-top:0px;
}

.prof img{
	margin-right:auto;
	float:none;
	margin-top:0px;
	display:block;
	margin-bottom:10px;
}

.prof02{
	font-size:12px !important;
	width:100%;
	padding-top:0px;
}

.prof02 img{
	margin-right:auto;
	float:none;
	margin-top:0px;
	display:block;
	margin-bottom:10px;
}

.spmt10{
		margin-top:10px;
	}
	

}


.musicyoutube01 {
		font-size:13px;
	}

.musicyoutube02 {
		font-size:13px;
	}
	
.musicyoutube01 iframe{
		width: 420px;
		height:315px;
	}

.musicyoutube02 iframe{
		width: 420px;
		height:236px;
		margin-bottom:40px;
	}

.mb40{
	margin-bottom:40px;
	}

@media screen and (max-width:357px){

	.blogImg img {
		width: 80%;
	}

	.bimg {
		width: 260px;
	}
	
	.musicyoutube01 iframe{
		width: 100%;
		height:auto;
	}

.musicyoutube02 iframe{
		width: 100%;
		height:auto;
	}
	.spmt10{
		margin-top:10px;
	}

}



.ulnb ol{
	font-size:14px;
	line-height:150% !important;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	list-style-position:outside !important;
	list-style: decimal !important;
	margin-left:23px;
}


