@charset "utf-8";
/* CSS Document */

/*************************/


.sp_wp {
	width:740px;
	box-shadow:0px 0px 7px #999999;
	margin:0 0 30px 0;
	background-color:#FFFFFF;
	overflow:hidden;
	}



.sp_wp_con_01 {
	padding-top:14px;
	padding-bottom:30px;	
}

.title_01 {
	background:#BF845A;
	padding:4px 0 3px 0;
}

.main_img_01 {
	margin:0px 0 20px 0; /*140129 edit*/
	
}
.s02_li_01 {
	float:right;
	margin-right:23px;
	margin-bottom:15px;
}
.s02_li_01 li {
	display: inline;
	float:left;
	margin-left:10px;
}

/* 特集タイトル・ロゴ・説明 */

.s02_con_box_00 {
	position:relative;
	padding-top:5px;
	margin-bottom:20px;
}
.s02_con_box_00 h1 {
	display:inline;
}
.s02_con_box_00 img {
	position: absolute;
	top:-40px;
	left:30px;
}
.s02_con_box_00 .s02_box_01 {
	background-color:#fdf6d8;
		border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	margin:0 40px;
}
.s02_con_box_00 .s02_box_01 p {
	font-size:13px;
	line-height:18px;
	padding:10px 0 10px 140px;
	text-align:left;
}



.s02_img_con {
	width:160px;
	display:inline;
	float:left;
	margin-right:10px;	
}

.s02_img_con .icon_img_01 {
	position:absolute;
	top:-14px;
}

.s02_img_con h3 {
	margin-top:56px;
}


/*** チャーム ***/

.s02_charm05{ 
	margin:-30px auto 20px auto;
	width:100%;
	overflow:hidden;
	background:url(../images/s02_bg.gif) no-repeat left bottom;
}

.s02_charm_txt{ 
	margin:0 70px 10px 70px;
	text-align:left; 
	font-size:13px; 
	line-height:18px;}


.s02_charm05_img{
	margin:0 0 0 0;
	float:right;
	clear:both;	
}


.s02_charm05_txt{
	width:50%;
	margin:0 20px 0 62px;
	text-align:left; 
	font-size:12px; 
	line-height:18px;
}
	
.s02_charm05_txt p{ 
	margin-bottom: 10px;
}	 


.s02_charm_box_out{
	font-size:12px;
	line-height:16px;
	text-align:left;
	margin:5px 0 0 0;
	padding-left:20px;
	overflow:auto;
	}
	

.s02_charm_box{
	margin-top:-30px;
	padding:40px;
	display: inline;
	float:left;
	overflow:auto;
    zoom:1;
}

.s02_charm_box p{
	padding:10px 12px 0 5px;
	text-align:left;
	font-size:12px;
	line-height:18px;
}


.s02_charm_box ul{
    display: table;
    width: 100%;
    margin: 0px;
}

 
.s02_charm_box li{
    display: table-cell;
	width: 33%;
	margin-right:150px;
}


.s02_charm_box2{
	margin-top:-30px;
	font-size:12px;
	line-height:16px;
	padding:40px;
	display: inline;
	float:left;
	text-align:left;
	overflow:auto;
    zoom:1;
}

.s02_charm_box2_out{
	margin:0 10px 0 30px;
	}
	
	
.s02_charm_box2 p{
	padding:3px 10px;
}


.s02_charm_box2 ul{
    display: table;
    width: 100%;
    margin: 0px;
}

 
.s02_charm_box2 li{
    display: table-cell;
	width: 50%;
	margin-right:15px;
}


/*** インタビュー ***/


.s02_interview_box {
	width:90%;
	margin:auto;
	padding:0;
	text-align:left;
}

.s02_interview_box p {
	font-size:14px;
	line-height: 24px;
	margin-bottom:15px;
}


.s02_interview_photo{float:right; margin:-90px 1px 10px 10px;}
.s02_interview_photo2{float:right; margin:0 0 10px 10px;}
.s02_interview_photo3{float:left; margin-right:10px;}

.left{float:left;}
.left img{margin-right:15px;}
.right{float:right;}
.right img{margin-left:15px;}


.s02_charm01{ background:url(../images/s02_charm01.png) no-repeat; margin: 20px auto 10px 36px; width:648px; height: 361px;text-indent: -10000px;}


.s02_charm_img02{ background:url(../images/s02_charm02.jpg) no-repeat; margin: 20px auto 20px auto; width:194px; height: 184px;text-indent: -10000px;}
.s02_charm_img03{ background:url(../images/s02_charm03.jpg) no-repeat; margin: 20px auto 20px auto; width:194px; height: 184px;text-indent: -10000px;}
.s02_charm_img04{ background:url(../images/s02_charm04.jpg) no-repeat; margin: 20px auto 20px auto; width:194px; height: 184px;text-indent: -10000px;}

.s02_charm_img05{ background:url(../images/s02_charm05.jpg) no-repeat right; float:right;  margin: 0 45px 30px 40px; width:268px; height: 269px;text-indent: -10000px;}


.s02_spec{ background:url(../images/s02_spec.png) no-repeat; margin: 20px auto 20px auto; width:522px; height: 292px;text-indent: -10000px;}
.s02_spec_tit{ background:url(../images/s02_spec_tit.png) no-repeat; margin: 20px auto 20px auto; width:630px; height: 50px;text-indent: -10000px;}




.s02_spec_price{ font-size:14px; text-align:center;}
.s02_spec_sf{ font-size:13px; margin:20px 0 10px 0; text-align:center;}
.s02_spec_sf2{ font-size:13px; margin:20px 0 30px 110px; text-align:left;}


.s02_chaem_area {
    width: 100%;
    overflow: hidden;
    min-width: 340px;
    max-width: 740px;
}


.s02_chaem_area img {
　width:90%;
　height:90%;
　max-width:193px;
  min-width:120px}

.s02_left_sidebar{
    float:left;
    width: 200px;
    background: lightblue;
}
.s02_right_sidebar{
    float:right;
    width: 200px;
    background: lightblue;
}
.s02_content{
    margin-left: 210px;
    margin-right: 210px;
    background: lightpink;
}

.s02_interview_profile{
	background:url(../images/bg_profile.png) repeat;
	background-color:#F2F2F2;
	margin:10px;
	padding:10px;
	text-align:left;
	overflow:auto;
}

.s02_interview_profile p{
	overflow: hidden;
	font-size:12px;
}

.s02_interview_profile_name{
	font-size:13px;
	font-weight:bolder;
}

.s02_interview_profile img{
	border:solid #FFF 5px;
	float:left;
	margin-right:10px;
}








@media (max-width: 640px) {

/****************/
	
.sp_wp {
	width:100%;
	margin:0 auto;
}


.sp_wp_con_01 {
	padding-top:0px;
}

.title_01 {
	background:#BF845A;
	padding:4px 10% 3px 10%;
}

.main_img_01 {
	margin:-15px 0 20px 0; /*140129 edit*/
}

.main_img_01 img {
	max-width:100%;
	height:auto;
}
.s02_li_01 {
	float:none;
	margin-right:0px;
	margin-bottom:15px;
}
.s02_li_01 li {
	display: inline;
	float:left;
	margin-left:0px;
	width:20%;
	text-align:center;
}
.s02_li_01 li img {
	max-width:96%;
	height:auto;
}

.s02_con_box_00 {
	position: static;
	padding-top:5px;
	margin:0 2% 20px 2%;
}
.s02_con_box_00 img {
	position: static;
	top:0px;
	left:0px;
	float:left;
	width:96%;
	height:auto;
	margin-top:0px;
	margin-right:4%
}
.s02_con_box_00 .s02_box_00 {
	display:table-cell;
	width:30%;
	vertical-align:middle;
}
.s02_con_box_00 .s02_box_00 h1 {
	display:inline;
}
.s02_con_box_00 .s02_box_01 {
	display:table-cell;
	width:66%;
	background-color:#F1ECD8;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	margin:0px;
	padding:5px;
	vertical-align:middle;	
}
.s02_con_box_00 .s02_box_01 p {
	font-size:13px;
	line-height:18px;
	padding:0px 0 0px 0px;
	text-align:left;
}
.s02_con_box_01 {
	border:#dfdfd0 1px solid;
	background:#FFFFFF;
	clear:both;
	margin:0 10px 30px 10px;
	padding:10px 10px 10px 10px;
}
.s02_con_box_01 .s02_img_con {
	width:100%;
	display:inline-block;
	float:left;
	border:none;
	padding:0px;
	margin-bottom:10px;
}
.s02_con_box_01 .s02_img_con h4 {
	border:#CCCCCC 1px solid;
	padding:4px 2px 2px 2px;
}
.s02_con_box_01 p {
	float:none;
	display:block;
	width:100%;
	font-size:13px;
	line-height:150%;
	text-align:left;
}

.s02_con_box_02 {
	text-align:left;
	margin-bottom:35px;
	padding-top:25px;
}





/*** インタビュー ***/

.s02_interview_profile p{
	overflow: hidden;
	font-size:10px;
}

.s02_interview_profile_name{
	font-size:12px;
	
}

.s02_interview_profile img{
	border:solid #FFF 5px;
}

.s02_interview_photo{ text-align:center; margin:0 15px 10px auto;}
.s02_interview_photo2{ text-align:center; margin:0 32px 10px auto;}
.s02_interview_photo3{ text-align:center; margin:0 auto 10px 50px;}



.s02_interview_box {
	padding:0 15px 0 15px;
	position:relative;
	margin:0 auto;
}

.s02_interview_box .s02_img_con {
	width:100%;
	display:block;
	float:none;
	margin-right:10px;	
}

.s02_interview_box .s02_img_con .icon_img_01 {
	position: relative;
	top:0px;
	width:30%;
	display:inline;
	float:left;
	background-color:#F0F;
}
.s02_interview_box .s02_img_con .icon_img_01 img {
	max-width:100%;
	 height:auto;
}
.s02_interview_box .s02_img_con h3 {
	margin-top:5%;
	width:70%;
	display:inline;
	float:left;
	text-align:left;
}
.s02_interview_box .s02_img_con h3 img {
	max-width:100%;
	height:auto;
	vertical-align:middle;
}
.s02_interview_box p {
	font-size:13px;
	line-height:20px;
	text-align:left;
	clear:both;
	padding-top:10px;
}


/*** チャーム ***/

.s02_charm_img02{ background:url(../images/s02_charm02_s.jpg) no-repeat; margin-left:12px; height: 114px;text-indent: -10000px;}
.s02_charm_img03{ background:url(../images/s02_charm03_s.jpg) no-repeat; margin-left:12px; height: 114px;text-indent: -10000px;}
.s02_charm_img04{ background:url(../images/s02_charm04_s.jpg) no-repeat; margin-left:12px; height: 114px;text-indent: -10000px;}
.s02_charm_img05{ background:url(../images/s02_charm05_s.jpg) no-repeat right top; float:right; margin: 0 5px 0  -60px; height: 181px;text-indent: -10000px;}

.s02_charm_txt{ margin:-10px 15px 10px 15px; text-align:left; font-size:12px;}


.s02_charm_txt{ 
	margin:-10px 15px 20px 15px; 
	text-align:left; 
	font-size:12px;
}

.s02_charm05{ 
	margin:10px auto;
	float:left;
	overflow:auto;
}

.s02_charm05_txt{ 
	margin:0 0 0 15px;
	padding:0;
	text-align:left; 
	font-size:12px; 
	line-height:18px;
}

.s02_charm05_txt p{ 
	margin-bottom: 10px;
}


.s02_charm_box_out{
	font-size:10px;
	line-height:16px;
	text-align:left;
	margin:0 15px;
	}
	

.s02_charm_box{
	margin:0px 0 0 -15px;
	padding:0;
	display: inline;
	float:left;
	text-align:left;
	overflow:auto;
    zoom:1;
}


.s02_charm_box p{
	padding:3px 2px;
}


.s02_charm_box ul{
    display: table;
    
    margin: 0px;
}

 
.s02_charm_box li{
    display: table-cell;
	margin-right:15px;
}

.s02_charm_box li p{
    margin:0 4px 0 0;
}


/*** 商品スペック ***/

.s02_spec{ background:url(../images/s02_spec_s.png) no-repeat; margin-left:12px; height: 228px;text-indent: -10000px;}
.s02_spec_tit{ background:url(../images/s02_spec_tit_s.gif) no-repeat; margin-left:12px; height: 30px;text-indent: -10000px;}

.s02_spec_price{ font-size:12px; margin:0 15px; text-align:center;}
.s02_spec_sf2{ font-size:11px; margin:20px 15px; text-align:left;}





.s02_con_box_04{
	background:url("../images/s02_img_16.png") no-repeat center 35px;
	margin-bottom:10px;
}
.s02_con_box_04 .s02_box_01 {
	width:18%;
	display: inline;
	float:left;
	margin-left:2%;
	margin-right:0px;
}
.s02_con_box_04 .s02_box_01 img {
		max-width:100%;
	 height:auto;
}
.s02_con_box_04 .s02_box_02 {
	width:75%;
	display: inline;
	float:right;
	text-align:left;
	color:#793D00;
	font-size:24px;
	line-height:34px;
	margin-top:49px;	
}

.s02_con_box_05 {
	margin:0 10px 30px 10px;
}
.s02_con_box_05 .s02_box_01 {
	width:40%;
	display: inline;
	float:left;
	margin-left:0px;
	margin-right:10px;
}
.s02_con_box_05 .s02_box_01 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_05 .s02_box_02 {
	width:100%;
	display: inline;
	float:none;
	text-align:left;
}
.s02_con_box_05 .s02_box_02 p {
	font-size:12px;
	line-height:19px;
	margin-bottom:10px;
}
.s02_con_box_05 .s02_box_02 h4 {
	font-size:18px;
	line-height:24px;
	margin-bottom:10px;
	color:#793D00;
}	

.s02_con_box_05 .s02_box_03 p {
	margin-left:0px;
}

.s02_con_box_06 {
	background:url("../images/s02_img_16.png") no-repeat center bottom;
	border-top:1px #793D00 solid;
	margin:0 18px 50px 18px;
	text-align:left;
	padding:15px 0 10px 0 ;	
}
		
.s02_con_box_06 .s02_box_01 {
	width:65%;
	display: inline;
	float:left;
	margin-left:0px;
}
.s02_con_box_06 .s02_box_01 p {
	font-size:12px;
	line-height:18px;
	margin-bottom:5px;
}
.s02_con_box_06 .s02_box_02 {
	width:30%;
	display: inline;
	float:right;
	text-align:left;
	margin-right:0px;
}	
.s02_con_box_06 .s02_box_02 img {
	display:inline;
	float:left;
	margin:0 0px 5px 0px;
	max-width:100%;
	height:auto;	
}
	
.s02_con_box_07 {
	background:url("../images/s02_img_52.gif") ;
	border:2px #82886a solid;
	margin:0 10px 50px 10px;
	text-align:left;
		border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	padding-bottom:15px;	
}
.s02_con_box_07 .s02_box_01 {
	width:100%;
	display:inline;
	float:none;
	position:relative;
	margin-left:0px;
	margin-right:0px;
}

.s02_con_box_07 .s02_box_01 img {
	position:absolute;
	top:-15px;
	left:20px;
}
.s02_con_box_07 .s02_box_01 h3 {
	color:#793D00;
	font-size:17px;
	line-height:24px;
	padding-top:26px;
	margin-bottom:13px;
	padding-left:20px;

}
.s02_con_box_07 .s02_box_02 {
	width:100%;
	display:block;
	float:none;
	position:relative;	
}
.s02_con_box_07 .s02_box_02 img {
	position: relative;
	top:0px;
	float:left;
	margin-top:-45px;
}
.s02_con_box_07 .s02_box_02 p {
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	padding-left:110px;
	padding-right:10px;
	padding-top:27px;
}
.s02_con_box_07 .s02_box_03 {
	display:none;
}

.s02_con_box_07 .s02_box_04 {
	clear:both;
	margin:0 10px 20px 10px;
	padding-top:5px;
}
.s02_con_box_07 .s02_box_04 p {
	font-size:13px;
}
.s02_con_box_07 .s02_box_05 {
	margin-left:10px;
	margin-right:10px;
}
.s02_con_box_07 .s02_box_06 {
	width:100%;
	float:none;
	display:block;
}
.s02_con_box_07 .s02_box_06 p {
	margin-bottom:8px;
	font-size:13px;
	line-height:20px;
}
	
.s02_con_box_07 .s02_box_07 {
	width:100%;
	float:none;
	display:block;
	margin-right:0px;
}
	
.s02_con_box_07 .s02_box_08 {
	width:33%;
	float:left;
	display:inline;
	margin-right:0px;
}
.s02_con_box_07 .s02_box_08 > img {
	max-width:100%;
	height:auto;
}
.s02_con_box_07 .s02_box_09 {
	width:63%;
	float:right;
	display:inline;
	font-size:11px;
	line-height:15px;
}
.s02_con_box_07 .s02_box_09 > img {
	max-width:100%;
	height:auto;
}
.s02_con_box_07 .s02_box_09 > p {
	margin-bottom:10px;
}
.s02_con_box_07 .s02_box_09 > img {
	margin-bottom:10px;
}
.s02_con_box_07 .s02_box_10 img {
	display:inline;
	float:left;
	margin-right:5px;
}
.s02_con_box_07 .s02_box_10 p {
	display:inline;
	float:none;
	width:100%;
}

.s02_con_box_07 .s02_box_04_01 {
	width:50%;
	height:auto;
	margin-left:10px;
}

.s02_con_box_07 .s02_box_11 {
	display:none;
}

.s02_con_box_07 .s02_box_13 {
	display:block;
	width:96%;
	background:#FFFFFF;
	padding:0px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	padding-bottom:0px;
	margin:0px 2%;
	text-align:center;	
}
.s02_con_box_07 .s02_box_13 p {
	font-size:10px;
	line-height:14px;
	text-align:left;
	padding:0 10px;
}
.s02_con_box_07 .s02_box_13 > img {
	margin-bottom:7px;
	max-width:96%;
	margin:10px 2% 0 2%;
}
.s02_con_box_07 .s02_box_13 > p {
	border-bottom:#CCCCCC 1px dotted;
	padding-bottom:10px;
	margin-bottom:15px;
}
.s02_con_box_07 .s02_box_14 {
	padding-bottom:10px;
}
.s02_con_box_07 .s02_box_14 > img {
	margin:0 10px 0 10px;
	display:inline;
	float:left;
}


.s02_con_box_08 {
	background:url("../images/s02_img_65.jpg") no-repeat right 10px;
	background-size: 100px;
	text-align:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
	border-top:#793D00 1px solid;
	border-bottom:#793D00 1px solid;	
}
.s02_con_box_08 h3 {
	font-size:24px;
	line-height:33px;
	padding:25px 100px 25px 0px;
}


.s02_con_box_09 {
	margin-left:10px;
	margin-bottom:20px;
	margin-right:10px;
}
.s02_con_box_09 h3 {
	/*background:url("../images/s02_img_28.jpg") no-repeat left top;*/
	text-align:center;
	color:#793D00;
	font-size:18px;
	line-height:21px;
    padding-left:0px;
}

.s02_con_box_10 {
	background:url("../images/s02_img_55.gif") no-repeat center bottom;
	padding-bottom:30px;
	margin:0 10px 40px 10px;
	text-align:left;
}
.s02_con_box_10 .s02_box_01{
	margin-bottom:20px;
}
.s02_con_box_10 .s02_box_01 .s02_box_02{
	width:100%;
	float:none;
	display:block;
}
.s02_con_box_10 .s02_box_01 .s02_box_02 p{
	font-size:13px;
	line-height:21px;
}
.s02_con_box_10 .s02_box_01 .s02_box_03{
	width:45%;
	float:right;
	display:inline;
	margin-left:5px;
}
.s02_con_box_10 .s02_box_01 .s02_box_03 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_10 .s02_box_04{
	margin-bottom:20px;
}
.s02_con_box_10 .s02_box_04 .s02_box_05{
	width:45%;
	float:left;
	display:inline;
	margin-right:5px;
}
.s02_con_box_10 .s02_box_04 .s02_box_05 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_10 .s02_box_04 .s02_box_06{
	width:100%;
	float:none;
	display:block;
}
.s02_con_box_10 .s02_box_04 .s02_box_06 p{
	font-size:13px;
	line-height:21px;
}
.s02_con_box_10 .s02_box_07 p {
	font-size:9px;
	line-height:13px;
	text-indent:-9px;
	margin-left:9px;
}


.s02_con_box_11 {
	margin:0 10px 40px 10px;
	text-align:left;
}
.s02_con_box_11 .s02_box_01 {
	margin:0 0px  10px 0px;
}
.s02_con_box_11 .s02_box_01 .s02_box_02	{
	display:inline;
	float:left;
	width:100%;	
}
	 
.s02_con_box_11 .s02_box_01 .s02_box_02 h3 {
	background:url("../images/s02_img_28.jpg") no-repeat left top;
	text-align:left;
	color:#793D00;
	font-size:16px;
	line-height:21px;
	padding-left:49px;
	margin-bottom:20px;
}	
.s02_con_box_11 .s02_box_01 .s02_box_03 {
	display:block;
	float:none;
	width:100%;	
}
.s02_con_box_11 .s02_box_01 .s02_box_03 p {
	font-size:13px;
	line-height:21px;
	padding-left:0px;
}
.s02_con_box_11 .s02_box_01 .s02_box_04 {
	display:inline;
	float: right;
	width:50%;
	margin-left:5px;
}
.s02_con_box_11 .s02_box_01 .s02_box_04 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_11 .s02_box_05 {
	margin-left:0px;
	margin-bottom:40px;
	text-align:center;
	width:100%;
}
.s02_con_box_11 .s02_box_05 ul li {
	display:inline;
	float:left;
	margin-left:1%;
	margin-right:1%;
	width:23%;
	
}
.s02_con_box_11 .s02_box_05 ul li img {
	max-width:100%;
	height:auto;
}
	
.s02_con_box_11 .s02_box_06 {
	background:#dd8422;
	padding-top:29px;
	padding-bottom:25px;
	margin:0 auto;
	width:100%;
}
.s02_con_box_11 .s02_box_06 .s02_box_07 {
	display:inline;
	float:block;
	width:100%;
	margin-left:10px;
	position:relative;
}
.s02_con_box_11 .s02_box_06 .s02_box_07 h3 {
	position:absolute;
	top:-50px;
	left:0px;
}
.s02_con_box_11 .s02_box_06 .s02_box_07 h4 {
	font-size:17px;
	color:#FFFFFF;
	line-height:24px;
	padding-top:45px;
	margin-bottom:10px;
}
.s02_con_box_11 .s02_box_06 .s02_box_08 {
	display:block;
	float:none;
	width:96%;
	margin-right:0px;
	padding:0 2%;
}
.s02_con_box_11 .s02_box_06 .s02_box_08 p {
	font-size:10px;
	line-height:17px;
	color:#000000;
	font-weight:bold;
}
.s02_con_box_11 .s02_box_06 .s02_box_08 img {
	display:inline;
	float:right;
	margin-left:10px;
}

.s02_con_box_12 {
	background:url("../images/s02_img_57.gif");
	padding-bottom:30px;
	margin:0 0 40px 0;
	text-align:left;
}
.s02_con_box_12 .s02_box_01 .s02_box_02 {
	display:block;
	float:none;
	width:90%;
	margin-left:5%;
	padding-top:15px;
	margin-bottom:20px;
	margin-right:5%;
}
.s02_con_box_12 .s02_box_01 .s02_box_02 h4 {
	background:#793d00;
	font-size:18px;
		border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	color:#FFFFFF;
	padding:2px 15px;
	text-align:center;
	margin:0 0 13px 0;
}
.s02_con_box_12 .s02_box_01 .s02_box_02 h3 {
	font-size:22px;
	line-height:27px;
	color:#000000;
}
.s02_con_box_12 .s02_box_01 .s02_box_02 h3 span {
	font-size:20px;
	display:inline;
	color:#000000;
}
.s02_con_box_12 .s02_box_01 .s02_box_03 {
	display:none;
	float:left;
	position:relative;
	margin-left:10px;
}
.s02_con_box_12 .s02_box_01 .s02_box_03 img {
	position:absolute;
	top:-80px;
	left:0px;
}

.s02_con_box_12 .s02_box_04 {
	background:#FFFFFF;
	margin:0 10px 0px 10px;
	padding-bottom:10px;
}

.s02_con_box_12 .s02_box_04 .s02_box_05 {
	margin:0 10px 20px 10px;
}

.s02_con_box_12 .s02_box_04 .s02_box_06 {
	display:block;
	float:none;
	width:100%;
	padding-top:2px;
	text-align:center;
}
.s02_con_box_12 .s02_box_04 .s02_box_06 p {
	font-size:11px;
	line-height:15px;
	padding-top:10px;
}

.s02_con_box_12 .s02_box_04 .s02_box_06 img {
	max-width:100%;
	height:auto;
}

.s02_con_box_12 .s02_box_04 .s02_box_07 {
	display:block;
	float:none;
	width:100%;
	padding-top:10px;
	margin-bottom:10px;
}
.s02_con_box_12 .s02_box_04 .s02_box_07 h4 {
	font-size:17px;
	line-height:23px;
	color:#793d00;
	margin-bottom:14px;
}
.s02_con_box_12 .s02_box_04 .s02_box_07 p {
	font-size:12px;
	line-height:17px;
}
.s02_con_box_12 .s02_box_04 .s02_box_08	{
		background:#793d00;
	font-size:16px;
		border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	color:#FFFFFF;
	padding:8px 10px 4px 10px;
	text-align:center;
	margin:0 10px 20px 10px;
	line-height:22px;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 {
	text-align:center;
	margin:0 10px 20px 10px;
	clear:both;
}
/*  追加 */
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_01 {
	position:relative;
	display:none;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_01 h4 {
	position: absolute;
	top:-35px;
	left:80px;
	z-index:1001;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_01 > p  {
	position: absolute;
	top:65px;
	left:20px;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 {
	float:none;
	display:block;
	margin-right:0px;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 li {
	width:100%;
	display:block;
	float:none;
	position:relative;
	text-align:left;
	clear:both;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 h5 {
	background:url("../images/s02_img_81.png") ;
	font-size:17px;
	text-align:center;
	color:#FFFFFF;
	width:38px;
	height:26px;
	padding-top:10px;
	padding-left:3px;
	margin:0 5px 3px 5px;
	display:inline;
	float:left;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 h4 {
	background:#e99921;
	font-size:16px;
	color:#FFFFFF;
	box-shadow:1px 1px 1px #999999;
	display:inline-block;
	line-height:19px;
	height:auto;
	padding:14px 5px 4px 5px;
	margin-bottom:4px;
	margin-top:3px;
	float:left;
	text-align:center;
	width:100px;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 h4 span {
	display:inline;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 h4 span.ruby_txt {
	position:absolute;
	top:2px;
	right: auto;
	left:40px;
	font-weight:normal;
	font-size:9px;
	line-height:13px;
}

.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 p {
	clear:both;
	font-size:11px;
	line-height:14px;
	padding:3px 10px 10px 10px;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 .s02_box_n_03 {
	background:#e6e3e8;
	height:auto;
	padding-top:10px;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 .s02_box_n_04 {
	background:#b4c49d;
	height:auto;
	padding-top:10px;
}
.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 .s02_box_n_05 {
	text-align:center;
}

.s02_con_box_12 .s02_box_04 .s02_box_09 .s02_box_n_02 .arrow {
	background:url("../images/s02_img_82.png") no-repeat ;
	width:20px;
	height:18px;
	text-indent:-9999px;
	display:inline-block;
	position:absolute;
	top:auto;
	bottom:-10px;
	right:50px;
	z-index:1000;
}
	
/* 追加 */

.s02_con_box_12 .s02_box_04 .s02_box_09 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_12 .s02_box_04 .s02_box_10 {
	margin:0 10px;
}
.s02_con_box_12 .s02_box_04 .s02_box_10 li {
	width:100%;
	display:block;
	float:none;
	margin-left:0px;
	margin-bottom:10px;
	border-bottom:#793d00 1px dotted;
	padding-bottom:10px;
	clear:both;
}
.s02_con_box_12 .s02_box_04 .s02_box_10 li h4 {
	color:#793d00;
	font-size:14px;
	margin-bottom:0px;
}
.s02_con_box_12 .s02_box_04 .s02_box_10 li p {
	padding:0 0px;
	font-size:13px;
	line-height:15px;
}
.s02_con_box_12 .s02_box_04 .s02_box_10 li .s02_box_11 {
	margin-bottom:10px;
	float:right;
	display:inline;
	width:50%;
	margin-left:5px;
	text-align:center;
}
.s02_con_box_12 .s02_box_04 .s02_box_10 li .s02_box_11 img {
	max-width:100%;
	height:auto;
}

.s02_con_box_12 .s02_box_12 {
	background:url("../images/s02_img_52.gif") ;
	border:2px #82886a solid;
	margin:0 10px 50px 10px;
	text-align:left;
		border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	padding:10px 15px;	
}

.s02_con_box_12 .s02_box_12 h3 {
	color:#793d00;
	font-size:20px;
	line-height:25px;
	margin-bottom:7px;
}
.s02_con_box_12 .s02_box_12 .s02_box_14 {
	display:block;
	float:none;
	width:100%;
}
.s02_con_box_12 .s02_box_12 .s02_box_14 p {
	font-size:13px;
	line-height:20px;
}
.s02_con_box_12 .s02_box_12 .s02_box_14 p.right_2 {
	text-align:right;
}
.s02_con_box_12 .s02_box_12 .s02_box_15 {
	width:139px;
	display:none;
	float:right;
	position:relative;
}

.s02_con_box_12 .s02_box_12 .s02_box_15 img {
	position:absolute;
	top:-30px;
}
.s02_con_box_12 .s02_box_16 {
	background:#dd8422;
	margin:0 10px;
}
.s02_con_box_12 .s02_box_16 .s02_box_17 {
	width:100%;
	display:block;
	float:left;
	margin-left:0px;
	padding-bottom:20px;
}
.s02_con_box_12 .s02_box_16 .s02_box_17 h3 {
	margin-left:20px;
	position:relative;	
}
.s02_con_box_12 .s02_box_16 .s02_box_17 h3 img {
	position: absolute;
	top:-20px;	
}
.s02_con_box_12 .s02_box_16 .s02_box_17 p {
	padding:70px 10px 0 10px;
	font-size:13px;
	line-height:18px;
	font-weight:bold;
}
.s02_con_box_12 .s02_box_16 .s02_box_18 {
	width:100%;
	display:block;
	float:none;
	margin-right:0px;
	padding-top:0px;
	text-align:center;
	padding-bottom:10px;
}
.s02_con_box_12 .s02_box_16 .s02_box_18 li {
	display:inline-block;
	float:none;
	margin-left:6px;
	margin-bottom:10px;
}

.s02_con_box_13 {
	border:2px #82886a solid;
	background:url("../images/s02_img_75.gif") ;
	margin:0 10px 50px 10px;
	text-align:left;
		border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	padding:12px 10px;	
}
.s02_con_box_13 .s02_box_01 {
	position:relative;
	width:100%;
	margin-bottom:20px;
}
.s02_con_box_13 .s02_box_01 img {
	position:absolute;
	top:-50px;
	left:-20px;
	width:65px;
	height:65px;
}
.s02_con_box_13 .s02_box_01 h3 {
	background:#FFFFFF;
		border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	color:#793d00;
	font-size:23px;
	line-height:30px;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:0px;
	margin-left:0px;
	text-align:center;
}	
.s02_con_box_13 .s02_box_01 h3 span {
	display:block;
	color:#ca6500;
	font-size:17px;
	margin-right:0px;
}
.s02_con_box_13 .s02_box_02 {
	position: relative;
	width:100%;
}
.s02_con_box_13 .s02_box_02 img {
	position: relative;
	right:0px;
	top:0px;
	max-width:100%;
	height:auto;
	float:left;
}
.s02_con_box_13 .s02_box_02 p {
	position: relative;
	right:0px;
	top:0px;
	width:100%;
	text-align:left;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	text-indent:-12px;
	padding-left:12px;
	padding-top:100px;
}
.s02_con_box_13 .s02_box_03 {
	font-size:13px;
	line-height:18px;
	width:100%;
	margin-bottom:10px;
}
.s02_con_box_13 .s02_box_04 {
	clear:both;
	padding-top:20px;
}
.s02_con_box_13 .s02_box_04 li {
	display:block;
	width:100%;
	float:none;
	margin-right:0px;
	clear:both;
	margin-bottom:10px;
}
.s02_con_box_13 .s02_box_04 li.last {
	margin-right:0px;
}
.s02_con_box_13 .s02_box_04 li p {
	font-size:13px;
	line-height:18px;
}
.s02_con_box_13 .s02_box_04 li .s02_box_05 {
	margin-bottom:0px;
	float:left;
	width:40%;
	margin-right:5%;
}
.s02_con_box_13 .s02_box_04 li .s02_box_05 img {
	width:100%;
	height:auto;
}

.s02_con_box_14 {
	border-top:#96AA76 1px dotted;
	border-bottom:#96AA76 1px dotted;
	margin:0 10px 10px 10px;
	text-align:left;
	padding:20px 0;
}
.s02_con_box_14 .s02_box_01 {
	width:100%;
	float:none;
	display:block;
}
.s02_con_box_14 .s02_box_02 {
	width:100%;
	float:none;
	display:block;
	padding-top:20px;
	margin-bottom:10px;
	text-align:center;
}
.s02_con_box_14 .s02_box_02 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_14 .s02_box_03 {
	width:100%;
	float:none;
	display:block;
	color:#793D00;
	font-size:16px;
	line-height:20px;
	margin-bottom:20px;
}
.s02_con_box_14 .s02_box_04 {
	width:40%;
	float:right;
	display:inline;
	margin-top:0px;
	margin-left:5px;
	text-align:center;
}
.s02_con_box_14 .s02_box_04 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_14 .s02_box_04 p {
	font-size:13px;
	text-align:right;
	padding-top:7px;
	margin-right:0px;
	font-weight:bold;
}
.s02_con_box_14 .s02_box_05 {
	width:100%;
	float:none;
	display:block;
}
.s02_con_box_14 .s02_box_05 p {
	font-size:13px;
	line-height:20px;
}

.s02_con_box_15 {
	margin:0 10px 30px 10px;	
}
.s02_con_box_15 .s02_box_01 {
	width:100%;
	float:none;
	display:block;
	margin-bottom:10px;
}
.s02_con_box_15 .s02_box_02 {
	width:100%;
	float:none;
	display:block;
	text-align:left;

}
.s02_con_box_15 .s02_box_03 {
	text-align:center;
}
.s02_con_box_15 .s02_box_03 img {
	max-width:100%;
	height:auto;
}
.s02_con_box_15 .s02_box_04 {
	margin-bottom:5px;
}
.s02_con_box_15 .s02_box_05 {
	width:100%;
	display:block;
	float:none;
	font-size:12px;
	line-height:17px;
	padding-top:10px;
	margin:0 10px 10px 10px;
}
.s02_con_box_15 .s02_box_06 {
	width:100%;
	display:inline;
	float:left;
	margin-bottom:20px;
}

.s02_con_box_15 .s02_box_06 li {
	display:inline;
	float:left;
	margin-right:2%;
	width:23.5%;
}
.s02_con_box_15 .s02_box_06 li.first {
	margin-bottom:0px;
}
.s02_con_box_15 .s02_box_06 li.second {
	margin-right:2%;
	margin-bottom:0px;
}
.s02_con_box_15 .s02_box_06 li.fourth {
	margin-right:0px;
}	
	
.s02_con_box_15 .s02_box_06 li .s02_box_07 {
	border:#d9d9d9 1px solid;
	background:#FFFFFF;
	padding:1px;
	text-align:center;
}
.s02_con_box_15 .s02_box_07 {
	text-align:center;
}
.s02_con_box_15 .s02_box_07 img {
	max-width:100%;
	height:auto;
}

.s02_con_box_16 {
	border-top:#96AA76 1px dotted;
	margin:0 10px 30px 10px;
	text-align:left;
	padding:20px 0 40px 0;
}
.s02_con_box_16 .s02_box_01 {
		border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	border:#793d00 2px solid;
	padding:13px 10px 10px 10px;
	text-align:center;
	font-size:14px;
	line-height:20px;
	
}
.s02_con_box_17 {
	margin:0 10px;
}
.s02_con_box_17 img {
	max-width:100%;
	height:auto;
}

.s02_t_map {
	position: static;
	text-align:center;
	clear:both;
}
.s02_t_map img {
	position: static;
	top:0px;
	right:0px;
}


}


@media (max-width: 490px) {
.s02_con_box_08 {
	background:url("../images/s02_img_65.jpg") no-repeat right 10px;
	background-size: 100px;
	text-align:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
	border-top:#793D00 1px solid;
	border-bottom:#793D00 1px solid;	
}
.s02_con_box_08 h3 {
	font-size:20px;
	line-height:33px;
	padding:25px 100px 25px 0px;
}

}

@media (max-width: 430px) {
.s02_con_box_08 {
	background:url("../images/s02_img_65.jpg") no-repeat right 10px;
	background-size: 70px;
	text-align:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
	border-top:#793D00 1px solid;
	border-bottom:#793D00 1px solid;	
}
.s02_con_box_08 h3 {
	font-size:20px;
	line-height:28px;
	padding:15px 70px 15px 0px;
}

}

@media (max-width: 400px) {
.s02_con_box_11 .s02_box_05 ul li {
	display:inline;
	float:left;
	margin-left:2%;
	margin-right:2%;
	width:46%;
	margin-bottom:2%;
	
}
.s02_con_box_11 .s02_box_05 ul li img {
	max-width:100%;
	height:auto;
}

.s02_con_box_08 {
	background:url("../images/s02_img_65.jpg") no-repeat right 10px;
	background-size: 70px;
	text-align:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
	border-top:#793D00 1px solid;
	border-bottom:#793D00 1px solid;	
}
.s02_con_box_08 h3 {
	font-size:16px;
	line-height:25px;
	padding:25px 70px 25px 0px;
}

}

@media (max-width: 340px) {
	
/*
.s02_intro1{ background:url(../images/s02_img01_s.png) no-repeat; margin-left:20px; height: 429px;text-indent: -10000px;}
.s02_intro2{ background:url(../images/s02_img02_s.png) no-repeat; margin-left:15px; height: 523px;text-indent: -10000px;}
.s02_illust{ background:url(../images/s02_img03_s.jpg) no-repeat; margin-bottom:-120px; margin-left:15px; height: 417px;text-indent: -10000px;}	

.s02_interview_tit{ background:url(../images/s02_interview_tit_s.jpg) no-repeat; margin:25px 0 5px 15px; height: 56px;text-indent: -10000px;}

.s02_onepoint{ background:url(../images/s02_onepoint_s.png) no-repeat; margin-left:15px; height: 267px;text-indent: -10000px;}

.s02_charm_tit{ background:url(../images/s02_charm_tit_s.png) no-repeat; margin-left:15px; height: 34px;text-indent: -10000px;}
.s02_charm01{ background:url(../images/s02_charm01_s.png) no-repeat; margin-left:12px; height: 191px;text-indent: -10000px;}
.s02_charm_img02{ background:url(../images/s02_charm02_s.jpg) no-repeat; margin-left:12px; height: 114px;text-indent: -10000px;}
.s02_charm_img03{ background:url(../images/s02_charm03_s.jpg) no-repeat; margin-left:12px; height: 114px;text-indent: -10000px;}
.s02_charm_img04{ background:url(../images/s02_charm04_s.jpg) no-repeat; margin-left:12px; height: 114px;text-indent: -10000px;}
.s02_charm_img05{ background:url(../images/s02_charm05_s.jpg) no-repeat; float:right; margin-left:12px; height: 181px;text-indent: -10000px;}
.s02_charm_txt{ margin:-10px 15px 10px 15px; text-align:left; font-size:12px;}

.s02_spec{ background:url(../images/s02_spec_s.png) no-repeat; margin-left:12px; height: 199px;text-indent: -10000px;}
.s02_spec_tit{ background:url(../images/s02_spec_tit_s.gif) no-repeat; margin-left:12px; height: 30px;text-indent: -10000px;}
*/
	
	
	
	
.s02_con_box_08 {
	background:url("../images/s02_img_65.jpg") no-repeat right 10px;
	background-size: 50px;
	text-align:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
	border-top:#793D00 1px solid;
	border-bottom:#793D00 1px solid;	
}
.s02_con_box_08 h3 {
	font-size:15px;
	line-height:23px;
	padding:15px 50px 12px 0px;
}

}




.s02_con_box_02 {
	text-align:left;
	/*margin-bottom:35px;*/
	margin-bottom:15px;
	padding-top:25px;
}


.s02_con_box_11 .s02_box_05 {
	margin-bottom:10px;
}

.box_chumon {
clear:both;
margin-top:0px;
}


.box_btn_chumon {
width:100%;
margin:0 auto 20px;
text-align:center;
}

.box_btn_chumon .s02_box_08{
	font-size:12px;
	padding-top:7px;
	padding:0 20px;
}


@media (max-width: 640px) {

.box_btn_chumon img{
width:94%;
margin-top:10px;
}


}

