/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


.wrap_con {
    width:946px;
	text-align:center;
	margin:10px auto 20px;
	padding-top:20px;
	padding-bottom:10px;
	background:#FFF;
	-webkit-box-shadow: 0 0 5px 0 #333; /* Safari, Chrome用 */
	-moz-box-shadow: 0 0 5px 0 #333; /* Firefox用 */
	box-shadow: 0 0 5px 0 #333; /* CSS3 */
}

.mb15 {
	margin:0 auto 15px;
}

.mb20 {
	margin:0 auto 20px;
}

.mb35 {
	margin:0 auto 35px;
}

.wrap_con .wrap_main {
	margin:0;
	margin-left:24px;
	margin-bottom:35px;
	width:882px;
	background-image:url("/contents/shop/00000003/image/static/img/unbrella/main.jpg");
	background-position:right top;
	background-repeat:no-repeat;
}


.wrap_main .k_inner01{
	margin:17px auto 20px 17px;
	width:520px;
	font-size:14px;
	color:#333;
	line-height:170%;
}

.wrap_main .k_inner02{
	margin:35px auto 20px 17px;
	width:870px;
	font-size:16px;
	color:#004364;
	line-height:160%;
}


.line{
	margin:0 auto;
	width:880px;
	padding-top:28px;
	padding-bottom:28px;
}


.osusume{
	margin:0 auto;
	width:860px;
	text-align:left;
}

.osusume p{
	line-height:160%;
	font-size:14px;
}


.movie{
	margin:0 auto 50px;
	width:750px;
}


.designer{
	border:#CCC solid 1px;
	width:888px;
	height:248px;
	background-image:url("/contents/shop/00000003/image/static/img/unbrella/kajimoto.jpg");
	background-position:15px 15px;
	background-repeat:no-repeat;
	margin:auto;
	margin-bottom:35px;
	margin-top:20px;
}

.designer .kinner{
	margin:25px auto auto 216px;
	width:650px;
}

.designer p.txtk01{
	font-size:16px;
	margin-bottom:15px;
	line-height:160%;
}

.designer p.txtk02{
	font-size:12px;
	color:#999;
	line-height:160%;
}

.designer p.txtk03{
	font-size:14px;
	line-height:160%;
}





.mt30mb50 {
	margin:30px auto 50px;
}

.wrap_price {
    width:710px;
	text-align:left;
	margin:24px auto 30px;
	border:#ccc solid 1px;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:25px;
}


.box_priceleft{
	float:left;
	display:inline-block;
}


.box_priceright{
	float:right;
	display:inline-block;
}

.wrap_price p.txt01{
	color:#392C19;
	line-height:150%;
	font-size:13px;
	margin:15px auto 30px;
	padding-top:15px;
	padding-bottom:15px;
	border-top:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
}

.wrap_price p.txt02{
	font-size:20px;
	margin-bottom:15px;
}

.wrap_price p.txt03{
	margin-bottom:15px;
}

iframe{
	width:750px;
	height:422px;
}



.wrap_pan{
	margin-left: auto; margin-right: auto; width: 960px;
}




@media screen and (max-width: 640px) {
 

.wrap_con {
    width:100%;
	text-align:center;
	margin:20px auto 20px;
	padding-top:7px;
	padding-bottom:20px;
	background:#FFF;
	-webkit-box-shadow: 0 0 5px 0 #333; /* Safari, Chrome用 */
	-moz-box-shadow: 0 0 5px 0 #333; /* Firefox用 */
	box-shadow: 0 0 5px 0 #333; /* CSS3 */
}

.wrap_pan{
	margin-left: auto; margin-right: auto; width: 96%; height:100px;bgcolor:#000;
}


.image100 {
	display:block;
    width:100%;
	margin:0 auto;
}

.image96 {
	display:block;
    width:96%;
	margin:0 auto;
}

.image40 {
	display:block;
    width:40%;
	margin:0 auto 10px 0;
}

.wrap_con .wrap_main {
	margin:0 auto;
	width:98%;
	background-image:url("/contents/shop/00000003/image/static/img/unbrella/main.jpg");
	background-position:center top;
	background-repeat:no-repeat;
	padding-top:420px;
}

.wrap_main .k_inner01{
	margin:0 auto 20px auto;
	width:96%;
	font-size:14px;
	color:#333;
	line-height:170%;
}

.wrap_main .k_inner02{
	margin:25px auto 20px auto;
	width:96%;
	font-size:15px;
	color:#004364;
	line-height:160%;
}

.mb20 {
	margin:0 auto 15px;
}

.wrap_price {
    width:92%;
	text-align:left;
	margin:24px auto 30px;
	border:#ccc solid 1px;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:15px;
}

.box_priceleft{
	float:none;
	display:block;
	margin-bottom:15px;
	border-bottom:#ccc solid 1px;
}


.box_priceright{
	float:none;
	display:block;
}

.line{
	margin:0 auto;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}

.osusume{
	margin:0 auto;
	width:90%;
	text-align:left;
}

.osusume p{
	line-height:160%;
	font-size:14px;
	margin-top:15px;
}


.designer{
	border:#CCC solid 1px;
	width:96%;
	height:248px;
	background-image:url("/contents/shop/00000003/image/static/img/unbrella/kajimoto.jpg");
	background-position:5px 5px;
	background-repeat:no-repeat;
	margin:auto;
	margin-bottom:35px;
	margin-top:20px;
	background-size:30%;
}

.designer .kinner{
	margin:10px auto auto 33%;
	width:65%;
}

.movie{
	margin:0 auto 50px;
	width:96%;
	text-align:center;
}

iframe{
	width:300px;
	height:169px;
}


}



@media screen and (max-width: 480px) {

.designer{
	border:#CCC solid 1px;
	width:96%;
	height:auto;
	background-image:url("/contents/shop/00000003/image/static/img/unbrella/kajimoto.jpg");
	background-position:5px 5px;
	background-repeat:no-repeat;
	margin:auto;
	margin-bottom:35px;
	margin-top:20px;
	background-size:30%;
}

.designer .kinner{
	margin:5px auto auto 35%;
	width:62%;
}

}