#contents_in img {
	max-width: initial;
}

#contents_in .mainImg {
	margin-bottom: 52px;
}

#contents_in .topBox {
	margin-bottom: 38px;
}

#contents_in .topBox p {
	margin-bottom: 0;
	line-height: 2.0;
}

#contents_in .headLine01 {
	margin-bottom: 27px;
	padding-bottom: 23px;
	background-image: url(/contents/shop/00000003/image/static/syokutaku/feature2/12/h2_bg.gif);
}

#contents_in .headLine01 .bg {
	padding: 0 5px 5px;
	display: inline-block;
	background: url(/contents/shop/00000003/image/static/syokutaku/feature2/12/line01.gif) repeat-x left bottom;
}

#contents_in p {
	margin-bottom: 30px;
	letter-spacing: 0.5px;
	line-height: 1.9;
}

#contents_in .photList {
	margin-bottom: 47px;
}

#contents_in .photList li {
	float: left;
	width: 280px;
	font-size: 14px;
	margin-right: 30px;
}

#contents_in .photList li:nth-child(2n) {
	margin: 0;
}

#contents_in .photList02 {
	margin-top: 39px;
	margin-bottom: 37px;
}

#contents_in .photList02 li {
	float: left;
	width: 570px;
	font-size: 14px;
	margin-right: 60px;
}

#contents_in .photList02 li:last-child {
	margin-right: 0;
}

#contents_in .photList02 li img {
	margin-bottom: 11px;
}

#contents_in .photList03 {
	margin-bottom: 43px;
}

#contents_in .photList03 li {
	float: left;
	width: 517px;
	text-align: left;
	font-size: 14px;
	line-height: 1.5;
	margin-right: 25px;
}

#contents_in .photList03 li:nth-child(2n) {
	margin: 0;
	width: 552px;
}

#contents_in .txtBox02 {
	margin-bottom: 71px;
}

#contents_in .imgBox {
	margin-bottom: 65px;
	clear: both;
}

#contents_in .imgBox.imgBox02 {
	margin-bottom: 35px;
}

#contents_in .imgBox .imgBoxL {
	float: left;
	width: 570px;
	margin-right: 40px;
}

#contents_in .imgBox .imgBoxR {
	float: right;
	width: 590px;
}

#contents_in .imgBox .txtBox p {
	margin-bottom: 31px;
}

#contents_in .imgBox .txtBox p:last-child {
	margin-bottom: 0px;
}

#contents_in .imgBox .phoBox {
	margin-top: 3px;
}

#contents_in .imgBox .phoBox .txt {
	margin-top: 12px;
	display: block;
	font-size: 14px;
}

#contents_in .headLine02 {
	margin-bottom: 20px;
	padding-top: 3px;
	color: #a52237;
	font-size: 22px;
}

#contents_in .h3Ttl {
	margin-bottom: 24px;
}

#contents_in .list {
	margin: -36px 0 80px;
}

#contents_in .list li {
	margin-top: 36px;
	float: left;
}

#contents_in .list li span {
	margin-top: 10px;
	display: block;
	font-size: 14px;
}

#contents_in .list li:nth-child(2n) {
	float: right;
}

#contents_in .bgPho03 {
	margin-bottom: 50px;
	padding: 94px 0 90px;
	box-sizing: border-box;
	height: 461px;
	background-image: url(/contents/shop/00000003/image/static/syokutaku/feature2/12/photo10.jpg);
	text-align: center;
}

#contents_in .bgPho p {
	margin-bottom: 19px;
}

#contents_in .bgPho .ttl {
	margin-bottom: 25px;
}

#contents_in .bgPho p:nth-child(3) {
	margin-bottom: 10px;
}

#contents_in .comLink a {
	background-color: #A52237;
	border-color: #67071B;
}

#contents_in .comLink a:hover {
	opacity: 0.95;
	background-color: #A52237;
}

#contents_in .secretBox {
	margin-top: 40px;
	margin-bottom: 49px;
	padding: 49px 49px 43px;
	border: 4px solid #A52237;
	text-align: center;
}

#contents_in .secretBox .secret_Ttl {
	margin-bottom: 21px
}

#contents_in .secretBox p {
	font-size: 16px;
	line-height: 1.875;
	margin-bottom: 40px;
}

#contents_in .secretBox .secretBoxTxt01 {
	margin-bottom: 40px;
}

#contents_in .secretBox .secretBoxTxt02 {
	margin: 40px auto 0;
}

#contents_in .noticeBox {
	width: 1000px;
	margin: 0 auto;
	padding: 47px 0;
	border-color: #A52237;
}

#contents_in {
	padding-bottom: 40px;
}
























@media screen and (max-width:767px) {
	#contents_in .mainImg {
		margin-bottom: 25px;
	}

	#contents_in .mainBox {
		padding-top: 0;
	}

	#contents_in .topBox {
		margin-bottom: 0;
	}

	#contents_in .topBox p {
		font-size: 13px;
		line-height: 2.1;
	}

	#contents_in .headLine01 {
		margin-bottom: 11px;
		padding-bottom: 16px;
	}

	#contents_in .headLine01 .bg {
		padding: 0 5px;
		display: inline;
		background-size: 3px 5px;
	}

	#contents_in p {
		margin-bottom: 19px;
		line-height: 1.55;
		letter-spacing: normal;
	}

	#contents_in .text01 {
		margin-bottom: 25px;
	}

	#contents_in .photList {
		width: 100%;
		margin: 0 auto 9px;
	}

	#contents_in .photList li {
		margin-bottom: 15px;
		margin-right: 0;
		float: none;
		width: auto;
		font-size: 12px;
	}

	#contents_in .photList li:last-child {
		margin-bottom: 0;
	}

	#contents_in .photList li img {
		width: 100%;
	}

	#contents_in .photList02 {
		width: 83%;
		margin: 0 auto 21px;
	}

	#contents_in .photList02 li {
		margin-bottom: 13px;
		margin-right: 0;
		float: none;
		width: auto;
		font-size: 12px;
	}

	#contents_in .photList02 li:last-child {
		margin-bottom: 0;
	}

	#contents_in .photList02 li img {
		margin-bottom: 5px;
		width: 100%;
	}

	#contents_in .photList03 {
		width: 71%;
		margin: 0 auto 22px;
	}

	#contents_in .photList03 li {
		margin-bottom: 15px;
		margin-right: 0;
		float: none;
		width: 100%;
		font-size: 13px;
		line-height: 1.4;
	}

	#contents_in .photList03 li:nth-child(2n) {
		margin: 0;
		width: 100%;
	}

	#contents_in .photList03 li img {
		width: 100%;
	}

	#contents_in .imgBox {
		margin-bottom: 38px;
	}

	#contents_in .imgBox {
		margin-bottom: 25px;
		clear: both;
	}

	#contents_in .imgBox .imgBoxL {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	#contents_in .imgBox .imgBoxR {
		float: none;
		width: 100%;
	}

	#contents_in .imgBox .phoBox {
		margin: 0 8.19%;
		float: none;
		width: auto;
	}
	
	#contents_in .imgBox .phoBox.imgBoxL,
	#contents_in .imgBox .phoBox.imgBoxR{
		margin-top: 20px;
	}

	#contents_in .imgBox .phoBox img {
		width: 100%;
	}

	#contents_in .imgBox .phoBox .txt {
		margin-top: 8px;
		font-size: 12px;
	}

	#contents_in .imgBox .txtBox {
		margin-bottom: 0;
		float: none;
		width: auto;
	}

	#contents_in .imgBox .txtBox p {
		margin-bottom: 22px;
	}
	
	#contents_in .imgBox.imgBox02 {
	margin-bottom: 23px;
}

	#contents_in .headLine02 {
		margin-bottom: 10px;
		font-size: 15px;
	}

	#contents_in .txtBox02 {
		margin-bottom: 27px;
	}

	#contents_in .list {
		margin: 0 0 40px;
	}

	#contents_in .list li {
		width: 50%;
		height: inherit !important;
		margin-top: 27px;
	}

	#contents_in .list li:last-child {
		margin-bottom: 0;
	}

	#contents_in .list li img {
		width: 100%;
	}

	#contents_in .list li span {
		margin: 9px 0 -4px;
		font-size: 12px;
		line-height: 1.25;
	}

	#contents_in .bgPho {
		margin: 0 0 25px;
	}

	#contents_in .bgPho03 {
		padding: 63px 0 53px;
		height: inherit;
		background-image: url(/contents/shop/00000003/image/static/syokutaku/feature2/12/photo10.jpg);
		background-size: cover;
	}

	#contents_in .bgPho .ttl {
		margin-bottom: 14px !important;
		text-align: center;
	}

	#contents_in .bgPho .ttl img {
		margin: 0 auto;
		width: 33.04%;
	}

	#contents_in .bgPho p {
		margin-bottom: 15px;
	}

	#contents_in .bgPho p:nth-child(3) {
		margin-bottom: 3px;
	}

	#contents_in .comLink a {
		padding: 14px 5px;
	}

	#contents_in .comLink a:hover {
		opacity: 1;
	}

	#contents_in .comLink {
		width: 65%;
	}

	#contents_in .secretBox {
		padding: 7.09% 3.77% 0;
		border: 1px solid #A52237;
		text-align: left;
		margin-top: 35px;
		margin-bottom: 25px;
	}

	#contents_in .secretBox .secret_Ttl {
		margin-bottom: 13px
	}

	#contents_in .secretBox p {
		font-size: 13px;
		line-height: 1.6;
	}

	#contents_in .secretBox .secretBoxTxt01 {
		margin-bottom: 12px;
	}

	#contents_in .secretBox .secretBoxTxt02 {
		margin: 20px auto 0;
		padding-bottom: 20px;
	}

	#contents_in .noticeBox {
		width: 100%;
		padding: 26px 25px;
	}

	#contents_in {
		padding-bottom: 0px;
	}

}
