@charset "UTF-8";

@media all and (-ms-high-contrast:none) {
	body { font-family: "メイリオ",Meiryo,"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif; }
}

.contents .main-visual { margin-bottom: 60px; }
.contents .lead_text { margin-bottom: 42px; font-size: 18px; text-align: center; line-height: 35px; }
.contents .lead_text .lead_text_green { color: #49832a; font-size: 26px; font-weight: bold; }
.contents .lead_text .lead_text_orange { color: #f85e13; font-size: 21px; font-weight: bold; }

.contents .bg_border_wrap { position: relative; height: 13px; margin-bottom: 54px; }
.contents .bg_border_wrap .bg_border { position: absolute; top: 0; left: -5px; width: 1210px; height: 13px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_dotted.png") no-repeat left top; }

.contents .reserve_title { margin-bottom: 20px; }
.contents .reserve_inner { margin-bottom: 20px; }
.contents .reserve_inner .reserve_inner_left { float: right; width: 459px; padding-top: 130px; }
.contents .reserve_inner .reserve_inner_left p { font-size: 18px; line-height: 36px; }
.contents .reserve_inner .reserve_inner_left p:first-child { margin-bottom: 35px; }
.contents .reserve_inner .reserve_inner_right { float: right; width: 741px; }
.contents .reserve_detail .reserve_detail_btn { width: 370px; margin: 0 auto; }
.contents .reserve_detail .reserve_detail_btn a { display: block; position: relative; padding: 18px; border-radius: 4px; background-color: #f87f13; box-shadow: 0 4px #bc5900; color: #fff; font-size: 18px; text-decoration: none; text-align: center; }
.contents .reserve_detail .reserve_detail_btn a:hover { box-shadow: 0 0 #bc5900; transform: translateY(4px); }
.contents .reserve_detail .reserve_detail_btn a span { position: relative; padding-right: 30px; }
.contents .reserve_detail .reserve_detail_btn a span:before { position: absolute; top: 0; right: -20px; bottom: 0; width: 6px; height: 6px; margin: auto; border-top: 1px solid #fff; border-right: 1px solid #fff; vertical-align: middle; content: ""; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.contents .reserve_detail.reserve_detail_single { width: 1160px; height: 160px; margin: 0 auto 130px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_02.jpg") no-repeat left top; }
.contents .reserve_detail.reserve_detail_single .reserve_detail_single_inner { margin: 0 auto; padding-top: 50px; padding-bottom: 49px; }
.contents .reserve_detail.reserve_detail_single .reserve_detail_single_inner .reserve_detail_title { float: left; margin-right: 32px; }
.contents .reserve_detail.reserve_detail_single .reserve_detail_single_inner .reserve_detail_btn { float: left; margin-right: 18px; }

.contents .reserve_01 .reserve_detail { width: 1160px; height: 581px; margin: 0 auto 120px; padding: 64px 74px 0 70px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_01.jpg") no-repeat left top; }
.contents .reserve_01 .reserve_detail .reserve_detail_left { float: left; width: 450px; margin-right: 116px; }
.contents .reserve_01 .reserve_detail .reserve_detail_right { float: left; width: 450px; }
.contents .reserve_02 .reserve_detail.reserve_detail_single .reserve_detail_single_inner { width: 840px; }
.contents .reserve_03 .reserve_detail.reserve_detail_single { margin-bottom: 100px; }
.contents .reserve_03 .reserve_detail.reserve_detail_single .reserve_detail_single_inner { width: 920px; }

.contents .reserve_list { width: 1180px; margin: 0 auto; }
.contents .reserve_list .reserve_list_inner { float: left; width: 580px; height: 741px; margin-right: 20px; margin-bottom: 20px; padding: 74px 80px 70px 84px; }
.contents .reserve_list .reserve_list_inner:nth-child(2n) { margin-right: 0; }
.contents .reserve_list .reserve_list_inner:nth-last-child(1),
.contents .reserve_list .reserve_list_inner:nth-last-child(2) { margin-bottom: 0; }
.contents .reserve_list .reserve_list_inner.bg_green { background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_03.jpg") no-repeat left top; }
.contents .reserve_list .reserve_list_inner.bg_orange { background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_04.jpg") no-repeat left top; }
.contents .reserve_list .reserve_list_inner.bg_green_long { height: 771px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_05.jpg") no-repeat left top; }
.contents .reserve_list .reserve_list_inner.bg_orange_long { height: 771px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_06.jpg") no-repeat left top; }
.contents .reserve_list .reserve_list_inner.bg_green_long_02 { height: 793px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_07.jpg") no-repeat left top; }
.contents .reserve_list .reserve_list_inner.bg_orange_long_02 { height: 793px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/bg_image_08.jpg") no-repeat left top; }
.contents .reserve_list .reserve_list_inner .reserve_list_image { position: relative; margin-bottom: 25px; }
.contents .reserve_list .reserve_list_inner .reserve_list_image .reserve_list_title { position: absolute; top: -45px; left: -57px; }
.contents .reserve_list .reserve_list_inner .reserve_list_product_name { margin-bottom: 25px; color: #6c3403; font-size: 30px; text-align: center; line-height: 37px; }
.contents .reserve_list .reserve_list_inner .reserve_list_product_name .small_text { font-size: 22px; line-height: 40px; }
.contents .reserve_list .reserve_list_inner .reserve_list_icon { margin-bottom: 15px; text-align: center; }
.contents .reserve_list .reserve_list_inner .reserve_list_text { margin-bottom: 20px; font-size: 16px; text-align: center; line-height: 26px; }
.contents .reserve_list .reserve_list_inner .reserve_list_text.mb25 { margin-bottom: 25px; }
.contents .reserve_list .reserve_list_inner .reserve_list_text.mb50 { margin-bottom: 50px; }
.contents .reserve_list .reserve_list_inner .reserve_list_btn { width: 416px; margin: 0 auto; }
.contents .reserve_list .reserve_list_inner .reserve_list_btn a { display: block; position: relative; padding: 18px; border-radius: 4px; background-color: #f87f13; box-shadow: 0 4px #bc5900; color: #fff; font-size: 18px; text-decoration: none; text-align: center; }
.contents .reserve_list .reserve_list_inner .reserve_list_btn a:hover { box-shadow: 0 0 #bc5900; transform: translateY(4px); }
.contents .reserve_list .reserve_list_inner .reserve_list_btn a span { position: relative; padding-right: 30px; padding-left: 15px; }
.contents .reserve_list .reserve_list_inner .reserve_list_btn a span:before { position: absolute; top: 0; right: -35px; bottom: 0; width: 6px; height: 6px; margin: auto; border-top: 1px solid #fff; border-right: 1px solid #fff; vertical-align: middle; content: ""; -webkit-transform: rotate(45deg); transform: rotate(45deg); }


@media screen and (max-width: 767px) {
	.contents .main-visual { margin-bottom: 20px; }
	.contents .lead_text { margin-bottom: 20px; font-size: 12px; line-height: 23px; }
	.contents .lead_text .lead_text_green { font-size: 17px; }
	.contents .lead_text .lead_text_orange { font-size: 14px; }
	.contents .bg_border_wrap { height: 7px; margin-bottom: 12px; }
	.contents .bg_border_wrap .bg_border { position: static; width: 100%; height: 7px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/sp/bg_dotted.png") no-repeat left top; background-size: 100% auto; }

	.contents .reserve_title { width: 92%; margin: 0 auto 15px; }
	.contents .reserve_inner { width: 100%; margin: 0 auto; }
	.contents .reserve_inner .reserve_inner_left { float: none; width: 92%; margin: 0 auto 20px; padding-top: 0; }
	.contents .reserve_inner .reserve_inner_left p { font-size: 13px; line-height: 20px; }
	.contents .reserve_inner .reserve_inner_left p:first-child { margin-bottom: 20px; }
	.contents .reserve_inner .reserve_inner_right { float: none; width: 100%; margin-bottom: 10px; }
	.contents .reserve_detail .reserve_detail_btn { width: 100%; }
	.contents .reserve_detail .reserve_detail_btn a { padding: 13px; font-size: 15px; }
	.contents .reserve_detail .reserve_detail_btn a span { padding: 0; }
	.contents .reserve_detail.reserve_detail_single { width: 92%; height: auto; margin: 0 auto 45px; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/sp/bg_image_02.jpg") no-repeat left top; background-size: 100% 100%; }
	.contents .reserve_detail.reserve_detail_single .reserve_detail_single_inner .reserve_detail_title { float: none; width: 100%; margin-right: 0; margin-bottom: 18px; }
	.contents .reserve_03 .reserve_detail.reserve_detail_single .reserve_detail_btn { float: none; }

	.contents .reserve_01 .reserve_detail { width: 92%; min-height: 670px; height: auto; margin: 0 auto 45px; padding: 25px 7.5%; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/sp/bg_image_01.jpg") no-repeat left top; background-size: 100% 100%; }
	.contents .reserve_01 .reserve_detail .reserve_detail_left { float: none; width: 100%; margin-right: 0; padding-bottom: 16.6551%; }
	.contents .reserve_01 .reserve_detail .reserve_detail_left .reserve_detail_title { width: 100%; }
	.contents .reserve_01 .reserve_detail .reserve_detail_right { float: none; width: 100%; margin-bottom: 15px; }
	.contents .reserve_01 .reserve_detail .reserve_detail_right .reserve_detail_title { width: 100%; }
	.contents .reserve_02 .reserve_detail.reserve_detail_single .reserve_detail_single_inner { width: 84.0579%; padding-top: 34px; padding-bottom: 39px; }
	.contents .reserve_03 .reserve_detail.reserve_detail_single { margin-bottom: 40px; }
	.contents .reserve_03 .reserve_detail.reserve_detail_single .reserve_detail_single_inner { width: 84.0579%; padding-top: 34px; padding-bottom: 38px; }

	.contents .reserve_list { width: 100%; }
	.contents .reserve_list .reserve_list_inner { float: none; width: 92%; height: auto; margin: 0 auto 15px; padding: 9.4202% 7.5%; }
	.contents .reserve_list .reserve_list_inner:nth-child(2n) { margin-right: auto; }

	.contents .reserve_list .reserve_list_inner.bg_green_sp { height: auto; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/sp/bg_image_03.jpg") no-repeat left top; background-size: 100% 100%; }
	.contents .reserve_list .reserve_list_inner.bg_orange_sp { height: auto; background: url("/contents/shop/00000003/image/static/syokutaku/feature11/sp/bg_image_04.jpg") no-repeat left top; background-size: 100% 100%; }

	.contents .reserve_list .reserve_list_inner .reserve_list_image { margin-bottom: 10px; }
	.contents .reserve_list .reserve_list_inner .reserve_list_image .reserve_list_title { top: -9.9649%; left: -4.2631%; width: 26.1403%; }
	.contents .reserve_list .reserve_list_inner .reserve_list_product_name { margin-bottom: 10px; font-size: 21px; line-height: 30px; white-space: nowrap; }
	.contents .reserve_list .reserve_list_inner .reserve_list_product_name .small_text { font-size: 15px; line-height: 30px; }
	.contents .reserve_list .reserve_list_inner .reserve_list_icon { width: 64.1379%; margin: 0 auto 20px; }
	.contents .reserve_list .reserve_list_inner .reserve_list_text { font-size: 13px; line-height: 20px; }
	.contents .reserve_list .reserve_list_inner .reserve_list_text.mb25,
	.contents .reserve_list .reserve_list_inner .reserve_list_text.mb50 { margin-bottom: 20px !important; }
	.contents .reserve_list .reserve_list_inner .reserve_list_btn { width: 100%; }
	.contents .reserve_list .reserve_list_inner .reserve_list_btn a { padding: 14px; font-size: 15px; }
	.contents .reserve_list .reserve_list_inner .reserve_list_btn a span { padding-left: 0; }
	.contents .reserve_list .reserve_list_inner .reserve_list_btn a span:before { right: 0; }
}


@media screen and (max-width: 360px) {
	.contents .reserve_detail .reserve_detail_btn a { font-size: 12px; }
	.contents .reserve_detail .reserve_detail_btn a span { padding-right: 15px; }

	.contents .reserve_list .reserve_list_inner .reserve_list_btn a { font-size: 12px; }
	.contents .reserve_list .reserve_list_inner .reserve_list_btn a span { padding-right: 15px; }
}
